<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ritzley</title>
        <meta name="description" content="One Page Layout">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
        <link rel="stylesheet" href={% static "styles/vendor.css" %}>
        <link rel="stylesheet" href={% static "styles/bootstrap.css" %}>
        <link rel="stylesheet" href={% static "styles/main.css" %}>
        <link id="primary_color_scheme" rel="stylesheet" href={% static "styles/qplay.css" %}>

    </head>
    <body>
        <div id="load"></div>

        <div class="page home">
            <!-- Start Nav Section-->
            <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="#" class="navbar-brand"><img src={% static "img/logo-white.png" %} alt="" class="logo-white"><img src={% static "img/logo-dark.png" %} alt="" class="logo-dark"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right service-nav">

                            <!-- ///uncomment this for using login screen/// -->

                            <!--  <li><a id="dropdownMenuLogin" href="#" data-toggle="dropdown" class="upper dropdown-toggle">Login</a> -->
                            <!--  <div aria-labelledby="dropdownMenuLogin" class="dropdown-menu widget-box">
                               <form>
                                 <div class="form-group">
                                   <label class="sr-only">Username or Email</label>
                                   <input type="text" value="" placeholder="Username or Email" name="" class="form-control input-lg">
                                 </div>
                                 <div class="form-group">
                                   <label class="sr-only">Password</label>
                                   <input type="password" value="" placeholder="Password" name="" class="form-control input-lg">
                                 </div>
                                 <div class="form-inline form-group">
                                   <button type="button" class="btn btn-primary btn-xs">Login</button>
                                   <div class="checkbox">
                                     <label>
                                       <input type="checkbox"><small> Remember me</small>
                                     </label>
                                   </div>
                                 </div><a href="#"><small>Lost your Password?</small></a>
                               </form>
                             </div> -->

                            <!--/// login ends ///-->


                            <!-- if user already signed in, use this code -->
                            <li class="stitching-tab"><a href="stitching.html" title="Stitching center"><i class="fa fa-scissors fa-lg"></i>Stitching Center</a>

                            </li>
                                    {% if request.user.username %}
                                      
                                            <li class="dropdown"><a href="#" title="jennifer doe" data-toggle="dropdown" class="upper dropdown-toggle" id="menu_item_Blog" data-ref="#" class="dropdown-toggle"><img class="signed-user" src="img/joe.jpg">{{ request.user.username }}<span class="caret"></span></a>
                                              
                                                  <ul aria-labelledby="menu_item_Blog" class="dropdown-menu">
                                                          <li><a href="/accounts/profile/" title="Profile"><i class="fa fa-user"></i>Profile</a></li>
                                                          <li><a href="#" title="Orders"><i class="fa fa-gift"></i>Orders</a></li>
                                                          <li><a href="#" title="Add your measurement"><i class="fa fa-scissors"></i>Add your measurements</a></li>
                                                          <li><a href="{% url 'customer:logout' %}"  title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                                                  </ul>

                            </li>
                                    {% endif %}
                            <li  {% if request.user.username %}style="display:none;" {% endif %}>
                                <!--Button trigger modal--> 
                                <a data-toggle="modal" href="#myModal">
                                    Login/Sign Up
                                </a>

                                <!--Modal--> 
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel"></h4>
                                            </div>
                                            <div class="modal-body">
                                                <!--<div role="tabpanel">-->

                                                <!--Nav tabs--> 
                                                <!--                                  <ul class="nav nav-tabs" role="tablist">
                                                                                    <li role="presentation" class="active"><a href="#hom" aria-controls="hom" role="tab" data-toggle="tab">Home</a></li>
                                                                                    <li role="presentation"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">Profil</a></li>
                                                                                    </ul>
                                                -->
                                                <!--                                   Tab panes 
                                                                                  <div class="tab-content">
                                                                                    <div role="tabpanel" class="tab-pane active" id="hom">.sdfghj..
                                                                                       
                                                                                    </div>
                                                                                    <div role="tabpanel" class="tab-pane" id="profil">...</div>
                                                                                   
                                                                                  </div>-->

                                                <!--</div>-->
                                                <div class="left-content">
                                                <ul class="tabs sign-in">
                                                    <li>
                                                        <input type="radio" id="tab1" name="tabs" checked="">
                                                        <label for="tab1" class="tab-label">Login</label>
                                                        <div class="tab-content tab-con animated fadeIn" id="tab-content1">
                                                            <div class="left-side">
                                                            <form action="/accounts/login/" method="post">
                                                            {% csrf_token %}
                                                              
                                                                <input type="text" value="" placeholder="Username or Email" name="username" class="form-control input-lg"><br>

                                                                <input type="password" value="" placeholder="Password" name="password" class="form-control input-lg"><br><br>
                                                                <a href="/accounts/reset/">Forgot Password</a>
                                                                <input type="submit" class="btn btn-primary" value="Login">
                                                              </form>
                                                            </div>
                                                            {% if messages %}
                                                                <ul class="messages">
                                                                    {% for message in messages %}
                                                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                                {% endif %}
                                      <!--<div class="r-side">
                                                                                                     
                                                                 Sign In With
                                                                <a href="#">
                                                                    <img src={% static "images/facebook-login.jpg" %}></a>

                                                            </div>-->
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <input type="radio" id="tab2" name="tabs">
                                                        <label for="tab2" class="tab-label">Sign Up</label>
                                                        <div class="tab-content tab-con animated fadeIn" id="tab-content2">
                                                        <form action="/accounts/signup/" method="post" onsubmit="return val();">
                                                            {% csrf_token %}
                                                            <div class="signup left-side">
                                                               
                                                                <input type="text" value="" placeholder="Email" name="email" class="form-control input-lg" required><br>
                                                                <input type="password" id="id_pass" value="" placeholder="Password" name="password" class="form-control input-lg" required ><br>
                                                                <input type="password" value="" id="id_pass_confirm" placeholder="Re-Enter Password" name="" class="form-control input-lg" required><br><br>
                                                                <input type="submit" class="btn btn-primary" value="Sign Up">

                                                            </div>
                                                            </form>
<!--                                                            <div class="r-side">
                                                                Sign Up With
                                                                <a href="#">
                                                                    <img src={% static "images/fb-connect.png" %} class="sign"></a>

                                                            
</div>                                                        </div>-->
                                                        </div>
                                                    </li>


                                                </ul>
                                                </div>
                                                <div class="right-content">
                                                     <div class="r-side">
                                                         <label>
                                                             OR
                                                         </label><br>
                                                                <a href="#">
                                                                <fb:login-button style="padding-left:60px;padding-top:35px" data-size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">
                  </fb:login-button >
                  <div id="status">
                  </div>
                                                                  <!--  <img src={% static "images/fb-connect.png" %} class="sign"> --></a>

                                                            
</div>                                     
                                                </div>
                                                <!--                                <div class="left-side">
                                                                                     Login
                                                                                     <br>
                                                                                <input type="text" placeholder="User Name" class="login"><br>
                                                                                
                                                                                <input type="text" placeholder="Password" class="login"><br><br>
                                                                                 <input type="button" class="btn btn-primary" value="Login">
                                                                                </div>
                                                                                <div class="r-side">
                                                                                    Sign In With
                                                                                    <a href="#">
                                                                                        <img src={% static "images/facebook-login.jpg" %}></a>
                                                                                   
                                                                                </div>
                                                                                
                                                                                
                                                                                <div class="signup left-side">
                                                                                    Sign Up<br>
                                                                                     <input type="text" placeholder="E-mail Address" class="login"><br>
                                                                                     <input type="password" placeholder="Password" class="login"><br>
                                                                                     <input type="password" placeholder="Re-Enter Password" class="login"><br>
                                                                                </div>
                                                                                 <div class="r-side">
                                                                                    Sign Up With
                                                                                    <a href="#">
                                                                                        <img src={% static "images/fb-connect.png" %} class="sign"></a>
                                                                                   
                                                                                </div>-->






                                            </div>
<!--                                            <div class="modal-footer">
                                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                                        <button type="button" class="btn btn-primary">Save changes</button>
                                                                                      </div>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!--                                <ul class="nav nav-tabs" role="tablist" id="myTab">
                                                                      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                                                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                                                                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                                                                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                                                                </ul>
                                
                                                                <div class="tab-content">
                                                                      <div role="tabpanel" class="tab-pane active" id="home">...</div>
                                                                    <div role="tabpanel" class="tab-pane active" id="profile">..asdfghjkl;.</div>
                                                                    <div role="tabpanel" class="tab-pane active" id="messages">..testingg.</div>
                                                                    <div role="tabpanel" class="tab-pane" id="settings">...</div>
                                                                </div>-->
                            </li>

                            <!-- signed in code ends -->


                            <li><a id="dropdownMenuCart" href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-shopping-cart fa-lg"></i>&nbsp;<span class="badge">2</span></a>
                                <div aria-labelledby="dropdownMenuCart" class="dropdown-menu widget-box">
                                    <div class="shopping_cart_dropdown">
                                        <ul class="cart_list product_list_widget">
                                            <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/1.jpg" %}><span>Lilly white</span></a>
                                                <h5 class="quantity">645.00</h5>
                                            </li>
                                            <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/4.jpg" %}><span>Lotus blossom</span></a>
                                                <h5 class="quantity">820.00</h5>
                                            </li>
                                            <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/3.jpg" %}><span>Le girl</span></a>
                                                <h5 class="quantity">580.00</h5>
                                            </li>
                                            <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/6.jpg" %}><span>Dark pearl</span></a>
                                                <h5 class="quantity">925.00</h5>
                                            </li>

                                        </ul>
                                        <div class="total">
                                            <h6>Subtotal</h6><span>&#x20B9;&nbsp;2970.00</span>
                                        </div>
                                        <div class="action-button"><a href="cart.html" class="btn btn-dark btn-bordered btn-xs upper">View Cart</a><a href="checkout.html" class="btn btn-primary btn-xs upper">Checkout</a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
                    </div>
                </div>
            </nav>

            {% block content %}
  
            {% endblock content %}

            <!-- Start Footer section-->
            <section class="footers">
                <footer id="footer">
                    <div class="inner sep-bottom-md">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="widget sep-top-lg"><img src={% static "img/logo-white.png" %} alt="" class="logo"><small class="sep-top-xs sep-bottom-md">Dolor church-key veniam, fap Bushwick mumblecore irure Vice consectetur 3 wolf moon sapiente literally quinoa.</small>

                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <div class="widget sep-top-lg">
                                        <h6 class="upper widget-title">Visit Us</h6>
                                        <ul class="widget-address sep-top-xs">
                                            <li><i class="fa fa-map-marker fa-lg"></i><small>Ritzley inc<br>682305, India</small></li>
                                            <li><i class="fa fa-envelope fa-lg"></i><small><a href="#">info@ritzley.com /</a><br><a href="#">support@ritzley.com</a></small></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6">
                                    <div class="widget sep-top-lg">
                                        <h6 class="upper widget-title">Stay connected</h6>
                                        <ul class="social-icon sep-top-xs">
                                            <li><a href="#" class="fa fa-twitter fa-lg"></a></li>
                                            <li><a href="#" class="fa fa-facebook fa-lg"></a></li>
                                            <li><a href="#" class="fa fa-google-plus fa-lg"></a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="copyright sep-top-xs sep-bottom-xs">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12"><small>Copyright 2015 © QplayTech Private Limited. All rights reserved.</small></div>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>
            <!-- End Footer section-->
            <div id="back_to_top"><a href="#" class="fa fa-arrow-up fa-lg"></a></div>
        </div>

        <script src={% static "js/bootstrap.min.js" %}></script>
        <script src={% static "js/jquery.js" %}></script>

        <script src={% static "scripts/vendor/modernizr.js" %}></script>
        <noscript>
        <link rel="stylesheet" href={% static "styles/styleNoJs.css" %}>
        </noscript>
        <script src={% static "scripts/vendor/vendor.js" %}></script>
        <script src={% static "scripts/vendor/bootstrap.js" %}></script>
        <script src={% static "scripts/vendor/bootstrap-extend.js" %}></script>
        <script src={% static "scripts/main.js" %}></script>   
        <script>
            $(function () {
                $('#myTab a:last').tab('show')
            })
        </script>
        <script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1443658532619198',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    // statusChangeCallback(response);
    if (!response.session) {
        //initiate FB OAuth js popup dialog
        FB.ui({
            method: 'oauth',
            display: 'page',
            scope: 'email',
            perms: 'email'
        },
        function(response) {
            if (response.session) { //if permission Allowed
                var thesession = response.session;
                var thesession = eval('(' + thesession + ')'); //decode json
                //POSTing to local file get.user_graph.php, to fetch user info
                $.ajax({
                    type: "POST",
                    url: "get.user_graph.php",
                    data: "client_id=<?php echo $appId; ?>&client_secret=<?php echo $secret; ?>&sessions="+thesession.session_key+"&type=client_cred&uid="+thesession.uid,
                    dataType: "text",
                    success: function(user_graph){
                        var user_graph1 = eval('('+user_graph+')');
                        alert(user_graph1.name); //users name
                        alert(user_graph1.id); //users id
                        alert(user_graph1.email); //users email
                        alert(user_graph1.link); //users profile link
                    }
                });
            } else {
                //if permission Not Allowed
            }
        });
    }
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {

      // response = JSON.stringify(response);

      var id = response.id;
      var email = response.email;
      var first_name = response.first_name;
      var gender = response.gender;
      var last_name = response.last_name;
      var name = response.name;

      var data = id + "/" + email+ "/" + first_name + "/" + last_name + "/" + name + "/" + gender;

      var url = "{% url 'customer:getFBLogin' 0 0 0 0 0 0 %}".replace('0/0/0/0/0/0', data);

      console.log(url);

      $.ajax({
        type: 'GET',
        url: url,
        data: "",
        success: function(data){
          alert('You are now logged in!');
          window.location.reload(true);
        },
        error: function(xhr, type, exception) { 
          alert("ajax error response type "+type);
        }
      });


      console.log('Successful login for: ' + response.name);
      console.log(response);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<script type="text/javascript">
  function val(){
    var pass = $("#id_pass").val();
    var cpass = $("#id_pass_confirm").val();
    if(pass != cpass){
      alert("Passwords do not match");
      return false;
    }
  }
</script>
    </body>

</html>

