<!DOCTYPE html>
{% load staticfiles %}
{% load thumbnail %}

<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  {% block metatags %}
  <title>Ritzley</title>
  <meta name="copyright" content="Ritzley">
  <meta name="description" content="Ritzley is a boutique based ecommerce website">
  <meta name="keywords" content="ritzley, boutique, ecommerce">
  <meta name="robots" content="index, follow">
  <meta name="DC.title" content="Ritzley is a boutique based ecommerce website">
  {% endblock metatags %}
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
  <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
  <link rel="icon" href={% static "favicon.ico" %} type="image/x-icon">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
  <link rel="stylesheet" href={% static "styles/vendor.css" %}>
  <link rel="stylesheet" href={% static "styles/bootstrap.css" %}>
  <link rel="stylesheet" href={% static "styles/main.css" %}>
  <link id="primary_color_scheme" rel="stylesheet" href={% static "styles/qplay.css" %}>
  <link rel="stylesheet" href={% static "scripts/vendor/toastr/toastr.min.css" %}>
  
  <!-- xxx-->
  <!-- xxx-->

  {% block styles %}
  
  {% endblock styles %}

</head>

<body>
  <!-- <img src="http://ritzshop1.asia/setcookie/{{ request.cookie_name }}/" style="display:none;"> -->


  <!-- base 2.html -->
  <div id="load"></div>

  <!-- Dynamically apply class to this div -->
  <div class="page">
    <!-- Start Nav Section-->
    
    <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="http://ritzley.com" class="navbar-brand"><img src={% static "img/logo-white.png" %} alt="" class="logo-white"><img src={% static "img/logo-dark.png" %} alt="" class="logo-dark"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right service-nav">
           <li class="stitching-tab"><a href="http://ritzley.com/stitching/" title="Stitching center"><i class="fa fa-scissors fa-lg"></i>Stitching Center</a></li>

           {% if request.user.username %}

           <li class="dropdown"><a href="#" title="jennifer doe" data-toggle="dropdown" class="upper dropdown-toggle" id="menu_item_Blog" data-ref="#" class="dropdown-toggle">
            <!-- <img class="signed-user" src={% static "img/joe.jpg" %}> -->
            {{ request.user.first_name }}<span class="caret"></span></a>

            <ul aria-labelledby="menu_item_Blog" class="dropdown-menu">
              <li><a href="http://ritzley.com{% url 'customer:profile' %}" title="Profile"><i class="fa fa-user"></i>Profile</a></li>
              <li><a href="http://ritzley.com/accounts/order-history/" title="Order history"><i class="fa fa-book"></i>Order History</a></li>
              <li><a href="{% url 'customer:logout' %}" onclick="return eraseCookie('rld_id')" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
            </ul>

          </li>
          {% endif %}

          <li {% if request.user.username %} style="display:none;" {% endif %}>
            <!--Button trigger modal--> 
            <a data-toggle="modal" href="#myModal">
              Login/Sign Up
            </a>

            <!--Modal--> 
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                  </div>
                  <div class="modal-body">

                    <div class="left-content">
                      <ul class="tabs sign-in">
                        <li>
                          <input type="radio" id="tab1" name="tabs" checked="">
                          <label for="tab1" class="tab-label">Login</label>
                          <div class="tab-content tab-con animated fadeIn" id="tab-content1">

                            <div class="left-side">
                              <form action="/accounts/login/" method="POST" onsubmit="return val_log();">{% csrf_token %}
                                <input type="text" placeholder="Enter E-mail ID" class="login" name="username" id="id_username1"><br>
                                <input type="password" placeholder="Enter Password" class="login" name="password" id="id_password1"><br>
                                <label style="padding:0px;"><input type="checkbox" name="keep" id="id_keep" /> Keep Signed In</label><br>
                                <button type="submit" class="btn btn-primary">Login</button><br />
                                <a href="/accounts/reset/" class="primary">Forgot Password?</a>
                              </form>

                            </div>

                          </div>
                        </li>

                        <li>
                          <input type="radio" id="tab2" name="tabs">
                          <label for="tab2" class="tab-label">Sign Up</label>
                          <div class="tab-content tab-con animated fadeIn" id="tab-content2">
                            <div class="signup left-side">

                              <form action="/accounts/signup/" method="POST" onsubmit="return val_sign();">{% csrf_token %}
                                <input type="text" placeholder="Enter firstname" class="login" name="username" id="id_username2"><br />
                                <input type="email" placeholder="Enter E-mail ID" class="login" name="email" id="id_email"><br />
                                <input type="password" placeholder="Enter Password" class="login" name="password" id="id_password2"><br /><br />
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                              </form>

                            </div>

                          </div>
                        </li>
                      </ul>
                      <br />
                    </div>

                    <div class="right-content">
                     <div class="r-side">
                       <label>
                         OR
                       </label><br>

                       <a href="#">
                        <fb:login-button style="padding-left:60px;padding-top:35px" data-size="xlarge" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button >
                        <div id="status"></div>
                      </a>

                    </div>                                     
                  </div>

                  <span id="resp" class="text-danger"></span>

                </div>

              </div>
            </div>
          </div>
        </li>

        <!-- signed in code ends -->


        <!-- cart begins -->
        <li {% if not request.user.username %} style="display:none;" {% endif %}>
          <a id="dropdownMenuCart" href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-shopping-cart fa-lg"></i>&nbsp;
            {% if request.session.cart_items|length %}
            <span class="badge">{{ request.session.cart_items|length }}</span>
            {% endif %}

          </a>
          <div aria-labelledby="dropdownMenuCart" class="dropdown-menu widget-box" style="width:305px">
            <div class="shopping_cart_dropdown" style="max-height:500px; overflow-y: scroll; overflow-x: hidden;">

              <ul class="cart_list product_list_widget">

                {% for item in request.session.cart_items %}

                {% if item.type|slugify == "product" or item.type|slugify == "stitching" %}

                <li>
                  <a href="#" onclick="javascript:delete_item('{{ item.id }}', '{{ item.name }}');" class="delete"><i class="fa fa-close"></i></a>

                  <a href="http://{{ item.url }}/{{ item.name|slugify }}_{{ item.tid }}/">
                    {% thumbnail item.image "60x65" crop="top" as image %}
                    <img src="{{ image.url }}" alt="{{ item.name }}" alt="" class="img-responsive" />
                    {% endthumbnail %}
                    <span>{{ item.name }}</span>
                  </a>
                  <h5 class="quantity">₹&nbsp;{{ item.price }}</h5>
                </li>

                {% endif %}

                {% if item.patterns|length > 0 %}

                {% if item.type|slugify == "stitching" %}

                <li>
                  <a href="#" onclick="javascript:delete_stitching_item('{{ item.id }}', '{{ item.name }}');" class="delete"><i class="fa fa-close"></i></a>

                  <a href="http://{{ item.st_url }}/">
                    {% thumbnail item.st_image "60x65" crop="top" as image %}
                    <img src="{{ image.url }}" alt="{{ item.name }}" alt="" class="img-responsive" />
                    {% endthumbnail %}
                    <span>{{ item.st_name }} Stitching Cost</span>
                  </a>
                  <h5 class="quantity">₹&nbsp;{{ item.st_price }}</h5>
                </li>

                {% endif %}

                {% if item.type|slugify == "custom" %}

                <li>
                  <a href="#" onclick="javascript:delete_item('{{ item.id }}', '{{ item.name }}');" class="delete"><i class="fa fa-close"></i></a>

                  <a href="http://{{ item.st_url }}/">
                    {% thumbnail item.st_image "60x65" crop="top" as image %}
                    <img src="{{ image.url }}" alt="{{ item.st_name }}" alt="" class="img-responsive" />
                    {% endthumbnail %}
                    <span>{{ item.st_name }} Stitching Cost</span>
                  </a>
                  <h5 class="quantity">₹&nbsp;{{ item.st_price }}</h5>
                </li>

                {% endif %}
                {% endif %}
                {% endfor %}

              </ul>

              {% if request.session.cart_items|length %}
              <div class="total">
                <h6>Subtotal</h6><span>&#x20B9;&nbsp;{{ request.session.total_cart_items }}</span>
              </div>
              {% else %}
              <span class="text-primary">No Items in your Cart</span>
              {% endif %}
              <div class="action-button" style="dispaly:inline-flex">
                {% if request.session.cart_items|length %}<a href="http://ritzley.com/cart/" class="btn btn-primary btn-xs upper" style="margin: 15px 0 0 10px;">View Cart</a>{% endif %}
                {% if request.session.cart_items|length %}<a href="http://ritzley.com/cart/" class="btn btn-primary btn-xs upper">Checkout</a>{% endif %}
              </div>
            </div>
          </div>
        </li>
        <!-- cart ends -->

      </ul>

      <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
    </div>
  </div>
</nav>
</div>

{% block content %}

{% endblock content %}

<div class="modal fade" id="global_faq_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="text-align: center;">FAQ</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 item-success" id="id_faq_full">Ritzley FAQ</div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- Start Footer section-->
<section class="footers">
  <footer id="footer">
    <div class="inner sep-bottom-md">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="widget sep-top-lg"><img src={% static "img/logo-white.png" %} alt="" class="logo"></div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="widget sep-top-lg">
              <h6 class="upper widget-title">Visit Us</h6>
              <ul class="widget-address sep-top-xs">
                <li><i class="fa fa-map-marker fa-lg"></i><small>Ritzley inc<br>682305, India</small></li>
                <li><i class="fa fa-envelope fa-lg"></i><small><a href="#">info@ritzley.com /</a><br><a href="#">support@ritzley.com</a></small></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="widget sep-top-lg">
             <h6 class="upper widget-title">Navigation</h6>
             <ul class="social-icon sep-top-xs">
              <li><a href="#" >Sitemap</a></li>
              <li><a href="#" id="faqfooter" data-toggle="modal" data-target="#global_faq_dialog">FAQ</a></li>
            </ul>
          </div>
        </div>


        <div class="col-md-3 col-sm-6">
          <div class="widget sep-top-lg">
           <h6 class="upper widget-title" id="fb_title"></h6>
           <ul class="social-icon sep-top-xs" id="social">
           </ul>
         </div>
       </div>

     </div>
   </div>
 </div>
 <div class="copyright sep-top-xs sep-bottom-xs">
  <div class="container">
    <div class="row">

      <div class="col-md-12"><small id="copyright"><!-- To be added laterCopyright 2015 © QplayTech Private Limited. All rights reserved.--></small></div>

    </div>
  </div>
</div>
</footer>
</section>
<!-- End Footer section-->
<div id="back_to_top"><a href="#" class="fa fa-arrow-up fa-lg"></a></div>

<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/jquery.js" %}></script>
<script src={% static "scripts/vendor/modernizr.js" %}></script>
<noscript>
  <link rel="stylesheet" href={% static "styles/styleNoJs.css" %}>
</noscript>

<script src={% static "scripts/vendor/vendor.js" %}></script>
<script src={% static "scripts/vendor/bootstrap.js" %}></script>
<script src={% static "scripts/vendor/bootstrap-extend.js" %}></script>
<script src={% static "scripts/main.js" %}></script>

<script src={% static "scripts/vendor/toastr/toastr.min.js" %}></script>


<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>


<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1443658532619198',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    // statusChangeCallback(response);
    if (!response.session) {
        //initiate FB OAuth js popup dialog
        FB.ui({
          method: 'oauth',
          display: 'page',
          scope: 'email',
          perms: 'email'
        },
        function(response) {
            if (response.session) { //if permission Allowed
              var thesession = response.session;
                var thesession = eval('(' + thesession + ')'); //decode json
                //POSTing to local file get.user_graph.php, to fetch user info
                $.ajax({
                  type: "POST",
                  url: "get.user_graph.php",
                  data: "client_id=<?php echo $appId; ?>&client_secret=<?php echo $secret; ?>&sessions="+thesession.session_key+"&type=client_cred&uid="+thesession.uid,
                  dataType: "text",
                  success: function(user_graph){
                    var user_graph1 = eval('('+user_graph+')');
                        alert(user_graph1.name); //users name
                        alert(user_graph1.id); //users id
                        alert(user_graph1.email); //users email
                        alert(user_graph1.link); //users profile link
                      }
                    });
              } else {
                //if permission Not Allowed
              }
            });
}
});

};

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {

      // response = JSON.stringify(response);

      var id = response.id;
      var email = response.email;
      var first_name = response.first_name;
      var gender = response.gender;
      var last_name = response.last_name;
      var name = response.name;

      if(email == ""){
        toastr.error("Access Denied to Your Facebook profile!", 'Ritzley');
        toastr.error("Please Signup using your Email account!", 'Ritzley');
        return;
      }

      data = id+"/"+email+"/"+first_name+"/"+last_name+"/"+name+"/"+gender;
      var url = "{% url 'customer:getFBLogin' 0 0 0 0 0 0 %}".replace('0/0/0/0/0/0', data);

      $.ajax({
        type: 'GET',
        url: url,
        data: "",
        success: function(data){
          if(data == "1"){
            toastr.success("Login Successful", 'Ritzley');
            window.location.reload(true)
          } else if(data == "2"){
            toastr.success("Registration Success! Please set a password!", 'Ritzley');
            document.location = "/accounts/get_pass/"
          }
        },
        error: function(xhr, type, exception) { 
          alert("Error occured in facebook login : "+type);
        }
      });

      console.log('Successful login for: ' + response.name);
      console.log(response);
    });
}
</script>

<script type="text/javascript">

  function validateEmail(email) {
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }

  function val_log(){
    var user = $("#id_username1").val();
    var pass = $("#id_password1").val();

    if(user.length==0){
      $("#resp").text("Enter Email Id");
      return false;
    } else if(!validateEmail(user)){
      $("#resp").text("Enter Valid Email ID");
      return false;
    } else if(pass.length==0){
      $("#resp").text("Enter Password");
      return false;
    }

  }

  function val_sign(){
    var user = $("#id_username2").val();
    var email = $("#id_email").val();
    var pass = $("#id_password2").val();

    if(user.length==0){
      $("#resp").text("Enter Username");
      return false;
    } else if(email.length==0){
      $("#resp").text("Enter Email ID");
      return false;
    } else if(!validateEmail(email)){
      $("#resp").text("Enter Valid Email ID");
      return false;
    } else if(pass.length==0){
      $("#resp").text("Enter Password");
      return false;
    }
  }

  $(document).ready(function() {

    {% if messages %}

    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

    toastr.success('{{ message }}', 'Ritzley');

    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

    toastr.error('{{ message }}', 'Ritzley');

    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}

    toastr.warning('{{ message }}', 'Ritzley');

    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}

    toastr.info('{{ message }}', 'Ritzley');

    {% endif %}

    {% endfor %}

    {% endif %}

    // // Display a info toast, with no title
    // toastr.info('Are you the 6 fingered man?');
    // // Display a warning toast, with no title
    // toastr.warning('My name is Inigo Montoya. You killed my father, prepare to die!');
    // // Display a success toast, with a title
    // toastr.success('Have fun storming the castle!', 'Miracle Max Says');
    // // Display an error toast, with a title
    // toastr.error('I do not think that word means what you think it means.', 'Inconceivable!');

  });

</script>


<!-- Cookie setting section -->
<script>
//   $(document).ready(function() {

//     var session_id = readCookie('sessionids');

//     var logged_in = {{ request.session.logged_in }};

//     if(session_id != null && logged_in == 0){
//       document.cookie="sessionid="+session_id;
//       eraseCookie("sessionids");
//       window.location.reload();
//     }

//   });

// // Function for getting specific cookie value
// function createCookie(name,value,days) {
//   if (days) {
//     var date = new Date();
//     date.setTime(date.getTime()+(days*24*60*60*1000));
//     var expires = "; expires="+date.toGMTString();
//   }
//   else var expires = "";
//   document.cookie = name+"="+value+expires+"; path=/";
// }

// function readCookie(name) {
//   var nameEQ = name + "=";
//   var ca = document.cookie.split(';');
//   for(var i=0;i < ca.length;i++) {
//     var c = ca[i];
//     while (c.charAt(0)==' ') c = c.substring(1,c.length);
//     if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
//   }
//   return null;
// }

// function eraseCookie(name) {
//   createCookie(name,"",-1);
//   return true;
// }
</script>
<!-- Cookie setting section -->

<!-- Faq dynamically setting section -->
<script>  
  $(document).ready(function() {

    $.ajax({
      url: '/fetchfaq/',
      type: 'GET',
      complete: function(xhr, textStatus) {
      //called when complete
    },
    success: function(data, textStatus, xhr) {
      //called when successful
      if(data.length > 20){
        trimed_data = data.substr(0, 20)+"...";
      }

      // $("#faqfooter").html(trimed_data);
      $("#id_faq_full").html(data);
    },
    error: function(xhr, textStatus, errorThrown) {
      //called when there is an error
    }
  });
    
  });
</script>
<!-- Faq dynamically setting section -->

<!-- delete from cart ajax -->
<script type="text/javascript">

  function delete_item(item, name) {

    var url = '/cart/delete_ajax/'+ item +'/';

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'text',
      success: function(data, textStatus, xhr) {

        if(data == "-1"){
          toastr.error('Item is not in your cart!', 'Ritzley');
        } else if(data == "-2"){
          toastr.error('Missing arguments!', 'Ritzley');
        } else if(data == "-3"){
          toastr.error('Please login to your account!', 'Ritzley');
        } else if(data == "1"){
          toastr.success(name + ' removed from your cart!', 'Ritzley');
          setTimeout(function(){ window.location.reload(); }, 1000);
        }

      },
      error: function(xhr, textStatus, errorThrown) {
          //called when there is an error
          console.log("Error! "+textStatus+" = "+errorThrown);
        }
      });

    return false;
  }

  function delete_stitching_item(item, name) {

    var url = '/cart/delete_stitching_ajax/'+ item +'/';

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'text',
      success: function(data, textStatus, xhr) {

        if(data == "-1"){
          toastr.error('Item is not in your cart!', 'Ritzley');
        } else if(data == "-2"){
          toastr.error('Missing arguments!', 'Ritzley');
        } else if(data == "-3"){
          toastr.error('Please login to your account!', 'Ritzley');
        } else if(data == "1"){
          toastr.success(name + ' removed from your cart!', 'Ritzley');
          setTimeout(function(){ window.location.reload(); }, 1000);
        }

      },
      error: function(xhr, textStatus, errorThrown) {
          //called when there is an error
          console.log("Error! "+textStatus+" = "+errorThrown);
        }
      });

    return false;
  }


</script>
<!-- delete from cart ajax -->


<!-- analytics section -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59403049-2', 'auto');
  ga('send', 'pageview', "{{ request.META.HTTP_HOST }}");

</script>
<!-- analytics section -->


{% block scripts %}

{% endblock scripts %}

</body>

</html>