<!DOCTYPE html>
<html class="no-js">
{% load staticfiles %}
{% load thumbnail %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ritzley | {{boutique.name}}</title>
  <meta name="copyright" content="{{boutique.name}}">
  <meta name="description" content="{{boutique.description}}">
  <meta name="keywords" content="{{boutique.description}},{{boutique.location}}">
  <meta name="robots" content="index, follow">
  <meta name="DC.title" content="{{boutique.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
  <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
  <link rel="icon" href={% static "favicon.ico" %} type="image/x-icon">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
  <link rel="stylesheet" href={% static "styles/vendor.css" %}>
  <link rel="stylesheet" href={% static "styles/bootstrap.css" %}>
  <link rel="stylesheet" href={% static "styles/main.css" %}>
  <link id="primary_color_scheme" rel="stylesheet" href={% static "styles/qplay.css" %}>
  <script src={% static "scripts/vendor/modernizr.js" %}></script>
  <link href="slider/slider.css" rel="stylesheet" type="text/css" />
  <script src={% static "slider/thumbnail-slider.js" %} type="text/javascript"></script>
  <link rel="stylesheet" href={% static "scripts/vendor/toastr/toastr.min.css" %}>
   <!--  <noscript>
      <link rel="stylesheet" href={% static "styles/styleNoJs.css" %}>
    </noscript> -->
  </head>
  
  <body>
    <div id="load"></div>

    <div class="page boutique">
      <!-- Start Nav Section-->
      <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="http://ritzley.com" class="navbar-brand"><img src={% static "img/logo-white.png" %} alt="" class="logo-white"><img src={% static "img/logo-dark.png" %} alt="" class="logo-dark"></a>
          </div>

          {% if request.user.username %}

          {% if fav_boutique != 0 %}

          <div class="favourite inline-block">
            <a href="javascript:deltofav()" data-tooltip="Remove from Favourite" class="favourite" style="color: #CF1E75;" id="bfav">
              <i class="fa fa-heart fa-2x"></i></a>
            </div>

            {% else %}

            <div class="favourite inline-block">
              <a href="javascript:addtofav()" data-tooltip="Add to favourites" class="favourite" id="bfav">
                <i class="fa fa-heart fa-2x"></i></a>
                <span class="upper fav" id="upperfav">ADD TO FAVOURITE</span>
              </div>

              {% endif %}

              {% else %}

              <div class="favourite inline-block">
                <a href="#myModal" data-toggle="modal" data-tooltip="Add to favourites" class="favourite">
                  <i class="fa fa-heart fa-2x"></i></a>
                  <span class="upper fav">ADD TO FAVOURITE</span>
                </div>

                {% endif %}


                <div class="navbar-collapse collapse nav-right">
                  <ul class="nav navbar-nav navbar-right service-nav">


                    <!-- if user already signed in, use this code -->

                    <li class="stitching-tab"><a href="http://ritzley.com/stitching/" title="Stitching center"><i class="fa fa-scissors fa-lg"></i>Stitching Center</a></li>

                    {% if request.user.username %}

                    <li class="dropdown"><a href="#" title="jennifer doe" data-toggle="dropdown" class="upper dropdown-toggle" id="menu_item_Blog" data-ref="#" class="dropdown-toggle">
                      <!-- <img class="signed-user" src={% static "img/joe.jpg" %}> -->
                      {{ request.user.first_name }}<span class="caret"></span></a>

                      <ul aria-labelledby="menu_item_Blog" class="dropdown-menu">
                        <li><a href="http://ritzley.com{% url 'customer:profile' %}" title="Profile"><i class="fa fa-user"></i>Profile</a></li>
                        <li><a href="{% url 'customer:logout' %}" onclick="return eraseCookie('rld_id')" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                      </ul>

                    </li>
                    {% endif %}

                    <li {% if request.user.username %} style="display:none;" {% endif %}>
                      <!--Button trigger modal--> 
                      <a data-toggle="modal" href="#myModal">
                        Login/Sign Up
                      </a>

                      <!--Modal--> 
                      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">

                              <div class="left-content">
                                <ul class="tabs sign-in">
                                  <li>
                                    <input type="radio" id="tab1" name="tabs" checked="">
                                    <label for="tab1" class="tab-label">Login</label>
                                    <div class="tab-content tab-con animated fadeIn" id="tab-content1">

                                      <div class="left-side">
                                        <form action="/accounts/login/" method="POST" onsubmit="return val_log();">{% csrf_token %}
                                          <input type="text" placeholder="Enter E-mail ID" class="login" name="username" id="id_username1"><br>
                                          <input type="password" placeholder="Enter Password" class="login" name="password" id="id_password1"><br>
                                          <label style="padding:0px;"><input type="checkbox" name="keep" id="id_keep" /> Keep Signed In</label><br>
                                          <button type="submit" class="btn btn-primary">Login</button><br />
                                          <a href="/accounts/reset/" class="primary">Forgot Password?</a>
                                        </form>

                                      </div>

                                    </div>
                                  </li>

                                  <li>
                                    <input type="radio" id="tab2" name="tabs">
                                    <label for="tab2" class="tab-label">Sign Up</label>
                                    <div class="tab-content tab-con animated fadeIn" id="tab-content2">
                                      <div class="signup left-side">

                                        <form action="/accounts/signup/" method="POST" onsubmit="return val_sign();">{% csrf_token %}
                                          <input type="text" placeholder="Enter firstname" class="login" name="username" id="id_username2"><br />
                                          <input type="email" placeholder="Enter E-mail ID" class="login" name="email" id="id_email"><br />
                                          <input type="password" placeholder="Enter Password" class="login" name="password" id="id_password2"><br /><br />
                                          <button type="submit" class="btn btn-primary">Sign Up</button>
                                        </form>

                                      </div>

                                    </div>
                                  </li>
                                </ul>
                                <br />
                              </div>

                              <div class="right-content">
                               <div class="r-side">
                                 <label>
                                   OR
                                 </label><br>

                                 <a href="#">
                                  <fb:login-button style="padding-left:60px;padding-top:35px" data-size="xlarge" scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button >
                                  <div id="status"></div>
                                </a>

                              </div>                                     
                            </div>

                            <span id="resp" class="text-danger"></span>

                          </div>

                        </div>
                      </div>
                    </div>
                  </li>

                  <!-- signed in code ends -->

                  <!-- cart begins -->
                  <li {% if not request.user.username %} style="display:none;" {% endif %}>
                    <a id="dropdownMenuCart" href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-shopping-cart fa-lg"></i>&nbsp;
                      {% if request.session.cart_items|length %}
                      <span class="badge">{{ request.session.cart_items|length }}</span>
                      {% endif %}

                    </a>
                    <div aria-labelledby="dropdownMenuCart" class="dropdown-menu widget-box">
                      <div class="shopping_cart_dropdown" style="max-height:500px; overflow-y: scroll; overflow-x: hidden;">

                    <ul class="cart_list product_list_widget">

                      {% for item in request.session.cart_items %}

                      {% if item.type|slugify == "product" or item.type|slugify == "stitching" %}

                      <li>
                        <a href="#" onclick="javascript:delete_item('{{ item.id }}', '{{ item.name }}');" class="delete"><i class="fa fa-close"></i></a>

                        <a href="http://{{ item.url }}/{{ item.name|slugify }}_{{ item.tid }}/">
                          {% thumbnail item.image "60x65" crop="top" as image %}
                          <img src="{{ image.url }}" alt="{{ item.name }}" alt="" class="img-responsive" />
                          {% endthumbnail %}
                          <span>{{ item.name }}</span>
                        </a>
                        <h5 class="quantity">₹&nbsp;{{ item.price }}</h5>
                      </li>

                      {% endif %}

                      {% if item.patterns|length > 0 %}

                      {% if item.type|slugify == "stitching" %}

                      <li>
                        <a href="#" onclick="javascript:delete_stitching_item('{{ item.id }}', '{{ item.name }}');" class="delete"><i class="fa fa-close"></i></a>

                        <a href="http://{{ item.st_url }}/">
                          {% thumbnail item.st_image "60x65" crop="top" as image %}
                          <img src="{{ image.url }}" alt="{{ item.name }}" alt="" class="img-responsive" />
                          {% endthumbnail %}
                          <span>{{ item.st_name }} Stitching Cost</span>
                        </a>
                        <h5 class="quantity">₹&nbsp;{{ item.st_price }}</h5>
                      </li>

                      {% endif %}

                      {% if item.type|slugify == "custom" %}

                      <li>
                        <a href="#" onclick="javascript:delete_item('{{ item.id }}', '{{ item.name }}');" class="delete"><i class="fa fa-close"></i></a>

                        <a href="http://{{ item.st_url }}/">
                          {% thumbnail item.st_image "60x65" crop="top" as image %}
                          <img src="{{ image.url }}" alt="{{ item.st_name }}" alt="" class="img-responsive" />
                          {% endthumbnail %}
                          <span>{{ item.st_name }} Stitching Cost</span>
                        </a>
                        <h5 class="quantity">₹&nbsp;{{ item.st_price }}</h5>
                      </li>

                      {% endif %}
                      {% endif %}
                      {% endfor %}

                    </ul>

                  <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
                </div>
              </div>
            </nav>

            <!-- Start Home Section-->
            <section id="home" class="demo-1 boutique">
              <!--     Codrops top bar-->
              <div id="slider" class="sl-slider-wrapper fixed">
                <div class="sl-slider">
                  <!-- start slide-->
                  <div data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2" class="sl-slide">
                    <div {% if boutique.header_image %}
                      
                    style="background-image: url({{boutique.header_image.url}});" {%else%} style="background-image: url(/static/Unknown.jpg);" {% endif %} class="sl-slide-inner slide-small-width">
                      <div class="slide-container">
                        <div class="slide-content text-center">
                          
                        {% if boutique.logo %}
                        <img src="{{boutique.logo.url}}" alt="Ritzley" class="boutique-logo">
                        {% else %}
                        <img src="/static/Unknown.jpg" alt="Ritzley" class="boutique-logo">
                        {% endif %}

                          <h3 class="main-title">{{boutique.name}}&nbsp;<span class="text-primary">,{{boutique.location}}</span></h3>
                          <blockquote>

                            <h5 class="boutique-description">{{boutique.description}}</h5>


                            <div class="sep-top-md">
                              <form action="javascript:searching()" method="get" role="search" class="">
                                <div class="container">
                                  <div class="col-md-6 col-sm-12 col-xs-12 middle input-group theme-form-group">
                                    <div class="input-group"><span class="input-group-btn">
                                      <button type="submit" class="btn btn-search btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                                      <input type="text" placeholder="Search Products" class="form-control placeholder" id="search">
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </blockquote>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end slide-->
                </div>
                <!--       /sl-slider-->
              </div>
              <!--     /slider-wrapper-->
            </section>
            <!-- Start Shop section-->

            <section>
              <div class="ad-container">
                <div class="sep-bottom-md">
                  {% if boutique.placeholder_1 %}
                  {% if boutique.placeholder_1.name != "Unknown.jpg" %}
                  {% thumbnail boutique.placeholder_1 "350x441" crop="center" format="PNG" as image1 %}
                  <div class="col-md-4 col-sm-12 col-xs-12 feature-box ad">
                    <img class="img-responsive" src="{{image1.url}}" alt=""></div>
                    {% endthumbnail %}
                  {% endif %}
                  {% endif %}
                  
                  {% if boutique.placeholder_2 %}
                    {% if boutique.placeholder_2.name != "Unknown.jpg" %}
                    {% thumbnail boutique.placeholder_2 "895x443" crop="center" format="PNG" as image2 %}
                    <div class="col-md-8 col-sm-12 col-xs-12 feature-box ad">
                     <img class="img-responsive" src="{{image2.url}}" alt=""></div>
                     {% endthumbnail %}
                     {% endif %}
                     {% endif %}

                   </div>
                 </div>
               </section>


               <section>
                <div class="container">
                  <div class="row">

                    <!-- filter and catagory container for mobile view only. it will be hidden in normal desktop view   -->
                    <div class="mobview">
                      <h5 class="widget-title upper sep-bottom-xs">Filter by price</h5>
                      <div class="sep-bottom-lg">
                        <div class="filter_content">
                          <form method="get" class="validate">
                            <div class="filter_price_content">
                              <input type="text" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="10" data-slider-value="[20,60]" class="filter_price priceslider" id="">
                              <div class="sep-top-xs">
                                <h6 class="pull-right">&#x20B9;&nbsp;<span class="price_current slidervalue" id="">0-1300</span></h6>
                                <button type="button" class="btn btn-primary btn-xs filter-button upper sliderbutton" id="">Filter</button>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="mobview">
                     <h5 class="widget-title upper sep-bottom-xs">Products Categories</h5>
                     <ul class="widget widget-cat sep-bottom-lg">
                      <!-- Category Starts here-->
                      <li class="cat-item"><a href="#" class="upper" onclick="location.reload();">All</a></li>
                      {% for cate in category %}

                      <li class="cat-item"><a href="javascript:filtering('{{ cate.name }}')" class="upper">{{ cate.name }}</a></li>

                      {% endfor %}
                      <!-- Category ends here-->
                    </ul>
                  </div>

                  <!-- end mobile view -->

                  <div class="col-md-9 col-md-push-3" id="ajax">
             <!--  <div class="filter-prod">
                <form method="get" class="pull-right">
                  <div class="form-group">
                    <select name="orderby" class="form-control input-lg rounded primary">
                      <option selected="selected" value="">Default sorting</option>
                      <option value="popularity">Sort by popularity</option>
                      <option value="rating">Sort by average rating</option>
                      <option value="date">Sort by newness</option>
                      <option value="price">Sort by price: low to high</option>
                      <option value="price-desc">Sort by price: high to low</option>
                    </select>
                    <input type="hidden" value="product" name="post_type">
                  </div>
                </form>
              </div> -->

              <!-- New Arrival start-->
              <div class="row">

                <!-- start new arrival lists -->
                {% if boutique_products %}
                <div class="col-md-12 sep-bottom-md">
                  <h4 class="block-title">New Arrivals</h4></div>
                  <ul id="itemContainer1">
                    {% for product in boutique_products %}
                    <li>
                     <div class="col-md-3 col-sm-6 col-xs-6 sep-bottom-lg"><a href="{{product.name|slugify}}_{{product.id}}/" class="product-image outline-outward">
                      {% if product.image.all %}
                      {% with product.image.all|first as im %}
                      {% thumbnail im "470x750" crop="center" format="PNG" as image %}
                      <img src="{{ image.url }}" alt="Heaven White Shirt" class="img-responsive">
                      {% endthumbnail %}
                      {% endwith %}
                      {% else %}
                      <img src={% static "Unknown.jpg" %} alt="Heaven White Shirt" class="img-responsive">
                      {% endif %}
                    </a>
                    <div class="product-title text-center"><span class="upper">{{ product.category.name }}</span>
                      <p>{{ product.name }}</p>
                      <h6 class="stich-status">{{product.stitching}}</h6>
                      <h6 class="stich-status">{{product.color.name}}</h6>
                    </div>
                    <div class="product-detail">
                      <div class="text-center price-shop">
                        {% if product.discount_amount != 0 %}
                        <del>&#x20B9;&nbsp;{{ product.price }}</del><ins>&#x20B9;&nbsp;{{ product.discount_amount }}</ins>
                        {% else %}
                        <ins>&#x20B9;&nbsp;{{ product.price }}</ins>
                        {% endif %}
                      </div>

                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
              {% else %}
              <div class="col-md-12 sep-bottom-md">
                <h4>No products found for this Boutique</h4></div>
                {% endif %}
                <!-- New Arrivals each product end-->
                
                <div class="clearfix"></div><br />
                <div class="text-center">
                  <div id="holder1"></div>

                </div>

              </div>
              <!-- New Arrival End-->
              
              {% if boutique_products %}
              <!-- Special Offers start-->
              <div class="col-md-12 sep-bottom-lg"><h4 class="block-title">Special Offers</h4></div>
              <div class="row">

                <ul id="itemContainer2">
                  <!-- Special Offers each  product start-->
                  {% for product in boutique_products %}
                  {% if product.discount_amount != 0 %}
                  <li>
                    <div class="col-md-3 col-sm-6 col-xs-6 sep-bottom-lg"><a href="{{product.name|slugify}}_{{product.id}}/" class="product-image outline-outward">
                      {% if product.image.all %}
                      {% with product.image.all|first as im %}
                      {% thumbnail im "470x750" crop="center"  format="PNG" as image %}
                      <img src="{{ image.url }}" alt="{{ product.name }}" class="img-responsive">
                      {% endthumbnail %}
                      {% endwith %}
                      {% else %}
                      <img src={% static "Unknown.jpg" %} alt="Only You" class="img-responsive">
                      {% endif %}
                      <span class="bullet">{{product.discount}}%</span></a>
                      <div class="product-title text-center"><span class="upper">{{product.category.name}}</span>
                        <p>{{product.name}}</p>
                        <h6 class="stich-status">{{product.stitching}}</h6>
                        <h6 class="stich-status">{{product.color.name}}</h6>
                      </div>
                      <div class="product-detail">
                        <div class="text-center price-shop">
                          <del>&#x20B9;&nbsp;{{product.price}}</del><ins>&#x20B9;&nbsp;{{product.discount_amount}}</ins>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
                <!-- Special Offers each  product end-->

              </div>
              {% endif %}
              <!-- Special Offers start-->

              <div class="clearfix"></div><br />
              <div class="text-center">
                <div id="holder2"></div>

              </div>
            </div>


            <div class="col-md-3 col-md-pull-9 sep-top-md">
              <h5 class="widget-title upper sep-bottom-xs">Filter by price</h5>
              <div class="sep-bottom-lg">
                <div class="filter_content">
                  <form method="get" class="validate">
                    <div class="filter_price_content">
                      <input type="text" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="10" data-slider-value="[20,60]" class="filter_price priceslider" id="">
                      <div class="sep-top-xs">
                        <h6 class="pull-right">&#x20B9;&nbsp;<span class="price_current slidervalue" id="">0-1300</span></h6>
                        <button type="button" class="btn btn-primary btn-xs filter-button upper sliderbutton" id="">Filter</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>

              <h5 class="widget-title upper sep-bottom-xs">Products Categories</h5>
              <ul class="widget widget-cat sep-bottom-lg">
                <!-- Category Starts here-->
                <li class="cat-item"><a href="#" class="upper" onclick="location.reload();">All</a></li>
                {% for cate in category %}

                <li class="cat-item"><a href="javascript:filtering('{{ cate.name }}')" class="upper">{{ cate.name }}</a></li>

                {% endfor %}
                <!-- Category ends here-->
              </ul>

                  <!--  <h5 class="widget-title upper sep-bottom-xs">Top rated products</h5>
                  <ul class="widget widget-media sep-bottom-lg">
                    <li class="media media-bordered col-md-12 col-sm-6"><a href="#" class="pull-left"><img src={% static "img/products/1.jpg" %} alt="Sunny Tank Selected Femme" width="82" height="100" class="img-responsive"></a>
                      <div class="col-md-6"><small class="upper">woman</small>
                        <h6 class="media-heading"><a href="#">Sunny Tank Selected Femme</a></h6>
                        <h6 class="stich-status">Fully Stitched</h6>
                        <div class="product-detail text-center">
                          
                          <div class="price-shop">
                            <del>&#x20B9;&nbsp;519.00</del><ins>&#x20B9;&nbsp;415.00</ins>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered col-md-12 col-sm-6"><a href="#" class="pull-left"><img src={% static "img/products/2.jpg" %} alt="Osaka Men's Shirt" width="82" height="100" class="img-responsive"></a>
                      <div class="col-md-6"><small class="upper">woman</small>
                        <h6 class="media-heading"><a href="#">Osaka Women's Shirt</a></h6>
                        <h6 class="stich-status">Not Stitched</h6>
                        <div class="product-detail text-center">
                         <div class="price-shop">
                            <del>&#x20B9;&nbsp;718.50</del><ins>&#x20B9;&nbsp;640.00</ins>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="media media-bordered col-md-12 col-sm-6"><a href="#" class="pull-left"><img src={% static "img/products/3.jpg" %} alt="Heaven White Shirt" width="82" height="100" class="img-responsive"></a>
                      <div class="col-md-6"><small class="upper">woman</small>
                        <h6 class="media-heading"><a href="#">Heaven White Shirt</a></h6>
                        <h6 class="stich-status">Fully Stitched</h6>
                        <div class="product-detail text-center">
                          
                          <div class="price-shop">
                            <del>&#x20B9;&nbsp;625.00</del><ins>&#x20B9;&nbsp;600.00</ins>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul> -->
                </div>
              </div>

              <div class="row cards sep-bottom-lg">
                <div class="col-md-12">
                  <div class="col-md-4" data-toggle="modal" data-target="#faq_dialog">
                    <h4 class="card-title">FAQ</h4>
                    <div class="col-md-12">
                      <div class="icon-card"><i class="fa fa-plane pull-left fa-4x"></i></div>
                      <div class="card-text" style="text-align: justify;">{{ boutique.faq|truncatewords:20 }}</div>
                    </div>
                  </div>

                  <div class="modal fade" id="faq_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 style="text-align: center;">FAQ</h4>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-8 item-success">{{ boutique.faq|truncatewords:20 }}</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4" data-toggle="modal" data-target="#refund_policy_dialog">
                    <h4 class="card-title">Refund Policy</h4>
                    <div class="col-md-12">
                      <div class="icon-card"><i class="fa fa-dollar pull-left fa-4x"></i></div>
                      <div class="card-text" style="text-align: justify;">{{ boutique.refund_policy|truncatewords:20  }}</div>
                    </div>
                  </div>

                  <div class="modal fade" id="refund_policy_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 style="text-align: center;">Refund Policy</h4>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-8 item-success">{{ boutique.refund_policy }}</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="col-md-4" data-toggle="modal" data-target="#terms_conditions_dialog">
                    <h4 class="card-title">Terms & Conditions</h4>
                    <div class="col-md-12">
                      <div class="icon-card"><i class="fa fa-home pull-left fa-4x"></i></div>
                      <div class="card-text" style="text-align: justify;">{{ boutique.terms_conditions|truncatewords:20  }}</div>
                    </div>
                  </div>

                  <div class="modal fade" id="terms_conditions_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 style="text-align: center;">Terms & Conditions</h4>
                       </div>
                       <div class="modal-body">
                        <div class="col-md-8 item-success">{{ boutique.terms_conditions }}</div>
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>


          </div>

        </section>
        <!-- End Shop section-->

        <section class="widget_products sep-top-lg">
          <div class="container">
            <div class="row">

              {% if best_products %}
              <div class="col-md-6">
                <h5 class="widget-title-bordered upper">Similar Products</h5>

                <div class="row">

                  {% for best in best_products %}
                  <div class="col-md-6">
                    <ul class="widget widget-media sep-bottom-lg">
                      <li class="media media-bordered"><a href="{{best.name|slugify}}_{{best.id}}/" class="pull-left">
                        {% if best.image.all %}
                        {% with best.image.all|first as im %}
                        {% thumbnail im "470x750" crop="center" format="PNG" as image %}
                        <img src="{{image.url}}" alt="Only You" width="82" height="100" class="img-responsive">
                        {% endthumbnail %}
                        {% endwith %}
                        {% endif %}
                      </a>
                      <div class="media-body"><small class="upper">{{best.category}}</small>
                        <h6 class="media-heading"><a href="{{best.name|slugify}}_{{best.id}}/">{{best.name}}</a></h6>
                        <div class="product-detail">

                          <div class="price-shop">
                           <del>&#x20B9;&nbsp;{{best.price}}</del><ins>&#x20B9;&nbsp;{{best.discount_amount}}</ins>
                         </div>
                       </div>
                     </div>
                   </li>
                 </ul>
               </div>
               {% endfor %}

             </div>

           </div>
           {% endif %}

           <!-- Featured Products Starts-->
           {% if featured_products %}
           <div class="col-md-6">
            <h5 class="widget-title-bordered upper">Featured Products</h5>
            <div class="row">
              <!-- Featured each Products start -->
              {% for product in featured_products %}
              <div class="col-md-6">
                <ul class="widget widget-media sep-bottom-lg">
                  <li class="media media-bordered"><a href="{{product.name|slugify}}_{{product.id}}/" class="pull-left">
                    {% if product.image.all %}
                    {% with product.image.all|first as im %}
                    {% thumbnail im "470x750" crop="center" format="PNG" as image %}
                    <img src="{{image.url}}" alt="{{ product.name }}" width="82" height="100" class="img-responsive">
                    {% endthumbnail %}
                    {% endwith %}
                    {% endif %}
                  </a>
                  <div class="media-body"><small class="upper">{{product.category}}</small>
                    <h6 class="media-heading"><a href="{{product.name|slugify}}_{{product.id}}/">{{product.name}}</a></h6>
                    <div class="product-detail">

                      <div class="price-shop">
                       <del>&#x20B9;&nbsp;{{product.price}}</del><ins>&#x20B9;&nbsp;{{product.discount_amount}}</ins>

                     </div>
                   </div>
                 </div>
               </li>
             </ul>
           </div>
           {% endfor %}
           <!-- Featured each Products start -->
         </div>
       </div>
       {% endif %}
       <!-- Featured Products end-->

     </div>
   </div>
 </section>


 <div class="modal fade" id="global_faq_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="text-align: center;">FAQ</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12 item-success" id="id_faq_full">Ritzley FAQ</div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<!-- Start Footer section-->
<footer id="footer">
  <div class="inner sep-bottom-md">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="widget sep-top-lg"><img src={% static "img/logo-white.png" %} alt="" class="logo">
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="widget sep-top-lg">
           <h6 class="upper widget-title">Visit Us</h6>
           <ul class="widget-address sep-top-xs">
            <li><i class="fa fa-map-marker fa-lg"></i><small>Ritzley inc<br>682305, India</small></li>
            <li><i class="fa fa-envelope fa-lg"></i><small><a href="mailto:info@ritzley.com">info@ritzley.com /</a><br><a href="mailto:support@ritzley.com">support@ritzley.com</a></small></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="widget sep-top-lg">
         <h6 class="upper widget-title">Navigation</h6>
         <ul class="social-icon sep-top-xs">
          <li><a href="#" >Sitemap</a></li>
          <li><a href="#" id="faqfooter" data-toggle="modal" data-target="#global_faq_dialog">FAQ</a></li>
        </ul>
      </div>
    </div>


    <div class="col-md-3 col-sm-6">
      <div class="widget sep-top-lg">
       <h6 class="upper widget-title">Stay connected</h6>
       <ul class="social-icon sep-top-xs" id="social">
        <li><div class="fb-like" data-href="{{ boutique.fb_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></a></li>
      </ul>
    </div>
  </div>

</div>
</div>
</div>
<div class="copyright sep-top-xs sep-bottom-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-12"><small id="copyright">Website by Ritzley.</small></div>
    </div>
  </div>
</div>
</footer>
<!-- End Footer section-->
<div id="back_to_top"><a href="#" class="fa fa-arrow-up fa-lg"></a></div>
</div>
<script src={% static "scripts/vendor/vendor.js" %}></script>
<script src={% static "scripts/vendor/bootstrap.js" %}></script>
<script src={% static "scripts/vendor/bootstrap-extend.js" %}></script>
<script src={% static "scripts/main.js" %}></script>
<script src={% static "scripts/vendor/toastr/toastr.min.js" %}></script>

<style type="text/css">

  #holder1 {
    margin: 15px 0;
  }

  #holder1 a {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
  }

  #holder1 a:hover {
    background-color: #222;
    color: #fff;
  }

  #holder1 a.jp-previous { margin-right: 15px; }
  #holder1 a.jp-next { margin-left: 15px; }

  #holder1 a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
  }

  #holder1 a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
  }

  #holder1 a.jp-current, a.jp-current:hover,
  #holder1 a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
  }

  #holder1 span { margin: 0 5px; }

  #holder2 {
    margin: 15px 0;
  }

  #holder2 a {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
  }

  #holder2 a:hover {
    background-color: #222;
    color: #fff;
  }

  #holder2 a.jp-previous { margin-right: 15px; }
  #holder2 a.jp-next { margin-left: 15px; }

  #holder2 a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
  }

  #holder2 a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
  }

  #holder2 a.jp-current, a.jp-current:hover,
  #holder2 a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
  }

  #holder2 span { margin: 0 5px; }

  #itemContainer1, #itemContainer2 {
    list-style:none;
  }

</style>

<script type="text/javascript" src="http://luis-almeida.github.io/jPages/js/jPages.js"></script>
<script type="text/javascript" src={% static "js/filter.js" %}></script>
<script>
  $(function() {
    $("#holder1").jPages({
      containerID: "itemContainer1",
      previous : "«",
      next : "»",
      perPage:8,
      midRange: 8,
      direction: "random",
      animation: "fadeIn"
    });

    $("#holder2").jPages({
      containerID: "itemContainer2",
      previous : "«",
      next : "»",
      perPage:4,
      midRange: 4,
      direction: "random",
      animation: "fadeIn"
    });

  });
</script>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1443658532619198',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    // statusChangeCallback(response);
    if (!response.session) {
        //initiate FB OAuth js popup dialog
        FB.ui({
          method: 'oauth',
          display: 'page',
          scope: 'email',
          perms: 'email'
        },
        function(response) {
            if (response.session) { //if permission Allowed
              var thesession = response.session;
                var thesession = eval('(' + thesession + ')'); //decode json
                //POSTing to local file get.user_graph.php, to fetch user info
                $.ajax({
                  type: "POST",
                  url: "get.user_graph.php",
                  data: "client_id=<?php echo $appId; ?>&client_secret=<?php echo $secret; ?>&sessions="+thesession.session_key+"&type=client_cred&uid="+thesession.uid,
                  dataType: "text",
                  success: function(user_graph){
                    var user_graph1 = eval('('+user_graph+')');
                        alert(user_graph1.name); //users name
                        alert(user_graph1.id); //users id
                        alert(user_graph1.email); //users email
                        alert(user_graph1.link); //users profile link
                      }
                    });
              } else {
                //if permission Not Allowed
              }
            });
}
});

};

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {

      // response = JSON.stringify(response);

      var id = response.id;
      var email = response.email;
      var first_name = response.first_name;
      var gender = response.gender;
      var last_name = response.last_name;
      var name = response.name;

      if(email == ""){
        toastr.error("Access Denied to Your Facebook profile!", 'Ritzley');
        toastr.error("Please Signup using your Email account!", 'Ritzley');
        return;
      }

      data = id+"/"+email+"/"+first_name+"/"+last_name+"/"+name+"/"+gender;
      var url = "{% url 'customer:getFBLogin' 0 0 0 0 0 0 %}".replace('0/0/0/0/0/0', data);

      $.ajax({
        type: 'GET',
        url: url,
        data: "",
        success: function(data){
          if(data == "1"){
            toastr.success("Login Successful", 'Ritzley');
            window.location.reload(true)
          } else if(data == "2"){
            toastr.success("Registeration Success! Please set a password!", 'Ritzley');
            document.location = "/accounts/get_pass/"
          }
        },
        error: function(xhr, type, exception) { 
          alert("Error occured in facebook login : "+type);
        }
      });

      console.log('Successful login for: ' + response.name);
      console.log(response);
    });
}
</script>

<script type="text/javascript">

  function validateEmail(email) {
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }

  function val_log(){
    var user = $("#id_username1").val();
    var pass = $("#id_password1").val();

    if(user.length==0){
      $("#resp").text("Enter Email Id");
      return false;
    } else if(!validateEmail(user)){
      $("#resp").text("Enter Valid Email ID");
      return false;
    } else if(pass.length==0){
      $("#resp").text("Enter Password");
      return false;
    }

  }

  function val_sign(){
    var user = $("#id_username2").val();
    var email = $("#id_email").val();
    var pass = $("#id_password2").val();

    if(user.length==0){
      $("#resp").text("Enter Username");
      return false;
    } else if(email.length==0){
      $("#resp").text("Enter Email ID");
      return false;
    } else if(!validateEmail(email)){
      $("#resp").text("Enter Valid Email ID");
      return false;
    } else if(pass.length==0){
      $("#resp").text("Enter Password");
      return false;
    }

  }

  $( document ).ready(function() {

    {% if messages %}

    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

    toastr.success('{{ message }}', 'Ritzley');

    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}

    toastr.error('{{ message }}', 'Ritzley');

    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}

    toastr.warning('{{ message }}', 'Ritzley');

    {% endif %}

    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}

    toastr.info('{{ message }}', 'Ritzley');

    {% endif %}

    {% endfor %}

    {% endif %}

    // // Display a info toast, with no title
    // toastr.info('Are you the 6 fingered man?');
    // // Display a warning toast, with no title
    // toastr.warning('My name is Inigo Montoya. You killed my father, prepare to die!');
    // // Display a success toast, with a title
    // toastr.success('Have fun storming the castle!', 'Miracle Max Says');
    // // Display an error toast, with a title
    // toastr.error('I do not think that word means what you think it means.', 'Inconceivable!');

  });

</script>


<!-- Cookie setting section -->
<script>
//   $(document).ready(function() {

//     var session_id = readCookie('sessionids');

//     var logged_in = {{ request.session.logged_in }};

//     if(session_id != null && logged_in == 0){
//       document.cookie="sessionid="+session_id;
//       eraseCookie("sessionids");
//       window.location.reload();
//     }

//   });

// // Function for getting specific cookie value
// function createCookie(name,value,days) {
//   if (days) {
//     var date = new Date();
//     date.setTime(date.getTime()+(days*24*60*60*1000));
//     var expires = "; expires="+date.toGMTString();
//   }
//   else var expires = "";
//   document.cookie = name+"="+value+expires+"; path=/";
// }

// function readCookie(name) {
//   var nameEQ = name + "=";
//   var ca = document.cookie.split(';');
//   for(var i=0;i < ca.length;i++) {
//     var c = ca[i];
//     while (c.charAt(0)==' ') c = c.substring(1,c.length);
//     if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
//   }
//   return null;
// }

// function eraseCookie(name) {
//   createCookie(name,"",-1);
// }
</script>
<!-- Cookie setting section -->


<!-- Faq dynamically setting section -->
<script>  
  $(document).ready(function() {

    $.ajax({
      url: '/fetchfaq/',
      type: 'GET',
      complete: function(xhr, textStatus) {
      //called when complete
    },
    success: function(data, textStatus, xhr) {
      //called when successful
      if(data.length > 20){
        trimed_data = data.substr(0, 20)+"...";
      }

      // $("#faqfooter").html(trimed_data);
      $("#id_faq_full").html(data);
    },
    error: function(xhr, textStatus, errorThrown) {
      //called when there is an error
    }
  });

  });
</script>
<!-- Faq dynamically setting section -->

<!-- delete from cart ajax -->
<script type="text/javascript">

  function delete_item(item, name) {

    var url = '/cart/delete_ajax/'+ item +'/';

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'text',
      success: function(data, textStatus, xhr) {

        if(data == "-1"){
          toastr.error('Item is not in your cart!', 'Ritzley');
        } else if(data == "-2"){
          toastr.error('Missing arguments!', 'Ritzley');
        } else if(data == "-3"){
          toastr.error('Please login to your account!', 'Ritzley');
        } else if(data == "1"){
          toastr.success(name + ' removed from your cart!', 'Ritzley');
          setTimeout(function(){ window.location.reload(); }, 1000);
        }
      },
      error: function(xhr, textStatus, errorThrown) {
          //called when there is an error
          console.log("Error! "+textStatus+" = "+errorThrown);
        }
      });
    return false;
  }


  function delete_stitching_item(item, name) {

    var url = '/cart/delete_stitching_ajax/'+ item +'/';

    $.ajax({
      url: url,
      type: 'GET',
      dataType: 'text',
      success: function(data, textStatus, xhr) {

        if(data == "-1"){
          toastr.error('Item is not in your cart!', 'Ritzley');
        } else if(data == "-2"){
          toastr.error('Missing arguments!', 'Ritzley');
        } else if(data == "-3"){
          toastr.error('Please login to your account!', 'Ritzley');
        } else if(data == "1"){
          toastr.success(name + ' removed from your cart!', 'Ritzley');
          setTimeout(function(){ window.location.reload(); }, 1000);
        }

      },
      error: function(xhr, textStatus, errorThrown) {
          //called when there is an error
          console.log("Error! "+textStatus+" = "+errorThrown);
        }
      });

    return false;
  }

</script>
<!-- delete from cart ajax -->

<!-- analytics section -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59403049-2', 'auto');
  ga('send', 'pageview', "{{ request.META.HTTP_HOST }}");

</script>
<!-- analytics section -->

</body>

</html>