{% extends "base2.html" %}

{% block metatags %}
  <title>Ritzley | {{boutique.name}}</title>
  <meta name="copyright" content="{{boutique.name}}">
  <meta name="description" content="{{boutique.description}}">
  <meta name="keywords" content="{{boutique.description}},{{boutique.location}}">
  <meta name="robots" content="index, follow">
  <meta name="DC.title" content="{{boutique.description}}">
{% endblock metatags %}


{% block content %}
{% load staticfiles %}
{% load thumbnail %}

       <!-- Start Home Section-->
      <section id="home" class="demo-1 boutique">
        <!--     Codrops top bar-->
        <div id="slider" class="sl-slider-wrapper fixed">
          <div class="sl-slider">
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2" class="sl-slide">
            
              <div {% if boutique.header_image %}
                      
                    style="background-image: url({{boutique.header_image.url}});" {%else%} style="background-image: url(/static/Unknown.jpg);" {% endif %} class="sl-slide-inner slide-small-width">
                    
                <div class="slide-container">
                  <div class="slide-content text-center">

                  {% if boutique.logo %}
                  <img src="{{boutique.logo.url}}" alt="Ritzley" class="boutique-logo">
                  {% else %}
                  <img src="/static/Unknown.jpg" alt="Ritzley" class="boutique-logo">
                  {% endif %}

                    <h3 class="main-title">{{boutique.name}}&nbsp;<span class="text-primary">,{{boutique.location}}</span></h3>
                    <blockquote>

                    <h5 class="boutique-description">{{boutique.description}}</h5>

                    <!-- Favourite boutique-->
                    {% if request.user.username %}

                      {% if fav_boutique != 0 %}
                        
                        <div class="favourite sep-bottom-sm">
                        <a href="javascript:deltofav()" data-tooltip="Remove from Favourite" class="favourite" style="color: #CF1E75;" id="bfav">
                        <i class="fa fa-heart fa-4x"></i></a>
                        </div>

                      {% else %}

                        <div class="favourite sep-bottom-sm">
                        <a href="javascript:addtofav()" data-tooltip="Add to favourites" class="favourite" id="bfav">
                        <i class="fa fa-heart fa-4x"></i></a>
                        </div>

                      {% endif %}

                    {% else %}

                      <div class="favourite sep-bottom-sm">
                      <a href="#myModal" data-toggle="modal" data-tooltip="Add to favourites" class="favourite">
                      <i class="fa fa-heart fa-4x"></i></a>
                      </div>

                    {% endif %}

                    <!-- Favourite boutique-->

                    <div class="sep-top-md">
                      <form action="javascript:searching()" method="get" role="search" class="">
                        <div class="container">
                          <div class="col-md-6 col-sm-12 col-xs-12 middle input-group theme-form-group">
                            <div class="input-group"><span class="input-group-btn">
                            <button type="submit" class="btn btn-search btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                            <input type="text" placeholder="Search Products" class="form-control placeholder" id="search">
                          </div>
                         </div>
                      </div>
                      </form>
                      </div>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
            </div>
          <!--       /sl-slider-->
        </div>
        <!--     /slider-wrapper-->
      </section>
      <!-- Start Shop section-->

      <section>
        <div class="row">
          <div class="container sep-bottom-md">
            
                
              {% if boutique.placeholder_1 %}
              {% if boutique.placeholder_1.name != "Unknown.jpg" %}
                {% thumbnail boutique.placeholder_1 "500x272" crop="center" as image1 %}
                <div class="col-md-6 col-sm-12 col-xs-12 feature-box">
                <img class="img-responsive" src="{{image1.url}}" alt="">
                </div>
                {% endthumbnail %}
              {% endif %}
              {% endif %}
              {% if boutique.placeholder_2 %}
              {% if boutique.placeholder_2.name != "Unknown.jpg" %}
                {% thumbnail boutique.placeholder_2 "500x272" crop="center" as image2 %}
                <div class="col-md-6 col-sm-12 col-xs-12 feature-box">
                <img class="img-responsive" src="{{image2.url}}" alt="">
                </div>
                {% endthumbnail %}
              {% endif %}
              {% endif %}
          </div>
        </div>
      </section>


      <section>
        <div class="container">
          <div class="row">

        <!-- filter and catagory container for mobile view only. it will be hidden in normal desktop view   -->
        <div class="mobview">
            <h5 class="widget-title upper sep-bottom-xs">Filter by price</h5>
              <div class="sep-bottom-lg">
                <div class="filter_content">
                  <form method="get" class="validate">
                    <div class="filter_price_content">
                      <input type="text" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="10" data-slider-value="[20,60]" class="filter_price priceslider" id="">
                      <div class="sep-top-xs">
                        <h6 class="pull-right">&#x20B9;&nbsp;<span class="price_current slidervalue" id="">0-1300</span></h6>
                        <button type="button" class="btn btn-primary btn-xs filter-button upper sliderbutton" id="">Filter</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="mobview">
               <h5 class="widget-title upper sep-bottom-xs">Products Categories</h5>
              <ul class="widget widget-cat sep-bottom-lg">
                
              <!-- Category Starts here-->
              <li class="cat-item"><a href="#" class="upper" onclick="location.reload();">All</a></li>
                {% for cate in category %}
                  
                <li class="cat-item"><a href="javascript:filtering('{{ cate.name }}')" class="upper">{{ cate.name }}</a></li>

                {% endfor %}
                <!-- Category ends here-->
              </ul>
            </div>

          <!-- end mobile view -->

            <div class="col-md-9 col-md-push-3" id="ajax">
             <!--  <div class="filter-prod">
                <form method="get" class="pull-right">
                  <div class="form-group">
                    <select name="orderby" class="form-control input-lg rounded primary">
                      <option selected="selected" value="">Default sorting</option>
                      <option value="popularity">Sort by popularity</option>
                      <option value="rating">Sort by average rating</option>
                      <option value="date">Sort by newness</option>
                      <option value="price">Sort by price: low to high</option>
                      <option value="price-desc">Sort by price: high to low</option>
                    </select>
                    <input type="hidden" value="product" name="post_type">
                  </div>
                </form>
              </div> -->
              <div class="row">

            <!-- start new arrival lists -->
                {% if boutique_products %}
                <div class="col-md-12 sep-bottom-md">
                <h4>New Arrivals</h4></div>
                <ul id="itemContainer1">
                {% for product in boutique_products %}
                <li>
                 <div class="col-md-3 col-sm-6 col-xs-6 sep-bottom-lg"><a href="{{product.name|slugify}}_{{product.id}}/" class="product-image outline-outward">
                {% if product.image.all %}
                {% with product.image.all|first as im %}
                  {% thumbnail im "470x750" crop="center" format="PNG" as image %}
                 <img src="{{ image.url }}" alt="Heaven White Shirt" class="img-responsive">
                 {% endthumbnail %}
                {% endwith %}
                {% else %}
                   <img src={% static "Unknown.jpg" %} alt="Heaven White Shirt" class="img-responsive">
                {% endif %}
                 </a>
              <div class="product-title text-center"><span class="upper">{{ product.category.name }}</span>
                <p>{{ product.name }}</p>
                <h6 class="stich-status">{{product.stitching}}</h6>
                <h6 class="stich-status">{{product.color.name}}</h6>
              </div>
              <div class="product-detail">
                <div class="text-center price-shop">
                {% if product.discount_amount != 0 %}
                  <del>&#x20B9;&nbsp;{{ product.price }}</del><ins>&#x20B9;&nbsp;{{ product.discount_amount }}</ins>
                  {% else %}
                  <ins>&#x20B9;&nbsp;{{ product.price }}</ins>
                {% endif %}
                </div>
                
              </div>
            </div>
              </li>
                {% endfor %}
                </ul>
                {% else %}
                    <div class="col-md-12 sep-bottom-md">
                    <h4>No products found for this Boutique</h4></div>
                {% endif %}

                <div class="clearfix"></div><br />
                    <div class="text-center">
                  <div id="holder1"></div>

                </div>
                  </div>

                 <!-- Start Special offer -->
                 {% if boutique_products %}
               <div class="col-md-12 sep-bottom-lg"><h4 class="">Special Offers</h4></div>
              <div class="row">
                <ul id="itemContainer2">
               {% for product in boutique_products %}
                {% if product.discount_amount != 0 %}
                 <li>
                <div class="col-md-3 col-sm-6 col-xs-6 sep-bottom-lg"><a href="{{product.name|slugify}}_{{product.id}}/" class="product-image outline-outward">
                {% if product.image.all %}
                {% with product.image.all|first as im %}
                  {% thumbnail im "470x750" crop="center" format="PNG" as image %}
                 <img src="{{ image.url }}" alt="{{ product.name }}" class="img-responsive">
                 {% endthumbnail %}
                {% endwith %}
                {% else %}
                   <img src={% static "Unknown.jpg" %} alt="Only You" class="img-responsive">
                {% endif %}
                <span class="bullet">{{product.discount}}%</span></a>
                </a>
                  <div class="product-title text-center"><span class="upper">{{product.category.name}}</span>
                    <p>{{product.name}}</p>
                    <h6 class="stich-status">{{product.stitching}}</h6>
                    <h6 class="stich-status">{{product.color.name}}</h6>
                  </div>
                  <div class="product-detail">
                    <div class="text-center price-shop">
                      <del>&#x20B9;&nbsp;{{product.price}}</del><ins>&#x20B9;&nbsp;{{product.discount_amount}}</ins>
                    </div>
                  </div>
                </div>
                  </li>
                {% endif %}
                  {% endfor %}
                </ul>

                </div>
                {% endif %}

                <div class="clearfix"></div><br />
                    <div class="text-center">
                  <div id="holder2"></div>

                </div>

                <!-- end special offers-->
                 </div>
                

                <div class="col-md-3 col-md-pull-9 sep-top-xs">
                  <h5 class="widget-title upper sep-bottom-xs">Filter by price</h5>
                  <div class="sep-bottom-lg">
                    <div class="filter_content">
                      <form method="get" class="validate">
                        <div class="filter_price_content">
                          <input type="text" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="10" data-slider-value="[20,60]" class="filter_price priceslider" id="">
                          <div class="sep-top-xs">
                            <h6 class="pull-right">&#x20B9;&nbsp;<span class="price_current slidervalue" id="">0-1300</span></h6>
                            <button type="button" class="btn btn-primary btn-xs filter-button upper sliderbutton" id="">Filter</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  
                   <h5 class="widget-title upper sep-bottom-xs">Products Categories</h5>
                  <ul class="widget widget-cat sep-bottom-lg">
                  <!-- Category Starts here-->
                  <li class="cat-item"><a href="#" class="upper" onclick="location.reload();">All</a></li>
                    {% for cate in category %}
                      
                    <li class="cat-item"><a href="javascript:filtering('{{ cate.name }}')" class="upper">{{ cate.name }}</a></li>

                    {% endfor %}
                  <!-- Category ends here-->
                  </ul>
                </div>
              </div>

            <div class="row cards sep-bottom-lg">
                <div class="col-md-12">

                  <div class="col-md-4" data-toggle="modal" data-target="#faq_dialog">
                    <h4 class="card-title">FAQ</h4>
                      <div class="col-md-12">
                        <div class="icon-card"><i class="fa fa-plane pull-left fa-4x"></i></div>
                        <div class="card-text" style="text-align: justify;">{{ boutique.faq|truncatewords:20 }}</div>
                      </div>
                  </div>

                  <div class="modal fade" id="faq_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 style="text-align: center;">FAQ</h4>
                        </div>
                        <div class="modal-body">
                          <div class="add-icon col-md-2"><i class="fa fa-check-circle fa-5x"></i></div>
                          <div class="col-md-8 item-success">{{ boutique.faq }}</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                 <div class="col-md-4" data-toggle="modal" data-target="#refund_policy_dialog">
                    <h4 class="card-title">Refund Policy</h4>
                      <div class="col-md-12">
                        <div class="icon-card"><i class="fa fa-dollar pull-left fa-4x"></i></div>
                        <div class="card-text" style="text-align: justify;">{{boutique.refund_policy|truncatewords:20 }}</div>
                      </div>
                  </div>


                  <div class="modal fade" id="refund_policy_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 style="text-align: center;">Refund Policy</h4>
                        </div>
                        <div class="modal-body">
                          <div class="add-icon col-md-2"><i class="fa fa-check-circle fa-5x"></i></div>
                          <div class="col-md-8 item-success">{{ boutique.refund_policy }}</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4" data-toggle="modal" data-target="#terms_conditions_dialog">
                    <h4 class="card-title">Terms & Conditions</h4>
                      <div class="col-md-12">
                        <div class="icon-card"><i class="fa fa-home pull-left fa-4x"></i></div>
                        <div class="card-text" style="text-align: justify;">{{boutique.terms_conditions|truncatewords:20}}</div>
                      </div>
                  </div>

                  <div class="modal fade" id="terms_conditions_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                         <h4 style="text-align: center;">Terms & Conditions</h4>
                        </div>
                        <div class="modal-body">
                          <div class="add-icon col-md-2"><i class="fa fa-check-circle fa-5x"></i></div>
                          <div class="col-md-8 item-success">{{ boutique.terms_conditions }}</div>
                        </div>
                        <div class="modal-footer">
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
            </div>


        </div>

      </section>
      <!-- End Shop section-->

        <section class="widget_products sep-top-lg">
        <div class="container">
          <div class="row">
              
          {% if best_products %}
            <div class="col-md-6">
              <h5 class="widget-title-bordered upper">Similar Products</h5>
              
              <div class="row">

              {% for best in best_products %}
                <div class="col-md-6">
                  <ul class="widget widget-media sep-bottom-lg">
                    <li class="media media-bordered"><a href="{{best.name|slugify}}_{{best.id}}/" class="pull-left">
                    {% if best.image.all %}
                    {% with best.image.all|first as im %}
                    {% thumbnail im "470x750" crop="center" format="PNG" as image %}
                    <img src="{{image.url}}" alt="Only You" width="82" height="100" class="img-responsive">
                    {% endthumbnail %}
                    {% endwith %}
                    {% endif %}
                    </a>
                      <div class="media-body"><small class="upper">{{best.category}}</small>
                        <h6 class="media-heading"><a href="{{best.name|slugify}}_{{best.id}}/">{{best.name}}</a></h6>
                        <div class="product-detail">
                         
                          <div class="price-shop">
                          {% if best.discount_amount != 0 %}
                            <del>&#x20B9;&nbsp;{{ best.price }}</del><ins>&#x20B9;&nbsp;{{ best.discount_amount }}</ins>
                          {% else %}
                            <ins>&#x20B9;&nbsp;{{ best.price }}</ins>
                          {% endif %}
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                {% endfor %}

              
              </div>

            </div>
          {% endif %}


            <!-- Featured Products Start-->
            {% if featured_products %}
            <div class="col-md-6">
              <h5 class="widget-title-bordered upper">Featured Products</h5>
              <div class="row">
              <!-- Featured Product section -->

              {% for product in featured_products %}
                <div class="col-md-6">
                  <ul class="widget widget-media sep-bottom-lg">
                    <li class="media media-bordered"><a href="{{product.name|slugify}}_{{product.id}}/" class="pull-left">
                    {% if product.image.all %}
                    {% with product.image.all|first as im %}
                    {% thumbnail im "470x750" crop="center" format="PNG" as image %}
                      <img src="{{image.url}}" alt="{{ product.name }}" width="82" height="100" class="img-responsive">
                    {% endthumbnail %}
                    {% endwith %}
                    {% endif %}
                    </a>
                      <div class="media-body"><small class="upper">{{product.category}}</small>
                        <h6 class="media-heading"><a href="{{product.name|slugify}}_{{product.id}}/">{{product.name}}</a></h6>
                        <div class="product-detail">
                         
                          <div class="price-shop">
                             {% if product.discount_amount != 0 %}
                            <del>&#x20B9;&nbsp;{{ product.price }}</del><ins>&#x20B9;&nbsp;{{ product.discount_amount }}</ins>
                          {% else %}
                            <ins>&#x20B9;&nbsp;{{ product.price }}</ins>
                          {% endif %}
                           
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              {% endfor %}

              <!-- Featured Product section -->
              </div>
            </div>
              {% endif %}
            <!-- Featured Products End-->
          </div>
        </div>
      </section>
{% endblock content %}

{% block styles %}

<style type="text/css">

#holder1 {
    margin: 15px 0;
}

#holder1 a {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

#holder1 a:hover {
    background-color: #222;
    color: #fff;
}

#holder1 a.jp-previous { margin-right: 15px; }
#holder1 a.jp-next { margin-left: 15px; }

#holder1 a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
}

#holder1 a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

#holder1 a.jp-current, a.jp-current:hover,
#holder1 a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
}

#holder1 span { margin: 0 5px; }

#holder2 {
    margin: 15px 0;
}

#holder2 a {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

#holder2 a:hover {
    background-color: #222;
    color: #fff;
}

#holder2 a.jp-previous { margin-right: 15px; }
#holder2 a.jp-next { margin-left: 15px; }

#holder2 a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
}

#holder2 a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

#holder2 a.jp-current, a.jp-current:hover,
#holder2 a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
}

#holder2 span { margin: 0 5px; }

#itemContainer1, #itemContainer2 {
    list-style:none;
}

</style>

{% endblock styles %}

{% block scripts %}

<script type="text/javascript" src="http://luis-almeida.github.io/jPages/js/jPages.js"></script>
  <script>
  $(function() {

    $("#copyright").text('Website by Ritzley.');
    $("#fb_title").text('Stay connected');

    var fb = '<li><div class="fb-like" data-href="{{ boutique.fb_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></a></li>';
    $("#social").append(fb);

    $("#holder1").jPages({
      containerID: "itemContainer1",
      previous : "«",
      next : "»",
      perPage:8,
      midRange: 8,
      direction: "random",
      animation: "fadeIn"
    });

    $("#holder2").jPages({
      containerID: "itemContainer2",
      previous : "«",
      next : "»",
      perPage:4,
      midRange: 4,
      direction: "random",
      animation: "fadeIn"
    });

  });
</script>

<script type="text/javascript" src={%static "js/filter.js" %}></script>

{% endblock scripts %}

