{% extends "base2.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}
<div class="clearfix"></div>
<!-- Start header Section-->

<section class="header-section fading-title parallax" style="background-size: 110%; background-position: 76.8292682926829% 38.4146341463415%;">
  <div class="section-shade sep-top-3x sep-bottom-2x">
    <div class="container">
      <div class="section-title upper light" style="opacity: 1; margin-bottom: 0px; margin-top: 0px;">
        <h2 class="small-space">Shop cart</h2>
        <p class="lead">View your products</p>
      </div>
    </div>
  </div>
</section>
<!-- End header Section-->


<!-- Start Shop Cart-->

<section class="sep-top-md sep-bottom-2x">
  <div class="container">
    <form method="post">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-condensed table-striped shop-table table-responsive">
            <thead>
              <tr>
                <th scope="col" class="dark upper">Product</th>
                <th scope="col" class="dark upper">Price</th> 
              </tr>
            </thead>

            <tbody>

              {% if cart %}
              {% if cart|length == 0 %}
              <tr><td colspan="2">No Items in your Cart</td></tr>
              {% else %}
              
              {% for item in cart %}

              {% if item.type|slugify == "product" or item.type|slugify == "stitching" %}

              <tr>
                <td>
                  <a title="" href="/cart/delete/{{ item.id }}/" class="remove-button"><span class="fa-stack fa-md"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x fa-inverse"></i></span></a>
                  <a href="http://{{ item.url }}/{{ item.name|slugify }}_{{ item.tid }}/" class="img-prod">

                    {% thumbnail item.image "45x70" crop="center" as image %}
                    <img src="{{ image.url }}" alt="{{ item.name }}" alt="" class="img-responsive">
                    {% endthumbnail %}

                  </a>
                  
                  <h6 class="name-prod"><a href="http://{{ item.url }}/{{ item.name|slugify }}_{{ item.tid }}/">{{ item.name }} ({{ item.size }})</a></h6>
                  
                  <!-- <span><a href="#">(Stitchable)</a></span> -->
                </td>
                
                <td>
                  <h5 class="upper price">₹&nbsp;{{ item.price }}</h5>
                </td>

              </tr>

              {% endif %}

              {% if item.patterns|length > 0 %}

              {% if item.type|slugify == "stitching" %}

              <tr>
                <td>
                  <a title="" href="/cart/delete_stitching/{{ item.id }}/" class="remove-button"><span class="fa-stack fa-md"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x fa-inverse"></i></span></a>
                  <a href="http://{{ item.st_url }}/" class="img-prod">

                    {% thumbnail item.st_image "45x70" crop="center" as image %}
                    <img src="{{ image.url }}" alt="{{ item.name }}" alt="" class="img-responsive">
                    {% endthumbnail %}

                  </a>
                  <h6 class="name-prod"><a href="http://{{ item.st_url }}/">{{ item.st_name }} Stitching Cost</a></h6>
                </td>

                <td>
                  <h5 class="upper price">₹&nbsp;{{ item.st_price }}</h5>
                </td>
              </tr>

              {% endif %}

              {% if item.type|slugify == "custom" %}
              <tr>
                <td>
                  <a title="" href="/cart/delete/{{ item.id }}/" class="remove-button"><span class="fa-stack fa-md"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x fa-inverse"></i></span></a>
                  <a href="http://{{ item.st_url }}/" class="img-prod">

                    {% thumbnail item.st_image "45x70" crop="center" as image %}
                    <img src="{{ image.url }}" alt="{{ item.st_name }}" alt="" class="img-responsive">
                    {% endthumbnail %}

                  </a>
                  <h6 class="name-prod"><a href="http://{{ item.st_url }}/">{{ item.st_name }} Stitching Cost</a></h6>
                </td>
                
                <td>
                  <h5 class="upper price">
                    {% if item.st_price|slugify == "process-incomplete" %}
                    <a style="font-size:12px;" class="btn btn-primary btn-xs" href='/cart/continue/{{ item.id }}/'>Complete Process</a>
                    {% else %}
                    ₹&nbsp;{{ item.st_price }}
                    {% endif %}
                  </h5>
                </td>
              </tr>
              {% endif %}

              {% endif %}

              {% endfor %}

              <tr>
                <td class="order-total">
                  <h6 class="order">Order Total</h6>
                </td>

                <td>
                  <h5 class="upper price">₹&nbsp;{{ total }}</h5>
                </td>

              </tr>

              {% endif %}

              {% else %}
              <tr><td colspan="2">No Items in your Cart</td></tr>
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>
      <div class="row">

      </div>
    </form>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="cart_totals sep-top-sm">

          {% if cart %}
          {% if cart|length != 0 %}
          <form action="" method="POST"> {% csrf_token %}
            <div class="sep-top-sm">
              <button class="btn btn-primary pull-right" type="submit"><i class="fa fa-sign-out"></i>&nbsp;Proceed to Checkout</button>
            </div>
          </form>
          {% endif %}
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Shop Cart-->

{% endblock content %}


{% block styles %}

{% endblock styles %}


{% block scripts %}
<script type="text/javascript">

  $(document).ready(function() {

    $(".page").addClass('cart');

    rups = $(".price").find('.no-rupee');


  });

</script>
{% endblock scripts %}