{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
<section class="header-section fading-title parallax">
  <div class="section-shade sep-top-3x sep-bottom-2x">
    <div class="container">
      <div class="section-title upper light">
        <h2 class="small-space">Forgot Password</h2>
        <p class="lead">Enter Your New Password</p>
      </div>
    </div>
  </div>
</section>


<section class="sep-bottom-2x sep-top-lg">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <form action="" enctype="multipart/form-data" method="POST" onsubmit="return validate();">
          <div class="form-group">
            <label>Enter your New Password</label><br/>
            {% csrf_token %}
            <input type="password" name="password" id="id_password" value="" required="true" placeholder="Enter new Password">
            <br/><br/>
            <label>Confirm your New Password</label><br/>
            <input type="password" name="cpassword" id="id_cpassword" value="" required="true" placeholder="Retype Password">
          </div>
          <br>
          <button type="submit" name="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block scripts %}

<script type="text/javascript">
  function validate()
  {
    var pass = $("#id_password").val();
    var cpass = $("#id_cpassword").val();

    if (pass != cpass){
      toastr.error('Passwords do not match!', 'Ritzley');
      return false;
    }

  }
</script>

{% endblock scripts %}
