{% extends "base2.html" %}

{% block content %}

<!-- Start header Section-->
<section class="header-section fading-title parallax" style="background-size: 110%; background-position: 76.8292682926829% 38.4146341463415%;">
  <div class="section-shade sep-top-3x sep-bottom-2x">
    <div class="container">
      <div class="section-title upper light" style="opacity: 1; margin-bottom: 0px; margin-top: 0px;">
        <h2 class="small-space">Checkout</h2>
        <p class="lead">Confirm your order</p>
      </div>
    </div>
  </div>
</section>

<!-- End header Section-->

<section class="sep-top-md">

  <div class="container">
    <h4 class="upper">Billing details</h4>

    <div class="container">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="panel-heading">
            <h4 class="panel-title">
              <a href="#">Current Billing Address</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="col-md-12">

                {% if addresses %}
                {% if addresses|length == 0 %}
                <div class="combined">No Addresses found</div>
                {% else %}

                {% for address in addresses %}

                <div class="combined">
                  <input type="radio" class="radio" name="address_radio" value="{{ address.id }}" {% if address.last_used %} checked="checked" {% endif %} onclick='$("#id_address").val($(this).val());' />
                  <div class="single_address">

                    <div class="btn btn-default btn-circle"><a href="/delete_address/{{ address.id }}/">X</a></div>

                    <span class="id_first_name">{{ address.first_name }}</span> <span class="id_last_name">{{ address.last_name }}</span>,
                    <span class="id_address_line_1">{% if address.address_line_1 %}<br/> {{ address.address_line_1 }}{% endif %}</span>,
                    <span class="id_address_line_2">{% if address.address_line_2 %}<br/>{{ address.address_line_2 }}{% endif %}</span>,
                    <span class="id_city">{% if address.city %}<br />{{ address.city }}{% endif %}</span>,
                    <span class="id_state">{% if address.state %}{{ address.state }}{% endif %}</span>,
                    <span class="id_country">{% if address.country %}{{ address.country }}{% endif %}</span>-
                    <span class="id_postcode">{% if address.postcode %}{{ address.postcode }}{% endif %}</span>
                    <span class="id_mobile_number"><br />{% if address.mobile_number %}{{ address.mobile_number }}{% endif %}</span>
                  </div>
                </div>

                {% endfor %}

                {% endif %}

                {% else %}
                <div class="combined">No Addresses found</div>
                {% endif %}

              </div>

            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" id="id_add_new" class="panel-heading">
            <h4 class="panel-title">
              <a href="#">Add/Edit Address</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <form action="/addnewaddress/" class="form" method="POST" id="add_address_form" name="sub_form">{% csrf_token %}

                <input type="hidden" name="a_id" id="id_a_id" value="{{ current.id }}">

                <div class="col-sm-3 form-group">
                  <label class="sr-only">First Name</label>
                  <input type="text" placeholder="First Name" id="id_edit_first_name" name="first_name" required="true" aria-required="true" class="form-control input-lg" value="{{ current.first_name }}">
                </div>
                <div class="col-sm-3 form-group">
                  <label class="sr-only">Last Name</label>
                  <input type="text" placeholder="Last Name" id="id_edit_last_name" name="last_name" required="true" aria-required="true" class="form-control input-lg" value="{{ current.last_name }}">
                </div>

                <!--
                <div class="col-sm-3 form-group">
                  <label class="sr-only">Email</label>
                  <input type="text" placeholder="Email" id="id_edit_" name="email" required="true" aria-required="true" class="form-control input-lg" value="{{ current.email }}">
                </div>
              -->

              <div class="col-sm-3 form-group">
                <label class="sr-only">Mobile Number</label>
                <input type="number" placeholder="Mobile Number" id="id_edit_mobile_number" name="mobile_number" required="true" aria-required="true" class="form-control input-lg" value="{{ current.mobile_number }}">
              </div>

              <div class="col-sm-6 form-group">
                <label class="sr-only">Address Line 1</label>
                <input type="text" placeholder="Address Line 1" id="id_edit_address_line_1" name="address_line_1" required="true" aria-required="true" class="form-control input-lg" value="{{ current.address_line_1 }}">
              </div>

              <div class="col-sm-6 form-group">
                <label class="sr-only">Address Line 2</label>
                <input type="text" placeholder="Address Line 2" id="id_edit_address_line_2" name="address_line_2" required="true" aria-required="true" class="form-control input-lg" value="{{ current.address_line_2 }}">
              </div>

              <div class="col-sm-3 form-group">
                <label class="sr-only">Town / City</label>
                <input type="text" placeholder="Town / City" id="id_edit_city" name="city" required="true" aria-required="true" class="form-control input-lg" value="{{ current.city }}">
              </div>

              <div class="col-sm-3 form-group">
                <label class="sr-only">Postcode</label>
                <input type="number" placeholder="Postcode / Zip" id="id_edit_postcode" name="postcode" required="true" aria-required="true" class="form-control input-lg" value="{{ current.postcode }}">
              </div>

              <div class="col-sm-3 form-group">
                <label class="sr-only">State</label>
                <input type="text" placeholder="State" id="id_edit_state" name="state" required="true" aria-required="true" class="form-control input-lg" value="{{ current.state }}">
              </div>

              <div class="col-sm-3 form-group">
                <label class="sr-only">Country</label>
                <input type="text" placeholder="Country" id="id_edit_country" name="country" required="true" aria-required="true" class="form-control input-lg" value="{{ current.country }}">
              </div>

              <div class="col-lg-12 text-right">
                <button type="button" onclick="ClearForm(this.form)" class="btn btn-primary">Reset</button>
                <button type="submit" class="btn btn-primary">Save Address</button>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="row">
    <div class="col-md-12">
      <div class="sep-top-lg">
        <h4 class="upper">Your Order</h4>
        <div class="sep-top-sm">
          <table class="table table-bordered table-condensed table-responsive">

            <tr>
              <th scope="col" class="dark upper">
                Cart Items
              </th>
              <th scope="col" class="dark upper">
                Total
              </th>
            </tr>

            <tbody>

              {% if cart %}
              {% if cart|length == 0 %}
              <tr><td colspan="2">No Items in your Cart</td></tr>
              {% else %}

              {% for item in cart %}

              {% if item.type|slugify == "product" or item.type|slugify == "stitching" %}

              <tr>
                <td>{{ item.name }} ({{ item.size }})</td>
                <td>
                  <h5 class="upper">₹&nbsp;{{ item.price }}</h5>
                </td>
              </tr>

              {% endif %}

              {% if item.patterns|length > 0 %}

              {% if item.type|slugify == "stitching" %}

              <tr>
                <td>{{ item.st_name }} Stitching Cost</td>
                <td>
                  <h5 class="upper">₹&nbsp;{{ item.st_price }}</h5>
                </td>
              </tr>

              {% endif %}

              {% if item.type|slugify == "custom" %}

              <tr>
                <td>{{ item.st_name }} Stitching Cost</td>
                <td>
                  <h5 class="upper">
                    {% if item.st_price|slugify == "process-incomplete" %}
                    <a style="font-size:16px;" class="btn btn-primary btn-xs" href='/cart/continue/{{ item.id }}/'>Complete Process</a>
                    {% else %}
                    ₹&nbsp;{{ item.st_price }}
                    {% endif %}
                  </h5>
                </td>
              </tr>

              {% endif %}
              {% endif %}
              {% endfor %}

              <tr>
                <td>Shipping and Handling</td>
                <td>
                  <h5>Free</h5>
                </td>
              </tr>

              <tr class="evidence">
                <td class="upper">
                  <h5>Order Total</h5>
                </td>
                <td class="upper">
                  <h5>₹&nbsp;{{ total }}</h5>
                </td>
              </tr>

              {% endif %}
              {% else %}
              <tr><td colspan="2">No Items in your Cart</td></tr>
              {% endif %}

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-12 sep-top-md sep-bottom-2x text-right">
      {% if cart %}
      {% if cart|length != 0 %}
      <form action="" method="POST" class="form" id="checkout_global_form" name="main_form">{% csrf_token %}
        <input type="hidden" id="id_address" name="address_radio" value="{{ first }}">
        <button type="submit" class="btn btn-primary btn-lg">Place order</button>
      </form>
      {% endif %}
      {% endif %}
    </div>

  </div>
</div>

</section>


{% endblock content %}




{% block scripts %}
<script type="text/javascript">

  $(document).ready(function() {
    $(".page").addClass('cart');

    {% if addresses %}
    {% if addresses|length == 0 %}
    $("#id_add_new").trigger('click');
    {% endif %}
    {% else %}
    $("#id_add_new").trigger('click');
    {% endif %}

    $(".radio").click(function(event) {

      var id = $(this).val();

      var text = $(this).parent().find('.id_first_name').text();

      $("#id_edit_first_name").val($(this).parent().find('.id_first_name').text());
      $("#id_edit_last_name").val($(this).parent().find('.id_last_name').text());
      $("#id_edit_mobile_number").val($(this).parent().find('.id_mobile_number').text());
      $("#id_edit_address_line_1").val($(this).parent().find('.id_address_line_1').text());
      $("#id_edit_address_line_2").val($(this).parent().find('.id_address_line_2').text());
      $("#id_edit_city").val($(this).parent().find('.id_city').text());
      $("#id_edit_country").val($(this).parent().find('.id_country').text());
      $("#id_edit_state").val($(this).parent().find('.id_state').text());
      $("#id_edit_postcode").val($(this).parent().find('.id_postcode').text());
      $("#id_a_id").val(id);

      // $("#id_add_new").trigger('click');
    });

  });

function ClearForm(form){

  var frm_elements = form.elements;
    // var frm_elements = $("#add_address_form").elements;

    for (i = 0; i < frm_elements.length; i++)
    {
      field_type = frm_elements[i].type.toLowerCase();
      switch (field_type)
      {
        case "text":
        case "password":
        case "textarea":
        case "hidden":
        if (frm_elements[i].name != "csrfmiddlewaretoken"){
          frm_elements[i].value = "";
        }
        break;
        case "radio":
        case "checkbox":
        if (frm_elements[i].checked)
        {
          frm_elements[i].checked = false;
        }
        break;
        case "select-one":
        case "select-multi":
        frm_elements[i].selectedIndex = -1;
        break;
        default:
        break;
      }
    }

  }

</script>

{% endblock scripts %}

{% block styles %}

<style>
  .panel-heading {
    background-color:#CF1E75 !important;
    color:white !important;
  }

  .panel-heading a:link a:visited, a:active {
    color:white !important;
  }

  .panel-heading a:hover, a:focus {
    color:#cccccc !important;
  }

  .single_address{
    background-color: #eeeeee;
    color: black;
    border-radius: 5px;
    padding: 10px;
    max-width: 450px;
    float: left;
    margin-left: 10px;
    min-width: 400px;
  }

  .radio{
    float: left;
  }

  .combined{
    margin: 10px;
    padding: 10px;
    clear: both;
  }

  .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    color: white;
    float: right;
  }

</style>

{% endblock styles %}