{% extends "base2.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

<section class="header-section fading-title parallax">
	<div class="section-shade sep-top-3x sep-bottom-2x">
		<div class="container">
			<div class="section-title upper light">
				<h2 class="small-space">Order Confirmation</h2>
				<p class="lead">You Order has been placed</p>
			</div>
		</div>
	</div>
</section>


<section id="printme">

	<div style="margin-left:200px; margin-right:200px; margin-top:20px;">
		<p style="padding:0 0 0 0;margin:0;font-size:16px;font-weight:bold"> Hi 
        {% if request.user.first_name %}
       	   {{request.user.first_name}}
       	   {%else%}
       	   {{request.user.username}}
       {% endif %}

       ,  </p>
		<p style="padding:20px 0;margin:0;color:#565656"> Thank you for your order!</p>


		<p style="padding:0 0 20px 0;margin:0;color:#565656">
			Please find below, the summary of your order.
		</p>

		<table class="table table-striped table-bordered table-condensed">
			<tbody>
				<tr>
					<td width="20%">&nbsp;</td>
					<td width="56%" valign="top" align="center" style="padding:5px 0 0 0;margin:0;text-align:center;color:#565656">ITEM</td>
					<td width="6%" valign="top" align="center" style="padding:5px 0 0 0;margin:0;text-align:center;color:#565656">QTY</td>
					<td width="18%" valign="top" align="right" style="padding:5px 0 0 10px;margin:0;text-align:right;color:#565656">SUBTOTAL</td>
				</tr>

				<tr>
					<td colspan="4" align="left" valign="top">
					</td>
				</tr>

				{% for item in items %}

				{% if item.type|slugify == "product" or item.type|slugify == "stitching" %}

				<tr>
					<td style="border-bottom:#f2f2f2 solid 1px;padding:15px 0;text-align:center" valign="middle" align="center">
						<a style="text-decoration:none" href="http://{{ item.url }}/{{ item.name|slugify }}_{{ item.id }}/" target="_blank">
							<img src="http://{{ item.url }}/media/{{ item.image }}" width="80px">
						</a>
					</td>
					<td valign="top" align="left" style="border-bottom:1px solid #f2f2f2;padding:12px 10px;margin:0">
						<p style="padding:0;margin:0">
							<a style="text-decoration:none;color:#565656" href="http://{{ item.url }}/{{ item.name }}_{{ item.id }}/" target="_blank">
								<span style="color:#565656">{{ item.name }} ({{ item.size }})</span>
							</a>
						</p>
					</td>
					<td valign="top" align="center" style="border-bottom:1px solid #f2f2f2;padding:12px 0;margin:0;text-align:center">
						<p style="padding:0 10px 0 0;margin:0">1</p>
					</td>
					<td valign="top" align="right" style="border-bottom:1px solid #f2f2f2;padding:12px 0 0 10px;margin:0;text-align:right">
						<p style="white-space:nowrap;padding:0;margin:0;font-weight:bold">Rs. {{ item.price }}</p>
					</td>
				</tr>

				{% endif %}

				{% if item.patterns|length > 0 %}

				{% if item.type|slugify == "stitching" %}

				<tr>
					<td style="border-bottom:#f2f2f2 solid 1px;padding:15px 0;text-align:center" valign="middle" align="center">
						<a style="text-decoration:none" href="http://{{ item.st_url }}/" target="_blank">
							<img src="http://{{ item.st_url }}/media/{{ item.st_image }}" width="80px">
						</a>
					</td>
					<td valign="top" align="left" style="border-bottom:1px solid #f2f2f2;padding:12px 10px;margin:0">
						<p style="padding:0;margin:0">
							<a style="text-decoration:none;color:#565656" href="http://{{ item.st_url }}/" target="_blank">
								<span style="color:#565656">{{ item.st_name }} Stitching Cost</span>
							</a>
						</p>

					</td>
					<td valign="top" align="center" style="border-bottom:1px solid #f2f2f2;padding:12px 0;margin:0;text-align:center">
						<p style="padding:0 10px 0 0;margin:0">1</p>
					</td>
					<td valign="top" align="right" style="border-bottom:1px solid #f2f2f2;padding:12px 0 0 10px;margin:0;text-align:right">
						<p style="white-space:nowrap;padding:0;margin:0;font-weight:bold">Rs. {{ item.st_price }}</p>
					</td>
				</tr>

				{% endif %}

				{% if item.type|slugify == "custom" %}

				<tr>
					<td style="border-bottom:#f2f2f2 solid 1px;padding:15px 0;text-align:center" valign="middle" align="center">
						<a style="text-decoration:none" href="http://{{ item.st_url }}/" target="_blank">
							<img src="http://{{ item.st_url }}/media/{{ item.st_image }}" width="80px">
						</a>
					</td>
					<td valign="top" align="left" style="border-bottom:1px solid #f2f2f2;padding:12px 10px;margin:0">
						<p style="padding:0;margin:0">
							<a style="text-decoration:none;color:#565656" href="http://{{ item.st_url }}/" target="_blank">
								<span style="color:#565656">{{ item.st_name }} Stitching Cost</span>
							</a>
						</p>

					</td>
					<td valign="top" align="center" style="border-bottom:1px solid #f2f2f2;padding:12px 0;margin:0;text-align:center">
						<p style="padding:0 10px 0 0;margin:0">1</p>
					</td>
					<td valign="top" align="right" style="border-bottom:1px solid #f2f2f2;padding:12px 0 0 10px;margin:0;text-align:right">
						<p style="white-space:nowrap;padding:0;margin:0;font-weight:bold">Rs. {{ item.st_price }}</p>
					</td>
				</tr>

				{% endif %}
				{% endif %}
				{% endfor %}

				<tr>
					<td colspan="4" align="right" valign="bottom">
						<p style="background-color:#f9f9f9;border-top:2px solid #565656;border-bottom:1px solid #e6e6e6;text-align:right;padding:15px 10px;margin:10px 0 0 0;color:#565656">
							Total <span style="font-size:21px">Rs. {{ total }}</span>
						</p>
					</td>
				</tr>

			</tbody>
		</table>

		<p style="margin:0;padding:0;color:#565656">DELIVERY ADDRESS</p>
		<p style="padding:0;margin:15px 0 10px 0;font-size:18px">
			{{ address.first_name }} {{ address.last_name }} &nbsp;|&nbsp; {{ address.mobile_number }}
		</p>
		<p style="line-height:18px;padding:0;margin:0;color:#565656">

			{% if address.address_line_1 %}
			<br/> {{ address.address_line_1 }},
			{% endif %}

			{% if address.address_line_2 %}
			<br/>{{ address.address_line_2 }},
			{% endif %}

			{% if address.city %}
			<br/>{{ address.city }},
			{% endif %}

			{% if address.state %}
			<br/>{{ address.state }},
			{% endif %}

			{% if address.country %}
			<br/>{{ address.country }},
			{% endif %}

			{% if address.postcode %}
			<br/>{{ address.postcode }}
			{% endif %}

		</p>

	</div>
</section>


<div class="row" style="margin-top: 42px; margin-left: 85px;">
	<!-- Start Content-->
	<div class="col-md-4" style="margin-top: 40px; float:right; padding-bottom:50px;">
		<button type="button" class="btn btn-primary" onclick='document.location="/"'><i class="fa fa-home"></i> Home</button>
		<!--
		<button type="button" class="btn btn-primary" onclick="PrintElem('#printme')"><i class="fa fa-home"></i> Print</button>
		-->
	</div>
	<!-- End Content-->
</div>

{% endblock content %}

{% block scripts %}

<script type="text/javascript">

	function PrintElem(elem)
	{
		Popup($(elem).html());
	}

	function Popup(data) 
	{
		var mywindow = window.open('', 'my div', 'height=400,width=600');
		mywindow.document.write('<html><head><title>my div</title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
    }

</script>

{% endblock scripts %}
