{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
   <section class="header-section fading-title parallax">
        <div class="section-shade sep-top-3x sep-bottom-2x">
          <div class="container">
            <div class="section-title upper light">
              <h2 class="small-space">Forgot Password</h2>
              <p class="lead">Enter Your Email- Address and check your mail</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      <!-- Start Stitching-->
     

      <!-- End Stitching-->

      <!-- search section -->


     <section class="sep-bottom-2x sep-top-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <form action="" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                        <label>E-mail</label>
                        {% csrf_token %}
                        <input type="email" name="email" placeholder="E-mail" class="form-control">
                        </div>
                        <br>
                        <button type="submit" name="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
     </section>
     
{% endblock content %}