{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
{% load thumbnail %}

<!-- Start Home Section-->
<section id="home" class="demo-1">
    <!--     Codrops top bar-->
    <div id="slider" class="sl-slider-wrapper">
        <div class="sl-slider">
            <!-- start slide-->
            <div data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2" class="sl-slide">
                <div style="background-image: url({% static '/static/img/1.jpg' %});" class="sl-slide-inner">
                    <div class="slide-container">
                        <div class="slide-content text-center"><img src={% static "img/themes/meadow/logo-intro.png" %} alt="Ritzley" class="deco">
                            <h2 class="main-title">Shop From The <span class="text-primary">Best</span></h2>
                            <blockquote>
                                <div class="sep-top-2x">
                                    <form action="" method="post" role="search" class="" onsubmit="return search_validation();">
                                        {% csrf_token %}
                                        <div class="container">
                                            <div class="col-md-5 middle input-group theme-form-group">
                                                <div class="input-group"><span class="input-group-btn">
                                                    <button type="submit" class="btn btn-search btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                                                    <input type="text" placeholder="Search Merchant Name, Locality, Speciality" class="form-control placeholder" name="search" id="search">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slide-->
        </div>
        <!--       /sl-slider-->
    </div>
    <!--     /slider-wrapper-->
</section>
<!-- End Home Section-->


<!-- Start Team section-->
<section class="sep-top-2x sep-bottom-2x stores">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="upper wow bounceInLeft text-center">Our Stores</h2>
                    <p class="lead wow bounceInRight">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic</p>
                </div>
            </div>
        </div>
        <div class="row" >
            <!-- featured boutique listing starts here-->

            <ul id="itemContainer">

                <li>
                    {% if featured %}
                    {% for feat in featured %}
                    <div class="col-md-4 sep-top-2x boutiq">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="team-photo">
                                    <a href="http://{{feat.url}}">
                                        {% thumbnail feat.logo "200x200" crop="center" format="PNG" as im %}
                                        <img src="{{ im.url }}" alt="{{feat.name}}" class="img-responsive">
                                        {% endthumbnail %}
                                        <div class="team-connection">
                                            <div class="team-connection-list text-center">
                                                <ul>
                                                    <li><a href="http://{{feat.url}}/"><i class="fa fa-home fa-2x"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <!-- Put a team-name class in below div if something goes wrong. The class was removed to avoid some spacing -->
                                <div class="">
                                    <a href="http://{{feat.url}}"><h5 class="upper">{{feat.name}}</h5><span>{{ feat.location }}</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </li>

            </ul>

            <!-- featured boutique listing ends here-->

        </div>
    </div>
</section>

<!-- start pagination-->
<div class="text-center">

    <div id="holder"></div>

</div>


<!-- end pagination-->
<!-- End Team section-->

{% endblock content %}



{% block styles %}

<!-- 
Add this css file from
https://github.com/luis-almeida/jPages/blob/master/css/jPages.css
and delete this style tag
-->


<style type="text/css">

    #holder {
        margin: 15px 0;
    }

    #holder a {
        font-size: 12px;
        cursor: pointer;
        margin: 0 5px;
        color: #333;
    }

    #holder a:hover {
        background-color: #222;
        color: #fff;
    }

    #holder a.jp-previous { margin-right: 15px; }
    #holder a.jp-next { margin-left: 15px; }

    #holder a.jp-current, a.jp-current:hover { 
        color: #FF4242;
        font-weight: bold;
    }

    #holder a.jp-disabled, a.jp-disabled:hover {
        color: #bbb;
    }

    #holder a.jp-current, a.jp-current:hover,
    #holder a.jp-disabled, a.jp-disabled:hover {
        cursor: default; 
        background: none;
    }

    #holder span { margin: 0 5px; }




    #itemContainer{
        list-style:none;
    }

</style>


{% endblock styles %}


{% block scripts %}

<script type="text/javascript" src="http://luis-almeida.github.io/jPages/js/jPages.js"></script>
<script>
  $(function() {

    $(".page").addClass('home');


    $("#holder").jPages({
      containerID: "itemContainer",
      previous : "«",
      next : "»",
      perPage:3,
      midRange: 3,
      direction: "random",
      animation: "fadeIn"
  });
});
</script>


<script>
  function search_validation(){
    if ($("#search").val().length < 2){
      alert("Please enter atleast 2 characters");
      return false;
  }
}
</script>

{% endblock scripts %}


