<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ritzley</title>
  <meta name="description" content="One Page Layout">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory-->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
  <link rel="stylesheet" href={% static "styles/vendor.css" %}>
  <link rel="stylesheet" href={% static "styles/bootstrap.css" %}>
  <link rel="stylesheet" href={% static "styles/main.css" %}>
  <link id="primary_color_scheme" rel="stylesheet" href={% static "styles/qplay.css" %}>

  {% block styles %}

  {% endblock styles %}

</head>
<body>
  <div id="load"></div>

  <div class="page">
    <!-- Start Nav Section-->

    <nav id="main-navigation" role="navigation" class="navbar navbar-fixed-top navbar-standard nav-product opaque">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"><i class="fa fa-align-justify fa-lg"></i></button><a href="/" class="navbar-brand"><img src={% static "img/logo-dark.png" %} alt="" class="logo-white"><img src={% static "img/logo-dark.png" %} alt="" class="logo-dark"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right service-nav">

            <li class="stitching-tab"><a href="stitching.html" title="Stitching center"><i class="fa fa-scissors fa-lg"></i>Stitching Center</a></li>

            <!-- ///uncomment this for using login screen/// -->

            <!--  <li><a id="dropdownMenuLogin" href="#" data-toggle="dropdown" class="upper dropdown-toggle">Login</a> -->
               <!--  <div aria-labelledby="dropdownMenuLogin" class="dropdown-menu widget-box">
                  <form>
                    <div class="form-group">
                      <label class="sr-only">Username or Email</label>
                      <input type="text" value="" placeholder="Username or Email" name="" class="form-control input-lg">
                    </div>
                    <div class="form-group">
                      <label class="sr-only">Password</label>
                      <input type="password" value="" placeholder="Password" name="" class="form-control input-lg">
                    </div>
                    <div class="form-inline form-group">
                      <button type="button" class="btn btn-primary btn-xs">Login</button>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><small> Remember me</small>
                        </label>
                      </div>
                    </div><a href="#"><small>Lost your Password?</small></a>
                  </form>
                </div> -->

                <!--/// login ends ///-->


                <!-- if user already signed in, use this code -->


                <li class="dropdown"><a href="#" title="jennifer doe" data-toggle="dropdown" class="upper dropdown-toggle" id="menu_item_Blog" data-ref="#"><img class="signed-user" src= {% static "img/joe.jpg" %} >jennifer doe<span class="caret"></span></a>

                  <ul aria-labelledby="menu_item_Blog" class="dropdown-menu">
                    <!-- istanzio un id univoco-->
                    <li><a href="profile.html" title="Profile"><i class="fa fa-user"></i>Profile</a></li>
                    <!-- istanzio un id univoco-->
                    <li><a href="#" title="Orders"><i class="fa fa-gift"></i>Orders</a></li>
                    <!-- istanzio un id univoco-->
                    <li><a href="#" title="Add your measurement"><i class="fa fa-scissors"></i>Add your measurements</a></li>
                    <!-- istanzio un id univoco-->
                    <li><a href="#" title="Sign Out"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                  </ul>

                </li>

                <!-- signed in code ends -->


          <!-- Shopping cart commented for now, Reequired later

          <li><a id="dropdownMenuCart" href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-shopping-cart fa-lg"></i>&nbsp;<span class="badge">2</span></a>
            <div aria-labelledby="dropdownMenuCart" class="dropdown-menu widget-box">
              <div class="shopping_cart_dropdown">

                <ul class="cart_list product_list_widget">
                  <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/1.jpg" %}><span>Lilly white</span></a>
                    <h5 class="quantity">645.00</h5>
                  </li>
                  <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/4.jpg" %}><span>Lotus blossom</span></a>
                    <h5 class="quantity">820.00</h5>
                  </li>
                  <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/3.jpg" %}><span>Le girl</span></a>
                    <h5 class="quantity">580.00</h5>
                  </li>
                  <li><a href="#" class="delete"><i class="fa fa-close"></i></a><a href="#"><img alt="" src={% static "img/products/6.jpg" %}><span>Dark pearl</span></a>
                    <h5 class="quantity">925.00</h5>
                  </li>
                </ul>

                <div class="total">
                  <h6>Subtotal</h6><span>&#x20B9;&nbsp;2970.00</span>
                </div>
                <div class="action-button"><a href="cart.html" class="btn btn-dark btn-bordered btn-xs upper">View Cart</a><a href="checkout.html" class="btn btn-primary btn-xs upper">Checkout</a></div>
              </div>
            </div>
          </li>
        -->

      </ul>
      <button type="button" class="navbar-toggle"><i class="fa fa-close fa-lg"></i></button>
    </div>
  </div>
</nav>


</div>

{% block content %}

{% endblock content %}

<!-- Start Footer section-->
<section class="footers">
  <footer id="footer">
    <div class="inner sep-bottom-md">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="widget sep-top-lg"><img src={% static "img/logo-white.png" %} alt="" class="logo"><small class="sep-top-xs sep-bottom-md">Dolor church-key veniam, fap Bushwick mumblecore irure Vice consectetur 3 wolf moon sapiente literally quinoa.</small>

            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="widget sep-top-lg">
              <h6 class="upper widget-title">Visit Us</h6>
              <ul class="widget-address sep-top-xs">
                <li><i class="fa fa-map-marker fa-lg"></i><small>Ritzley inc<br>682305, India</small></li>
                <li><i class="fa fa-envelope fa-lg"></i><small><a href="#">info@ritzley.com /</a><br><a href="#">support@ritzley.com</a></small></li>
              </ul>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="widget sep-top-lg">
             <h6 class="upper widget-title">Stay connected</h6>
             <ul class="social-icon sep-top-xs">
             <!--
              <li><a href="#" class="fa fa-twitter fa-lg"></a></li>
              <li><a href="#" class="fa fa-facebook fa-lg"></a></li>
              <li><a href="#" class="fa fa-google-plus fa-lg"></a></li>
              -->
              <li><div class="fb-like" data-href="{{ boutique.fb_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
              <!-- use this if above code fails <li><span id="likes"></span></li> -->
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="copyright sep-top-xs sep-bottom-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><small>Copyright 2015 © QplayTech Private Limited. All rights reserved.</small></div>
      </div>
    </div>
  </div>
</footer>
</section>
<!-- End Footer section-->
<div id="back_to_top"><a href="#" class="fa fa-arrow-up fa-lg"></a></div>

<script src={% static "js/jquery.js" %}></script>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "scripts/vendor/modernizr.js" %}></script>
<noscript>
  <link rel="stylesheet" href={% static "styles/styleNoJs.css" %}>
</noscript>

<script src={% static "scripts/vendor/vendor.js" %}></script>
<script src={% static "scripts/vendor/bootstrap.js" %}></script>
<script src={% static "scripts/vendor/bootstrap-extend.js" %}></script>
<script src={% static "scripts/main.js" %}></script>

<script>
  $(function () {
    $('#myTab a:last').tab('show')
  })
</script>

<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
      'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1443658532619198',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    // statusChangeCallback(response);
    if (!response.session) {
        //initiate FB OAuth js popup dialog
        FB.ui({
          method: 'oauth',
          display: 'page',
          scope: 'email',
          perms: 'email'
        },
        function(response) {
            if (response.session) { //if permission Allowed
              var thesession = response.session;
                var thesession = eval('(' + thesession + ')'); //decode json
                //POSTing to local file get.user_graph.php, to fetch user info
                $.ajax({
                  type: "POST",
                  url: "get.user_graph.php",
                  data: "client_id=<?php echo $appId; ?>&client_secret=<?php echo $secret; ?>&sessions="+thesession.session_key+"&type=client_cred&uid="+thesession.uid,
                  dataType: "text",
                  success: function(user_graph){
                    var user_graph1 = eval('('+user_graph+')');
                        alert(user_graph1.name); //users name
                        alert(user_graph1.id); //users id
                        alert(user_graph1.email); //users email
                        alert(user_graph1.link); //users profile link
                      }
                    });
              } else {
                //if permission Not Allowed
              }
            });
}
});

};

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {

      // response = JSON.stringify(response);

      var id = response.id;
      var email = response.email;
      var first_name = response.first_name;
      var gender = response.gender;
      var last_name = response.last_name;
      var name = response.name;

      var data = id + "/" + email+ "/" + first_name + "/" + last_name + "/" + name + "/" + gender;

      var url = "{% url 'customer:getFBLogin' 0 0 0 0 0 0 %}".replace('0/0/0/0/0/0', data);

      console.log(url);

      $.ajax({
        type: 'GET',
        url: url,
        data: "",
        success: function(data){
          alert('done!');
        },
        error: function(xhr, type, exception) { 
          alert("ajax error response type "+type);
        }
      });


      console.log('Successful login for: ' + response.name);
      console.log(response);
      document.getElementById('status').innerHTML =
      'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<script type="text/javascript">

  function validateEmail(email) {
    var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
    return re.test(email);
  }

  function val_log(){
    var user = $("#id_username1").val();
    var pass = $("#id_password").val();

    if(user.length==0){
      $("#resp").text("Enter Email Id");
      return false;
    } else if(!validateEmail(user)){
      $("#resp").text("Enter Valid Email ID");
      return false;
    } else if(pass.length==0){
      $("#resp").text("Enter Password");
      return false;
    }

  }

  function val_sign(){
    var user = $("#id_username2").val();
    var email = $("#id_email").val();
    var pass = $("#id_password").val();

    if(user.length==0){
      $("#resp").text("Enter Username");
      return false;
    } else if(email.length==0){
      $("#resp").text("Enter Email ID");
      return false;
    } else if(!validateEmail(email)){
      $("#resp").text("Enter Valid Email ID");
      return false;
    } else if(pass.length==0){
      $("#resp").text("Enter Password");
      return false;
    }

  }
</script>


<script type="text/javascript">
  // use this if fb like fails code fails
  // $(document).ready(function() {

  //   var url = '{{ boutique.fb_url }}';
  //   $("#likes").html('<fb:like href="' + url + '" layout="button_count" show_faces="false" width="65" action="like" font="segoe ui" colorscheme="light" />');
  //   if (typeof FB !== 'undefined') {
  //     FB.XFBML.parse(document.getElementById('likes'));
  //   }

  // });


</script>


{% block scripts %}


{% endblock scripts %}

</body>

</html>