{% extends "base2.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block content %}
<div class="clearfix"></div>
<!-- Start header Section-->

<section class="header-section fading-title parallax" style="background-size: 110%; background-position: 76.8292682926829% 38.4146341463415%;">
  <div class="section-shade sep-top-3x sep-bottom-2x">
    <div class="container">
      <div class="section-title upper light" style="opacity: 1; margin-bottom: 0px; margin-top: 0px;">
        <h2 class="small-space">Order History</h2>
        <p class="lead">View your Shopping History</p>
      </div>
    </div>
  </div>
</section>
<!-- End header Section-->


<!-- Start Order History Table-->

<section class="sep-top-md sep-bottom-2x">
  <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <table class="table table-bordered table-condensed table-striped shop-table table-responsive">
            <thead>
              <tr>
                <th scope="col" class="dark upper">Transaction Id</th>
                <th scope="col" class="dark upper">Product</th>
                <th scope="col" class="dark upper">Price</th>
                <th scope="col" class="dark upper">Status</th>
                <th scope="col" class="dark upper">Adress</th>
                <th scope="col" class="dark upper">Cancel</th> 
              </tr>
            </thead>

            <tbody>
             {% for trn in transaction %}
             {% if  trn.status != 'canceled' %}
             <tr>
                <td scope="col">RTZ{{ trn.id|add:1000000 }}</td>
                {% if trn.product.name %}
                <td scope="col">{{ trn.product.name }}</td>
                {% else %}
                <td scope="col">{{ trn.category.name }}&nbsp;{{ trn.category.tailor }}</td>
                {% endif %}
                <td scope="col">₹&nbsp;{{ trn.amount }}</td>
                <td scope="col">{{ trn.get_status_display }}</td>
                <td scope="col">{{ trn.address.address_line_1 }}<br>{{ trn.address.address_line_2 }}</td>
                {% if trn.status == 'shipped_to_customer' %}
                <td scope="col"><button class="btn btn-primary" disabled="disabled"> Cancel </button></td>
                {% elif trn.status == 'delivered' %}
                <td scope="col"><button class="btn btn-primary" disabled="disabled"> Cancel </button></td>
                {% else %}
                <td scope="col"><a title="" href="/accounts/order-history/cancel/{{ trn.id }}"><button class="btn btn-primary" > Cancel </button></a></td>
                {% endif %}
             </tr>
             {% endif %}
             {% endfor %}
            </tbody>
            </table>
            </div>
            </div>
            </div>
            </section>

{% endblock content %}