{% extends "base2.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block styles %}
  
<link rel="stylesheet" href={% static "style.css" %}>

<style>

.progress{
height:16px;
}

.border{
    border: 2px solid #CF1E75;
}
</style>

{% endblock styles %}

{% block scripts %}
  
<script type="text/javascript">
  
function contentAjaxload(url){

window.location.replace(url);
}

// Class adding script
$(document).ready(function() {

  $(".page").addClass('stitching');

});
    
</script>

{% endblock scripts %}


{% block content %}
<!-- Start header Section-->
      <section class="header-section fading-title parallax">
        <div class="section-shade sep-top-3x sep-bottom-2x">
          <div class="container">
            <div class="section-title upper light">
              <h2 class="small-space">Pattern Cart</h2>
              <p class="lead">List of Patterns selected for Stitching Product</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->

<section class="sep-bottom-2x sep-top-lg">
     <div class="container">
         <div class="row">
         	<div class="col-sm-12 text-center"><h1 class="headng">CART DETAILS</h1></div>
         </div>
         <div class="row">
        	<div class="col-sm-10 sep-top-md border col-sm-offset-1">
            	<div class="preview_order">
                      
                {% if product_content %}
                  <span class="title">{{product_content.name}} | Product ID: UTP{{product_content.id}}</span>
                {% endif %}

                    <div class="row">
                    	<div class="col-lg-4 prct_prvw_innr">
            <div class="col-lg-12 prct_prvw_innr_hed">Main</div>
  
{% if pattern_content %}
{% for pattern in pattern_content %}
<div class="col-lg-12 prct_prvw_innr_cnt">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div style="padding:0px;font-size: 14px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{pattern.sub_category.name}}</div>
  </div>
  <div style="text-align:center;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div style="padding:0px;font-size: 14px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
    {% thumbnail pattern.image "259x195" crop="center" format="PNG" as image %}
    <img src="{{image.url}}" style="max-height:70px;">
    {% endthumbnail %}

    </div>
    <div style="padding:0px;font-size: 14px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">{{pattern.name}}</div>  
  </div>
</div>

{% endfor %}
{% endif %}
        </div>

          
<!-- <div class="col-lg-4 prct_prvw_innr">
<div class="col-lg-12 prct_prvw_innr_hed">Extras</div> 


  	<div class="col-lg-12 prct_prvw_innr_cnt">
  		<div style="padding:0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   			<div style="padding: 0px;" class="col-xs-5 col-sm-5 col-md-5 col-lg-5">Not Applicable</div>
		</div>
	</div>
</div>-->


        				<div style=" border:none" class="col-lg-4 prct_prvw_innr">
            <div class="col-lg-12 prct_prvw_innr_hed">Price</div> 
            <div style="border:none;" class="col-lg-12 prct_prvw_innr_cnt">
               <div style="padding:0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div style="padding:0" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Basic Stitching :</div>
                    <div style="text-align: end;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    	Rs. {{basic_cost}}/-
                    </div>
                </div>
            </div>
            <!--<div style="border:none; " class="col-lg-12 prct_prvw_innr_cnt">
                <div style="padding:0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div style="padding:0" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Add-ons :</div>
                    <div style="text-align: end;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    Rs. 0/-
                    </div>
                 </div>
            </div>-->
            
	        <!--<div style="border:none; padding:0px;" class="col-lg-12 prct_prvw_innr_cnt order-discount-parent ">
    	        <div style="padding:0" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        	        <div style="padding:0" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><b>Discount :</b></div>
                    <div style="text-align: end;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    	<b>Rs. -</b><b class="order-discount">100</b><b>/-</b>
                   	</div>
               	 </div>
            </div>-->
            	
            <div style="padding:0;" class="col-lg-12 prodct_prvw_head">
            	<div style="padding:0" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Total: </div>
            	 <div style="text-align: end;" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            	 	<b>Rs. </b><b class="order-total">{{total}}</b><b>/-</b>
            	 	<!--



Rs. 400/-->
</div>
</div>
<div style="border-bottom:1px solid #C6C6C6; margin-top:10px" class="col-xs-12 col-sm-12 col-md-12 hidden-lg"></div>

<div style="margin-top:40px; text-align:center;" class="col-lg-12">
	<div class="col-lg-12"><a data-id="ODR4163" class="remove-item" href="{% url 'promotions:TailorView' %}">X Remove</a></div>
</div>



</div>
    </div>
    
</div>
</div>
</div>
<form action="" method="POST">
{% csrf_token %}
<div class="text-center" style="margin-top:15px;">
<input type="submit" class="btn btn-primary" value="Add to Cart">
</div>
</form>


</div>
</section>
{% endblock content %}
