{% extends "base2.html" %}
{% load staticfiles %}

{% block styles %}

<link rel="stylesheet" href={%static "style.css" %}>


<style>

.progress{
height:16px;
}
.border{
  border: 2px solid #CF1E75;
}
    
</style>

  
{% endblock styles %}


{% block scripts %}

<script type="text/javascript">
      
function contentAjaxload(url){
  
  window.location.replace(url);
}

$(document).ready(function() {
  $(".page").addClass('stitching');        
});        
</script>


<script type="text/javascript">


$('.textWord_selected').hide();

$('.link').click(function() {
    $('.textWord_selected').hide();       
    $('.textWord_selected[data-link=' + $(this).data('link') + ']').fadeIn({
        width: '200px'
    }, 300);
});
</script>

<!-- Submit button validation-->
<script>
function validation(){

  {% if address %}
  flag = 1;
  {% else %}
  flag = 0;
  {% endif %}

  if (flag == 1){
    return true;
  }
  else if(flag == 0){
    alert("Please add a pickup address");
    return false;
  }
  }

// Validate form in modal popup
function valProfile(){

    var first_name = $("#id_first_name").val();
    var last_name = $("#id_last_name").val();
    var mobile_number = $("#id_mobile_number").val();
    var address_line_1 = $("#id_address_line_1").val();
    var address_line_2 = $("#id_address_line_2").val();
    var city = $("#id_city").val();
    var postcode = $("#id_postcode").val();
    var state = $("#id_state").val();
    var country = $("#id_country").val();

    var regex=/^[a-zA-Z]+$/;

    if(first_name == "" || last_name == "" || mobile_number == "" || address_line_1 == "" || address_line_2 == "" || city == "" || postcode == "" || state == "" || country == ""){
      alert("Please fill all fields!");
      return false;
    } else if(mobile_number.match(regex)){
      alert("Enter only enter digits for mobile number!");
      return false;
    } else if(postcode.match(regex)){
      alert("Enter only enter digits for postcode!");
      return false;
    }

  }
</script>
<!-- Submit button validation-->

<script>
$(document).ready(function() {
    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});
</script>
  
{% endblock scripts %}

{% block content %}
  

<!-- Start header Section-->
      <section class="header-section fading-title parallax">
        <div class="section-shade sep-top-3x sep-bottom-2x">
          <div class="container">
            <div class="section-title upper light">
              <h2 class="small-space">Select Pickup Address</h2>
              <p class="lead">Select Pickup address and service will be at your front door</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      <!-- Start Stitching-->

      <!-- End Stitching-->

      <!-- search section -->


<section class="sep-bottom-2x sep-top-lg">
     <div class="container">
        
         <div class="row">
         	<div class="col-md-10 sep-top-md border col-md-offset-1">

                  <h4 class="text-center upper">Pick up from my address</h4>
                  <div class="sep-bottom-md"></div>
                    <div class="col-md-2 col-sm-12 col-xs-12 col-md-offset-2">Address</div>
              
                      <div class="col-md-6 col-sm-12 col-xs-12 sep-bottom-md col-md-offset-1">
                      <div class="address"> 
                              <div class="edit pull-right"><a class="edit_addr" style="cursor:pointer;" data-toggle="modal" data-target="#myPickup"><i class="fa fa-edit"></i>&nbsp;Edit</a></div>
                              {% if address %}

                                <p><i class="fa fa-map-marker fa-lg"></i>&nbsp;<small>{{address.first_name}}, {{address.city}}, {{address.state}},{{address.postcode}}, {{address.country}}</small></p>
                                <p><i class="fa fa-phone fa-lg"></i>&nbsp;<small>{{address.mobile_number}}</small></br></p>
                                <p><i class="fa fa-envelope fa-lg"></i>&nbsp;<small>{{request.user.username}}</small></p>

                              {% else %}
                                
                                <p><i class="fa fa-map-marker fa-lg"></i>&nbsp;<small>Please Add your details</small></p>
                                <p><i class="fa fa-phone fa-lg"></i>&nbsp;<small>Please Add your Mobile number</small></br></p>
                                <p><i class="fa fa-envelope fa-lg"></i>&nbsp;<small>{{request.user.username}}</small></p>

                              {% endif %}
                               </div>
                               <div class="modal fade" id="myPickup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">

                                      <form action="" method="POST" onsubmit="return valProfile();">
                                      {% csrf_token %}
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        {% if address %}
                                        <h4 class="modal-title" id="myModalLabel">Edit Pickup Address</h4>
                                        {% else %}
                                        <h4 class="modal-title" id="myModalLabel">Add Pickup Address</h4>
                                        {% endif %}
                                      </div>
                                      <div class="modal-body">
                                         {% for field in form.visible_fields %}
                                         <div class="form-group">
                                          <label class="sr-only" >{{field.field.label}}:</label> 
                                          {{field}} {{field.errors}}
                                         </div>
                                        {% endfor %}
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                      </div>
                                      </form>

                                    </div>
                                  </div>
                                </div>
                      </div>
				<div class="text-center" style="margin-bottom:10px;">

        <!-- Adds virtual item to cart for i have a material option-->
        <form action="/add_virtual_item/" method="POST" onsubmit="return validation()">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" style="margin-top:15px;">NEXT &gt;</button>
        </form>

        </div>
            </div>
         </div>

		
	</div>
</section>

{% endblock content %}

