{% extends "base2.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

<!-- Start header Section-->
<section class="header-section fading-title parallax">
  <div class="section-shade sep-top-3x sep-bottom-2x">
    <div class="container">
      <div class="section-title upper light">
        <h2 class="small-space">Stitching Center</h2>
        <p class="lead">Select pattern and send for stitching</p>
      </div>
    </div>
  </div>
</section>

<section class="sep-bottom-2x sep-top-lg">
 <div class="container">
   <div class="row">
    <div class="col-sm-12 text-center"><h1 class="headng">STITCHING</h1></div>
  </div>
  {% if product_content %}
  <div class="row">
    <div class="text-center">
      {% with product_content.image.all|first as image %}
      {% thumbnail image.image "500x750" crop="top" format="PNG" as image %}
      <img src="{{ image.url }}" width="150" class="border">
      {% endthumbnail %}
      {% endwith %}
    </div>
  </div>

  <br />
  <br />
  <br />
  {% endif %}

  <!-- Patterns progress bar-->
  <div class="row bs-wizard">
    {% for sub_category in tailor_subcategory %}

    <div class="bs-wizard-step bs{{forloop.counter}}" style="width:{{ wizard_width }}%;float:left;">
     <div class="pgs_head text-center text-primary upper">{{sub_category.name}}</div>
     <div class="progress {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">
      <div class="progress-bar progress-bar-info " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" {% if length_subcategory == 1 %} style="width: 100%" {% else %} {% if forloop.first %} style="width: 10%" {% endif %} {% endif %}></div>
    </div>
  </div>

  {% endfor %}

</div>


<!-- Patterns progress bar-->
<div class="row" id="progress_images">
  <div class="col-sm-12">

    {% for sub_category, patterns in tailor_patterns.iteritems %}
    <!-- Pattern section div -->
    <div id="prg_tab{{forloop.counter}}" class="prgtab {% if forloop.counter0 == 0 %} visible_div {%else%} hidden_div {% endif %}">
      <div class="row">

        {% for pat in patterns %}
        <div class="col-sm-3 text-center border_n">
          <a class="text-center pg_img" style="display:block">

            {% thumbnail pat.image "198x149" crop="center" format="PNG" as image %}
            <img src="{{image.url}}" class="img-responsive">
            {% endthumbnail %}

          </a>
          <input type="hidden" name="{{pat.name}}" class="pid" value="{{pat.id}}">
          <div class="clickimg hidden">
            <img src={% static "images/select_itm.png" %}>
          </div>
          <div class="text-center">{{ pat.name }}</div>
          <div class="text-center">Rs.{{ pat.price }}</div>
        </div>
        {% endfor %}

      </div>
    </div>
    <!-- Pattern section div -->
    {% endfor %}

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
   <div class="text-center" style="margin-top:15px;">
     <a href="#" class="btn btn-primary prv">&lt; BACK</a>
     <a href="#" class="btn btn-primary nxt">NEXT &gt;</a>
   </div>
 </div>
</div>


</div>
</section>


{% endblock content %}

{% block styles %}

<link rel="stylesheet" href={% static "style.css" %}>

<style>

 .progress{
   height:16px;
 }
 .myborder{
  border: 1px solid #CF1E75;
}
.border_n{
  border: 1px solid #ffffff;
}

</style>

{% endblock styles %}


{% block scripts %}

<script type="text/javascript">

  function contentAjaxload(url){

   window.location.replace(url);
 }

 $(function() {

  $(".page").addClass('stitching');

});

</script>


<script>


  var max_items = {{ length_subcategory }};

  var item_array = [ {'name' : 'access_token', 'id' : 'iyRC3T8n7eipsZOV4UXiyRC3T8n7eipsZOV4UXyqUSnw8VGDV4myqUSnw8VGDV4m'}, {'name' : 'csrf_token', 'id' : 'iyRC3T8XyqUSnw8VGDV4mn7w8VGDV4mn7eiKoBdUkrr99V9s2MOYrv7QwTwCGN6fh52eipsU'}, {'name' : 'pdt', 'id' : '{{ cart_content.id }}'} ]
  var id_global;
  var name_global;

 // old
 //  $('#progress_images a.pg_img').click(function(e) {
 //   $('.pg_img').children('img').removeClass('border');
 //   $(this).children('img').addClass('border');
 //   $('.pg_img').siblings('.clickimg').addClass('hidden');
 //   $(this).siblings('.clickimg').removeClass('hidden');
 // });

$('#progress_images a.pg_img').click(function(e) {

 $(this).parent().siblings('.col-sm-3').removeClass('myborder');
 $(this).parent().siblings('.col-sm-3').addClass('border_n');

 $(this).parent().removeClass('border_n');
 $(this).parent().addClass('myborder');

 $('.pg_img').siblings('.clickimg').addClass('hidden');
 $(this).siblings('.clickimg').removeClass('hidden');

 id = $(this).siblings('.pid').val();
 name = $(this).siblings('.pid').attr('name');

 name_global = name;
 id_global = id;

});


$('a.nxt').click(function (e) {
    //$('.prgtab').hide();

    item_array.push({'name': 'pid', 'id': id_global});
    item_array = $.unique( item_array );

    e.preventDefault();
    if($('.prgtab.visible_div').children().children().hasClass('myborder')){
    // if($('.prgtab.visible_div').children().hasClass('myborder')){
      if($('.prgtab.visible_div').index() == max_items-1){
        //form submission here

        querystring = "";
        for(i=0; i<item_array.length; i++){
          id1 = item_array[i].id;
          name = item_array[i].name;

          querystring += name + "=" + id1;

          if(i<item_array.length-1)
            querystring += "&";

        }

        contentAjaxload('/accounts/measurements/?'+querystring);
      }
      if ($('.prgtab.visible_div').index() < max_items-1)
        $('.prgtab.visible_div').removeClass('visible_div').addClass('hidden_div').next().addClass('visible_div').removeClass('hidden_div');

      $id = parseInt($('.prgtab.visible_div').attr('id').substr($('.prgtab.visible_div').attr('id').length - 1));
      if ($id && $id <= max_items) {
        if ($id > 1) {
         $id = $id - 1;
         $class = 'bs' + $id;
         $('.' + $class).find('.progress-bar').animate({width: "100%"}, 100, function () {
          $id = $id + 1;
          $class = 'bs' + $id;
          if ($id > max_items-1)
           $('.' + $class).find('.progress-bar').animate({width: "100%"});
         else
           $('.' + $class).find('.progress-bar').animate({width: "50%"});
       });
       }
     }
   }else{
     alert("please select any item");
   }

    //$('.prgtab').is(':visible').next().show();
  });
$('a.prv').click(function (e) {
  e.preventDefault();

  if(item_array.length > 0)
    item_array.pop();

  $id = parseInt($('.prgtab.visible_div').attr('id').substr($('.prgtab.visible_div').attr('id').length - 1));
  if ($('.prgtab.visible_div').index() >= 1)
   $('.prgtab.visible_div').removeClass('visible_div').addClass('hidden_div').prev().addClass('visible_div').removeClass('hidden_div');
 if ($id && $id > 1) {
   $class = 'bs' + $id;
   $('.' + $class).find('.progress-bar').css("width", "0%");
   if ($id > 1) {
    $id = $id - 1;
    $class = 'bs' + $id;
    if ($id > 1)
     $('.' + $class).find('.progress-bar').css("width", "50%");
   else
     $('.' + $class).find('.progress-bar').css("width", "0%");
 }
}
});

</script>

{% endblock scripts %}


