{% extends "base2.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block content %}

<div class="page">
  <section itemscope="">
    <div class="container">

      <div class="row" style="
      margin-top: 42px;
      ">
      <!-- Start Content-->
      <div class="col-md-4" style="
      margin-top: 40px;
      ">

      <button type="button" class="btn btn-primary" onclick='document.location="http://{{ product.boutique.url }}"'><i class="fa fa-home"></i> Home</button></div>
      <!-- End Content-->

    </div>


    <div class="row">
      <!-- Start Sidebar-->
      <div class="col-md-5 sep-top-2x">

        <div class="product-images">
          {% if product.image.all %}
          {% with product.image.all|first as img %}
          <a href="{{ img.image.url }}" data-rel="prettyPhoto[pp_gal0]" title="{{ product.name }}" rel="prettyPhoto[pp_gal0]"><img title="" alt="" src="{{ img.image.url }}" itemprop="image" class="img-responsive"></a>
          {% endwith %}
          {% else %}
          <a href="{% static 'images/unknown.jpg' %}" data-rel="prettyPhoto[pp_gal0]" title="" rel="prettyPhoto[pp_gal0]"><img title="" alt="" src="{% static 'images/unknown.jpg' %}" itemprop="image" class="img-responsive"></a>
          {% endif %}
        </div>

        <div class="product-thumbnails">

          {% if product.image.all %}
          {% for img in product.image.all %}
          <a href="{{ img.image.url }}" data-rel="prettyPhoto[pp_gal]" title="{{ product.name }}" class="zoom first" rel="prettyPhoto[pp_gal]"><img title="" alt="" src="{{ img.image.url }}" class="img-responsive"></a>
          {% endfor %}
          {% endif %}

        </div>

      </div>
      <!-- End Sidebar-->
      <!-- Start Content-->
      <div class="col-md-7 sep-top-lg">
        <div class="main-product-title">

          <!-- <h2><span itemprop="name">Pink Kurta</span><small itemprop="brand">Woman</small></h2> -->
          <h2><span itemprop="name">{{ product.name }}</span><small itemprop="brand">{{ product.category.name }}</small></h2>

          <h6></h6>
          <meta itemprop="identifier" content="mpn:12345-6789">
        </div>
        <!-- description -->
        <div itemprop="description" class="sep-top-sm">
          <p class="lead">{{ product.description }}</p>
        </div>
        <div itemprop="offers" itemscope="" class="price-shop sep-top-xs">
          <meta itemprop="priceCurrency" content="USD">

          {% if product.discount_amount != 0 %}
          <del>&#x20B9;&nbsp;{{ product.price }}</del><ins>&#x20B9;&nbsp;{{ product.discount_amount }}</ins>
          {% else %}
          <ins>&#x20B9;&nbsp;{{ product.price }}</ins>
          {% endif %}

        </div>


        <form action="/cart/add_to_bag/{{ product.id }}/" method="POST" class="form" id="id_add_cart_form">
          <input type="hidden" name="target" id="id_target" value="" /> 
          
          {% if flag == 0 %}
          {% if product.size.all|length > 0 %}
          <div class="row">

            <div class="col-md-6 sep-top-sm">
              <h6>Select the size</h6>

              <ul class="size-product upper">

                {% for size in product.size.all %}
                {% if size.stock > 0 %}
                <li>
                  <label>
                    <input type="radio" name="size-product" value="{{ size.id }}" checked="true"><span>{{ size.product_size }}</span>
                  </label>
                </li>
                {% endif %}
                {% endfor %}

              </ul>

            </div>

          </div>
          {% endif %}
          {% endif %}

        {% if flag == 0 %}
          
          <div class="row">

            <div class="col-md-12 col-sm-6 sep-top-md">
             <div class="row prod-btn">
               {% if product.stitching|slugify == "non-stitched" or product.stitching|slugify == "half-stitched" %}

               {% if request.user.username %}
               <button type="submit" onclick="$('#id_target').val('2');" class="btn btn-primary btn-lg"><i class="fa fa-scissors"></i>&nbsp;Stitch</button>
               {% else %}
               <div class="action-button btn btn-primary btn-xs upper action-btn" href="#myModal" data-toggle="modal"><i class="fa fa-scissors"></i>&nbsp;&nbsp;Stitch</div>
               {% endif %}

               {% endif %}

               {% if request.user.username %}
               <button type="submit" onclick="$('#id_target').val('1');" class="btn btn-primary btn-lg"><i class="fa fa-shopping-cart"></i>&nbsp;Add to cart</button>
               {% else %}
               <div class="action-button btn btn-primary btn-xs upper action-btn" href="#myModal" data-toggle="modal"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add to cart</div>
               {% endif %}

             </div>
           </div>

         </div>
         {% else %}
         <h3>Out of Stock</h3>
        {% endif %}

       </form>

       <div class="clearfix"></div>
       <ul class="sep-top-lg product-category">
        <li>
          <h6 class="upper">Category</h6><a href="#">{{ product.category.name }}</a>
        </li>
        <li>
          <h6 class="upper">Tags</h6><a href="#">{{ product.tags }}</a>
        </li>
      </ul>
    </div>
    <!-- End Content-->
  </div>
  <div class="row">
    <!-- Start Content-->
    <div class="col-md-12 sep-top-md">
      <!-- start accordion group-->
      <div id="accordion" class="accordion-group">
        <!-- start accordion item-->
        <div class="accordion-item panel">
          <div class="accordion-heading upper"><a data-toggle="collapse" data-parent="#accordion" href="#collapse0" class="accordion-toggle">Product Description<i class="accordion-icon fa fa-minus"></i></a></div>
          <div id="collapse0" class="accordion-body panel-collapse in">
            <p>
              {{ product.description }}
            </p>
          </div>
        </div>
        <!-- end accordion item-->
      </div>
      <!-- end accordion group-->
    </div>
    <!-- End Content-->

  </div>
</div>
</section>

<section class="widget_products sep-top-2x">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 class="widget-title-bordered upper">Best seller</h5>
        <div class="row">

          {% for item in best %}
          <div class="col-md-6">
            <ul class="widget widget-media sep-bottom-lg">
              <li class="media media-bordered">
                <a href="/{{ item.name|slugify }}_{{ item.id }}/" class="pull-left">

                  {% if item.image.all %}
                  {% with item.image.all|first as img %}
                  {% thumbnail img "82x100" crop="center" as image %}
                  <img src="{{ image.url }}" alt="Heaven White Shirt" class="img-responsive">
                  {% endthumbnail %}
                  {% endwith %}
                  {% else %}
                  <img src="{% static 'images/unknown.jpg' %}" alt="Only You" width="82" height="100" class="img-responsive">
                  {% endif %}

                </a>
                <div class="media-body"><small class="upper">{{ item.category }}</small>
                  <h6 class="media-heading"><a href="/{{ item.name|slugify }}_{{ item.id }}/">{{ item.name }}</a></h6>
                  <div class="product-detail">

                    <div class="price-shop">

                      {% if item.discount_amount != 0 %}
                      <del>&#x20B9;&nbsp;{{ item.price }}</del><ins>&#x20B9;&nbsp;{{ item.discount_amount }}</ins>
                      {% else %}
                      <ins>&#x20B9;&nbsp;{{ item.price }}</ins>
                      {% endif %}

                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          {% endfor %}

<!--
          <div class="col-md-6">
            <ul class="widget widget-media sep-bottom-lg">
              <li class="media media-bordered"><a href="#" class="pull-left"><img src="img/products/2.jpg" alt="Only You" width="82" height="100" class="img-responsive"></a>
                <div class="media-body"><small class="upper">woman</small>
                  <h6 class="media-heading"><a href="#">Churidar</a></h6>
                  <div class="product-detail">

                    <div class="price-shop">
                      <del>₹&nbsp;1029.00</del><ins>₹&nbsp;999.00</ins>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        -->

      </div>
    </div>
    <div class="col-md-6">
      <h5 class="widget-title-bordered upper">New Arrivals</h5>
      <div class="row">

        {% for item in arrivals %}
        <div class="col-md-6">
          <ul class="widget widget-media sep-bottom-lg">
            <li class="media media-bordered">
              <a href="/{{ item.name|slugify }}_{{ item.id }}/" class="pull-left">

                {% if item.image.all %}
                {% with item.image.all|first as img %}
                {% thumbnail img "82x100" crop="center" as image %}
                <img src="{{ image.url }}" alt="Heaven White Shirt" class="img-responsive">
                {% endthumbnail %}
                {% endwith %}
                {% else %}
                <img src="{% static 'images/unknown.jpg' %}" alt="Only You" width="82" height="100" class="img-responsive">
                {% endif %}

              </a>
              <div class="media-body"><small class="upper">{{ item.category }}</small>
                <h6 class="media-heading"><a href="/{{ item.name|slugify }}_{{ item.id }}/">{{ item.name }}</a></h6>
                <div class="product-detail">

                  <div class="price-shop">

                    {% if item.discount_amount != 0 %}
                    <del>&#x20B9;&nbsp;{{ item.price }}</del><ins>&#x20B9;&nbsp;{{ item.discount_amount }}</ins>
                    {% else %}
                    <ins>&#x20B9;&nbsp;{{ item.price }}</ins>
                    {% endif %}

                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        {% endfor %}

<!--
        <div class="col-md-6">
          <ul class="widget widget-media sep-bottom-lg">
            <li class="media media-bordered">
              <a href="#" class="pull-left">
                <img src="img/products/4.jpg" alt="Sunny Tank Selected Femme" width="82" height="100" class="img-responsive">
              </a>
              <div class="media-body"><small class="upper">woman</small>
                <h6 class="media-heading"><a href="#">Sunny Tank Selected Femme</a></h6>
                <div class="product-detail">

                  <div class="price-shop">
                   <del>₹&nbsp;599.00</del><ins>₹&nbsp;520.00</ins>
                 </div>
               </div>
             </div>
           </li>
         </ul>
       </div>
     -->

   </div>
 </div>
</div>
</div>
</section>


</div>

{% endblock content %}


{% block scripts %}

<script type="text/javascript">

  $(document).ready(function() {
    $(".page").addClass('product');
    $("#main-navigation").addClass('opaque');
    $("#main-navigation").addClass('nav-product');

    var img = $(".logo-dark").attr('src');
    $(".logo-white").attr('src', img);

    $("#copyright").text('Website by Ritzley.');

  });

</script>

<script type="text/javascript">

  $(document).ready(function() {

    // Submit of cart form
    $('#id_add_cart_form').submit(function(event) {

      var target = $("#id_target").val();

      /* Act on the event */
      var size = $('#id_add_cart_form').serialize();
      var url = '/cart/add_to_bag_ajax/{{ product.id }}/?'+size;

      $.ajax({
        url: url,
        type: 'GET',
        dataType: 'text',
        success: function(data, textStatus, xhr) {
          if(data == "-1"){
            toastr.error('Selected size out of stock!', 'Ritzley');
          } else if(data == "-2"){
            toastr.error('Please select a size!', 'Ritzley');
          } else if(data == "-3"){
            toastr.error('Please login to your account!', 'Ritzley');
          } else {
            toastr.success('Item Added to your cart!', 'Ritzley');
            if(target == "1"){
            // Add to Cart button pressed
            setTimeout(function(){ window.location.reload(); }, 1000);
            } else if(target == "2"){
            //Stitch button pressed
            document.location="/cart/find_stitcher/{{ product.id }}/"
          }
        }

      },
      error: function(xhr, textStatus, errorThrown) {
          //called when there is an error
          console.log("Error! "+textStatus+" = "+errorThrown);
        }
      });

      return false;

    });

});
</script>


{% endblock scripts %}