<div class="box">
	<div style="width:600px"></div>
  <div class="box-head">
    <h1 class="text-center">Edit Profile Details</h1>
  </div>
  <div class="box-body">
    <div class="box-content">

      <div class="form-body">

        <form role="form" enctype="multipart/form-data" method="POST" onsubmit="return valProfile();" action="/accounts/profile_modal/">{% csrf_token %}

          <div class="form-group">
            <label class="sr-only" >Email:</label>
            <input class="form-control" id="id_email" name="email" placeholder="Enter Email" readonly="true" type="email" value="{{ request.user.username }}">
          </div>

          {% for field in form.visible_fields %}
          <div class="form-group">
            <label class="sr-only" >{{field.field.label}}:</label> 
            {{field}} {{field.errors}}
          </div>
          {% endfor %}

          <button type="submit" class="btn btn-primary">Save Details</button>
        </form>

        <!--

        <div class="form-group">
          <label class="sr-only">First Name</label>
          <input type="text" placeholder="First Name" name="first_name" class="form-control input-lg" value="{{ address.first_name }}">
        </div>
        <div class="form-group">
          <label class="sr-only">Last Name</label>
          <input type="text" placeholder="Last Name" name="last_name" class="form-control input-lg" value="{{ address.last_name }}">
        </div>

        <div class="form-group">
          <label class="sr-only">Email</label>
          <input type="text" placeholder="Email" name="email" class="form-control input-lg" value="{{ address.email }}">
        </div>

        <div class="form-group">
          <label class="sr-only">Mobile Number</label>
          <input type="text" placeholder="Mobile Number" name="mobile_number" class="form-control input-lg" value="{{ address.mobile_number }}">
        </div>

        <div class="form-group">
          <label class="sr-only">Address Line 1</label>
          <input type="text" placeholder="Address Line 1" name="address_line_1" class="form-control input-lg" value="{{ address.address_line_1 }}">
        </div>

        <div class="form-group">
          <label class="sr-only">Address Line 2</label>
          <input type="text" placeholder="Address Line 2" name="address_line_2" class="form-control input-lg" value="{{ address.address_line_2 }}">
        </div>

        <div class="form-group">
          <label class="sr-only">Town / City</label>
          <input type="text" placeholder="Town / City" name="city" class="form-control input-lg" value="{{ address.city }}">
        </div>

        <div class="form-group">
          <label class="sr-only">Postcode</label>
          <input type="text" placeholder="Postcode / Zip" name="postcode" class="form-control input-lg" value="{{ address.postcode }}">
        </div>

        <div class="form-group">
          <label class="sr-only">State</label>
          <input type="text" placeholder="State" name="state" class="form-control input-lg" value="{{ address.state }}">
        </div>

        <div class="form-group">
          <label class="sr-only">Country</label>
          <input type="text" placeholder="Country" name="country" class="form-control input-lg" value="{{ address.country }}">
        </div>

        <div class="form-footer">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <br />

      </form>
    -->

    <form role="form" enctype="multipart/form-data" method="POST" action="/accounts/change_pass/" onsubmit="return pass_val()">{% csrf_token %}

      <div class="box-head">
        <h1 class="text-center">Edit Password Details</h1>
      </div>

      <div class="form-group">
        <label class="sr-only">Old Password</label>
        <input type="password" class="form-control" placeholder="Old Password" name="opsw" id="id_opsw" value="">
      </div>
      <div class="form-group">
       <label class="sr-only">New Password</label>
       <input type="password" class="form-control" placeholder="New Password" name="npsw" id="id_npsw" value="">
     </div>
     <div class="form-group">
       <label class="sr-only">Confirm Password</label>
       <input type="password" class="form-control" placeholder="Confirm Password" name="cpsw" id="id_cpsw" value="">
     </div>

     <div class="form-footer">
      <button type="submit" class="btn btn-primary">Change Password</button>
    </div>
  </form>

</div>

</div>
</div>
</div>
<script type="text/javascript">

  function valProfile(){

    var first_name = $("#id_first_name").val();
    var last_name = $("#id_last_name").val();
    var mobile_number = $("#id_mobile_number").val();
    var address_line_1 = $("#id_address_line_1").val();
    var address_line_2 = $("#id_address_line_2").val();
    var city = $("#id_city").val();
    var postcode = $("#id_postcode").val();
    var state = $("#id_state").val();
    var country = $("#id_country").val();

    var regex=/^[a-zA-Z]+$/;

    if(first_name == "" || last_name == "" || mobile_number == "" || address_line_1 == "" || address_line_2 == "" || city == "" || postcode == "" || state == "" || country == ""){
      alert("Please fill all fields!");
      return false;
    } else if(mobile_number.match(regex)){
      alert("Enter only enter digits for mobile number!");
      return false;
    } else if(postcode.match(regex)){
      alert("Enter only enter digits for postcode!");
      return false;
    }

  }

  function pass_val(){

    var old_pass = $("#id_opsw").val();
    var new_pass = $("#id_npsw").val();
    var confirm = $("#id_cpsw").val();

    if(old_pass == "" || new_pass=="" || confirm==""){
      alert("Fill all fields");
      return false;
    } else if(new_pass!=confirm){
      alert("Passwords mismatch! Please retype");
      return false;
    }

  }

</script>
