{% extends "base2.html" %}
{% load staticfiles %}

{% block content %}

<section>
  <div class="sep-top-2x sep-bottom-xs">
    <div class="container">
      <div>
        <h2 class="small-space">Profile & Measurements</h2>
        <p class="lead inline">Edit your profile</p>

      </div>
    </div>
  </div>
</section>


<section class="sep-bottom-md">
  <div class="container">

    <div class="row">
      <span class="col-sm-9">All measurements are in inches</span>
    </div>

    <div class="col-md-3  profile-box">
      <div class="profile-user row" id="profile_user_div">
        <div class="col-md-12 sep-top-2x">
          <!-- <img class="profile-image" src={% static "img/joe.jpg" %} alt=""> -->
        </div>
        <div class="clearfix"></div>
        <span class="profile-name">{{ request.user.first_name }}</span>
        <!-- <span class="profile-name address-profile">Lotus Lane, Kochi, 682105</span> -->
        <span class="profile-name address-email">{{ request.user.username }}</span>
        <!-- <span class="profile-name address-email">{{ user.username }}</span> -->
        <!-- <div class="sep-bottom-2x"></div> -->
        <div id="btn_edit" class="text-center">
          <a href={% url 'customer:profile_modal' %} class="fancybox fancybox.ajax btn btn-default edit_btn"><i class="fa fa-pencil-square"></i> EDIT</a>
        </div>
      </div>
    </div>

    <div class="col-sm-9 measure-box">
      <div class="row">

      <img src={% static "images/measure-1.png" %} class="measure-img-left col-sm-3" style="padding-top: 100px;" />
        <div class="col-sm-6">
          <div id="tab-content3" class="tab-content animated fadeIn">
            <form id="mesurements" action="" method="post" class="validate">{% csrf_token %}
              <div class="row">
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-invalid="true" aria-required="true" required="true" class="form-control input-lg required valid" value="{{ measurement.one }}" name="one" placeholder="1" id="one">
                    <label style="display: none;" for="oldpassword" class="error" id="oldpassword-error"></label>
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="two" placeholder="2" value="{{ measurement.two }}" name="two" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="three" placeholder="3" value="{{ measurement.three }}" name="three" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-invalid="true" aria-required="true" required="true" class="form-control input-lg required valid" value="{{ measurement.four }}" name="four" placeholder="4" id="four">
                    <label style="display: none;" for="oldpassword" class="error" id="oldpassword-error"></label>
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="five" placeholder="5" value="{{ measurement.five }}" name="five" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="six" placeholder="6" value="{{ measurement.six }}" name="six" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-invalid="true" aria-required="true" required="true" class="form-control input-lg required valid" value="{{ measurement.seven }}" name="seven" placeholder="7" id="seven"><label style="display: none;" for="seven" class="error" id="oldpassword-error"></label>
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="eight" placeholder="8" value="{{ measurement.eight }}" name="eight" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="nine" placeholder="9" value="{{ measurement.nine }}" name="nine" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-invalid="true" aria-required="true" required="true" class="form-control input-lg required valid" value="{{ measurement.ten }}" name="ten" placeholder="10" id="ten"><label style="display: none;" for="ten" class="error" id="oldpassword-error"></label>
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="eleven" placeholder="11" value="{{ measurement.eleven }}" name="eleven" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="twelve" placeholder="12" value="{{ measurement.twelve }}" name="twelve" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-invalid="true" aria-required="true" required="true" class="form-control input-lg required valid" value="{{ measurement.thirteen }}" name="thirteen" placeholder="13" id="thirteen"><label style="display: none;" for="oldpassword" class="error" id="oldpassword-error"></label>
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="fourteen" placeholder="14" value="{{ measurement.fourteen }}" name="fourteen" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="fifteen" placeholder="15" value="{{ measurement.fifteen }}" name="fifteen" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-invalid="true" aria-required="true" required="true" class="form-control input-lg required valid" value="{{ measurement.sixteen }}" name="sixteen" placeholder="16" id="sixteen"><label style="display: none;" for="sixteen" class="error" id="oldpassword-error"></label>
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="seventeen" placeholder="17" value="{{ measurement.seventeen }}" name="seventeen" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
                <div class="col-md-4 sep-top-xs">
                  <div class="form-group">

                    <input type="number" min="0.1" step="0.1" aria-required="true" required="true" id="eighteen" placeholder="18" value="{{ measurement.eighteen }}" name="eighteen" class="form-control input-lg required valid" aria-invalid="true">
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-md-6 sep-top-xs">
                  <div class="form-group text-center">

                    <button class="btn btn-primary" type="submit"><i class="fa fa-times"></i>&nbsp;Cancel</button>
                  </div>             
                </div>
                <div class="col-md-6 sep-top-xs">
                  <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>

                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>

        <img class="measure-img-left col-sm-3" style="padding-top: 100px;" src={% static "images/profil-image-2.png" %}>
        <!-- <a href=""><button type="button" class="btn btn-primary pull-right"><i class="fa fa-edit"></i>Edit Profile</button></a> -->
      </div>
    </div>
  </div>

</section>

{% endblock content %}

{% block scripts %}

<script src={% static "scripts/jquery.fancybox.js" %}></script>   

<script type="text/javascript">
  $(document).ready(function() {
    $(".page").addClass('profile');
    
    var img = $(".logo-dark").attr('src');
    $(".logo-white").attr('src', img);

  });
</script>

<script>
  $('#btn_edit').hide();
  $('#profile_user_div').mouseover(function(e) {
    $('#btn_edit').show();
  });
  $('#profile_user_div').mouseleave(function(e) {
    $('#btn_edit').hide();
  });
  $('.fancybox').fancybox();
</script>

{% endblock scripts %}


{% block styles %}

<link rel="stylesheet" type="text/css" href={% static "styles/style.css" %}>
<link href={% static "styles/jquery.fancybox.css" %} rel="stylesheet"> 

{% endblock styles %}
