<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<table style="width:600px;border:0px none" width="600" cellpadding="0" cellspacing="0">

		<tbody>
			<tr>
				<td valign="middle" width="38%" height="40" style="padding:3px 0 3px 10px;color:#ffffff;background-color:#CF1E75" bgcolor="015287">
					<a style="text-decoration:none;outline:none;color:#ffffff;font-size:15px" href="http://www.ritzley.com/" target="_blank">
						<img src="http://ritzley.com/static/img/logo-white.png" alt="Ritzley.com" class="CToWUd" width="100px">
					</a>
				</td>

				<td valign="middle" height="40" colspan="8" style="padding:0 0 0 15px;background-color:#CF1E75" bgcolor="#CF1E75">
				</td>

			</tr>

			<tr>
				<td colspan="9" align="center" valign="top">
					<table width="100%" style="border:1px solid #e6e6e6;width:100%" cellpadding="0" cellspacing="0">

						<tbody>

							<tr>
								<td colspan="2" align="left" valign="top" width="100%" style="border-bottom:1px solid #e6e6e6;margin:0;padding:25px;background-color:#f9f9f9" bgcolor="F9F9F9">
									<p style="padding:0 0 0 0;margin:0;font-size:16px;font-weight:bold"> Hi {{ address.first_name }} {{ address.last_name }},  </p>
									<p style="padding:20px 0;margin:0;color:#565656"> Thank you for your order!</p>
									<p style="padding:0 0 7px 0;margin:0;color:#565656">
										We will send you another email once the items in your order have been shipped.
									</p>
								</td>
							</tr>


							<tr>
								<td align="left" valign="top" colspan="2" style="padding:20px 20px 0 20px">
									<p style="padding:0 0 20px 0;margin:0;color:#565656">
										Please find below, the summary of your order.
									</p>

									<table border="0" cellspacing="0" cellpadding="0" width="100%" style="margin:0">
										<tbody>
											<tr>
												<td width="20%">&nbsp;</td>
												<td width="56%" valign="top" align="center" style="padding:5px 0 0 0;margin:0;text-align:center;color:#565656">ITEM</td>
												<td width="6%" valign="top" align="center" style="padding:5px 0 0 0;margin:0;text-align:center;color:#565656">QTY</td>
												<td width="18%" valign="top" align="right" style="padding:5px 0 0 10px;margin:0;text-align:right;color:#565656">SUBTOTAL</td>
											</tr>

											<tr>
												<td colspan="4" align="left" valign="top">
												</td>
											</tr>

											
				{% for item in items %}

				{% if item.type|slugify == "product" or item.type|slugify == "stitching" %}

				<tr>
					<td style="border-bottom:#f2f2f2 solid 1px;padding:15px 0;text-align:center" valign="middle" align="center">
						<a style="text-decoration:none" href="http://{{ item.url }}/{{ item.name|slugify }}_{{ item.id }}/" target="_blank">
							<img src="http://{{ item.url }}/media/{{ item.image }}" width="80px">
						</a>
					</td>
					<td valign="top" align="left" style="border-bottom:1px solid #f2f2f2;padding:12px 10px;margin:0">
						<p style="padding:0;margin:0">
							<a style="text-decoration:none;color:#565656" href="http://{{ item.url }}/{{ item.name }}_{{ item.id }}/" target="_blank">
								<span style="color:#565656">{{ item.name }} ({{ item.size }})</span>
							</a>
						</p>
					</td>
					<td valign="top" align="center" style="border-bottom:1px solid #f2f2f2;padding:12px 0;margin:0;text-align:center">
						<p style="padding:0 10px 0 0;margin:0">1</p>
					</td>
					<td valign="top" align="right" style="border-bottom:1px solid #f2f2f2;padding:12px 0 0 10px;margin:0;text-align:right">
						<p style="white-space:nowrap;padding:0;margin:0;font-weight:bold">Rs. {{ item.price }}</p>
					</td>
				</tr>

				{% endif %}

				{% if item.patterns|length > 0 %}

				{% if item.type|slugify == "stitching" %}

				<tr>
					<td style="border-bottom:#f2f2f2 solid 1px;padding:15px 0;text-align:center" valign="middle" align="center">
						<a style="text-decoration:none" href="http://{{ item.st_url }}/" target="_blank">
							<img src="http://{{ item.st_url }}/media/{{ item.st_image }}" width="80px">
						</a>
					</td>
					<td valign="top" align="left" style="border-bottom:1px solid #f2f2f2;padding:12px 10px;margin:0">
						<p style="padding:0;margin:0">
							<a style="text-decoration:none;color:#565656" href="http://{{ item.st_url }}/" target="_blank">
								<span style="color:#565656">{{ item.st_name }} Stitching Cost</span>
							</a>

						</p>

					</td>
					<td valign="top" align="center" style="border-bottom:1px solid #f2f2f2;padding:12px 0;margin:0;text-align:center">
						<p style="padding:0 10px 0 0;margin:0">1</p>
					</td>
					<td valign="top" align="right" style="border-bottom:1px solid #f2f2f2;padding:12px 0 0 10px;margin:0;text-align:right">
						<p style="white-space:nowrap;padding:0;margin:0;font-weight:bold">Rs. {{ item.st_price }}</p>
					</td>
				</tr>

				{% endif %}

				{% if item.type|slugify == "custom" %}

				<tr>
					<td style="border-bottom:#f2f2f2 solid 1px;padding:15px 0;text-align:center" valign="middle" align="center">
						<a style="text-decoration:none" href="http://{{ item.st_url }}/" target="_blank">
							<img src="http://{{ item.st_url }}/media/{{ item.st_image }}" width="80px">
						</a>
					</td>
					<td valign="top" align="left" style="border-bottom:1px solid #f2f2f2;padding:12px 10px;margin:0">
						<p style="padding:0;margin:0">
							<a style="text-decoration:none;color:#565656" href="http://{{ item.st_url }}/" target="_blank">
								<span style="color:#565656">{{ item.st_name }} Stitching Cost</span>
							</a>
							<span>(The item will be collected by {{ item.date }})</span>
						</p>

					</td>
					<td valign="top" align="center" style="border-bottom:1px solid #f2f2f2;padding:12px 0;margin:0;text-align:center">
						<p style="padding:0 10px 0 0;margin:0">1</p>
					</td>
					<td valign="top" align="right" style="border-bottom:1px solid #f2f2f2;padding:12px 0 0 10px;margin:0;text-align:right">
						<p style="white-space:nowrap;padding:0;margin:0;font-weight:bold">Rs. {{ item.st_price }}</p>
					</td>
				</tr>

				{% endif %}
				{% endif %}
				{% endfor %}


							<tr>
								<td colspan="4" align="right" valign="bottom">
									<p style="background-color:#f9f9f9;border-top:2px solid #565656;border-bottom:1px solid #e6e6e6;text-align:right;padding:15px 10px;margin:10px 0 0 0;color:#565656">
										Total <span style="font-size:21px">Rs. {{ total }}</span>
									</p>
								</td>
							</tr>

						</tbody>
					</table>
				</td>
			</tr>


			<tr>
				<td colspan="2" align="left" valign="top" style="margin:0;padding:20px">
					<p style="margin:0;padding:0;color:#565656">DELIVERY ADDRESS</p>
					<p style="padding:0;margin:15px 0 10px 0;font-size:18px">
						{{ address.first_name }} {{ address.last_name }} &nbsp;|&nbsp; {{ address.mobile_number }}
					</p>
					<p style="line-height:18px;padding:0;margin:0;color:#565656">

						{% if address.address_line_1 %}
						<br/> {{ address.address_line_1 }},
						{% endif %}

						{% if address.address_line_2 %}
						<br/>{{ address.address_line_2 }},
						{% endif %}

						{% if address.city %}
						<br/>{{ address.city }},
						{% endif %}

						{% if address.state %}
						<br/>{{ address.state }},
						{% endif %}

						{% if address.country %}
						<br/>{{ address.country }},
						{% endif %}

						{% if address.postcode %}
						<br/>{{ address.postcode }}
						{% endif %}

					</p>
				</td>
			</tr>


			<tr>
				<td align="left" valign="top" width="50%" style="text-align:left;padding:15px 0;border-top:#e6e6e6 solid 1px;background-color:#f9f9f9" bgcolor="F9F9F9">
					<div style="padding:15px 10px 0 50px;margin:0;text-align:left;border-right:dashed 1px #b3b3b3">
						<p style="padding:0;margin:0 0 7px 0;font-size:16px;color:#565656">What Next?</p>
						<p style="padding:0;margin:0;font-size:11px;color:#565656;line-height:20px">
							Happy Shopping.
						</p>
					</div>
				</td>
				<td align="left" valign="top" width="50%" style="text-align:left;padding:15px 0;border-top:#e6e6e6 solid 1px;background-color:#f9f9f9" bgcolor="F9F9F9">
					<div style="padding:15px 50px 0 20px;margin:0;text-align:left">
						<p style="padding:0;margin:0 0 7px 0;font-size:16px;color:#565656">Any Questions?</p>
						<p style="padding:0;margin:0;font-size:11px;color:#565656;line-height:20px">
							Get in touch with our 24x7 <a style="text-decoration:underline" href="#" target="_blank"><span style="color:#666">Customer Care</span></a> team.
						</p>
					</div>
				</td>
			</tr>


			<tr>
				<td align="center" valign="top" style="padding:15px 40px;margin:0;text-align:center;background-color:#f9f9f9" colspan="2" bgcolor="F9F9F9">
					<p style="padding:0;margin:0 0 7px 0">
						<a title="Ritzley.com" style="text-decoration:none;color:#565656" href="http://ritzley.com/" target="_blank"><span style="color:#565656">Ritzley.com</span></a>
					</p>
					<p style="padding:10px 0 0 0;margin:0;border-top:solid 1px #cccccc;font-size:11px;color:#565656">
						24x7 Customer Support | Buyer Protection | Flexible Payment Options | Largest Collection
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</td>
</tr>

</tbody>
</table>

</body>
</html>