<!--{% extends "index.html" %}

{% block content %}
	-->
  <h2>Register</h2>
  <form action = "" method="post"> 
  {% csrf_token %}
  {{form.as_p}}
  <input type ="submit" value="Register" />

  </form>
  
<!--{% endblock content %}-->