<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<table style="width:600px;border:0px none" width="600" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td valign="middle" width="38%" height="40" style="padding:3px 0 3px 10px;color:#ffffff;background-color:#CF1E75" bgcolor="015287">
					<a style="text-decoration:none;outline:none;color:#ffffff;font-size:15px" href="http://www.ritzley.com/" target="_blank">
						<img src="http://ritzley.com/static/img/logo-white.png" alt="Ritzley.com" class="CToWUd" width="100px">
					</a>
				</td>

				<td valign="middle" height="40" colspan="8" style="padding:0 0 0 15px;background-color:#CF1E75" bgcolor="#CF1E75">
				</td>

			</tr>

			<tr>
				<td colspan="9" align="center" valign="top">
					<table width="100%" style="border:1px solid #e6e6e6;width:100%" cellpadding="0" cellspacing="0">

						<tbody>
							<tr>
								<td colspan="2" align="left" valign="top" width="100%" style="border-bottom:1px solid #e6e6e6;margin:0;padding:25px;background-color:#f9f9f9" bgcolor="F9F9F9">
									<p style="padding:0 0 0 0;margin:0;font-size:16px;font-weight:bold"> Hi {{ user.first_name }} {{ user.last_name }},  </p>
									<p style="padding:20px 0;margin:0;color:#565656"> Someone recently requested a password change for your account. If this was you, you can set a new password by clicking the following link.</p>
									<p style="padding:0 0 7px 0;margin:0;color:#565656">
										<a href="{{ url }}" target="_blank">Reset Password</a>
									</p>
								</td>
							</tr>

							<tr>
								<td colspan="2" align="left" valign="top" width="100%" style="border-bottom:1px solid #e6e6e6;margin:0;padding:25px;background-color:#f9f9f9" bgcolor="F9F9F9">
									<p style="padding:20px 0;margin:0;color:#565656">Cheers!</p>
									<p style="padding:0 0 7px 0;margin:0;color:#565656">Team Ritzley</p>
								</td>
							</tr>

							<tr>
								<td align="left" valign="top" width="50%" style="text-align:left;padding:15px 0;border-top:#e6e6e6 solid 1px;background-color:#f9f9f9" bgcolor="F9F9F9">
									<div style="padding:15px 10px 0 50px;margin:0;text-align:left;border-right:dashed 1px #b3b3b3">
										<p style="padding:0;margin:0 0 7px 0;font-size:16px;color:#565656">What Next?</p>
										<p style="padding:0;margin:0;font-size:11px;color:#565656;line-height:20px">
											Happy Shopping.
										</p>
									</div>
								</td>

								<td align="left" valign="top" width="50%" style="text-align:left;padding:15px 0;border-top:#e6e6e6 solid 1px;background-color:#f9f9f9" bgcolor="F9F9F9">
									<div style="padding:15px 50px 0 20px;margin:0;text-align:left">
										<p style="padding:0;margin:0 0 7px 0;font-size:16px;color:#565656">Shoppping Experience</p>
										<p style="padding:0;margin:0;font-size:11px;color:#565656;line-height:20px">
											Shopping & Tailoring with a refined Experience.
										</p>
									</div>
								</td>
							</tr>


							<tr>
								<td align="center" valign="top" style="padding:15px 40px;margin:0;text-align:center;background-color:#f9f9f9" colspan="2" bgcolor="F9F9F9">
									<p style="padding:0;margin:0 0 7px 0">
										<a title="Ritzley.com" style="text-decoration:none;color:#565656" href="http://ritzley.com/" target="_blank"><span style="color:#565656">Ritzley.com</span></a>
									</p>
									<p style="padding:10px 0 0 0;margin:0;border-top:solid 1px #cccccc;font-size:11px;color:#565656">
										24x7 Customer Support | Buyer Protection | Flexible Payment Options | Largest Collection
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>

		</tbody>
	</table>

</body>
</html>