{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}
  {% load thumbnail %}
<!-- Start header Section-->
      <section class="header-section fading-title parallax">
        <div class="section-shade sep-top-3x sep-bottom-2x">
          <div class="container">
            <div class="section-title upper light">
              <h2 class="small-space">Search results</h2>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
    
      <!-- search section -->
      <section class="sep-bottom-2x sep-top-2x">
        <div class="container">
          <div class="row">
            <!-- start main content-->
            <div class="col-lg-14">
              <!-- start search form-->
              <form action="" method="post" onsubmit="return search_validation();">
              {% csrf_token %}
              <div class="input-group theme-form-group theme-pink"><span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                <input type="text" placeholder="Search Merchant Name, Locality, Speciality" class="form-control input-lg" name="search" id="search">
              </div>
              </form>
              <!-- end search form-->
              <div class="sep-top-md">
                <p class="lead text-muted"><strong>
                  {% if messages %}
                        {% for message in messages %}
                          {{ message }}
                        {% endfor %}
                    {% endif %}
                </strong></p>
              </div>
              <!-- start accordion group-->
              <div class="sep-top-xs">

              
              {% if boutique %}
                {% for shop in boutique %}
                {% thumbnail shop.logo "x200" as im %}
              <div class="col-md-3 sep-bottom-lg"><a href="http://{{shop.url}}" class="product-image outline-outward"><img src="{{im.url}}" alt="Heaven White Shirt" class="img-responsive"></a>
                {% endthumbnail %}
              <div class="product-title">
                <h6><a href="http://{{shop.url}}">{{shop.name}}</a></h6>
              </div>
              </div>
                {% endfor %}
              {% endif %}
              
                


            <!-- iterate start -->
             <!-- iterate end -->
            


              </div>
              <!-- end accordion group-->
              <!-- start pagination-->
              
              <!-- end pagination-->
            </div>
            <!--end main content-->
            <!-- start sidebar-->
            
            <!-- end sidebar-->
          </div>

        </div>
      </section>
      <!-- end search section -->
      {% endblock content %}


{% block scripts %}

<script>
  function search_validation(){
    if ($("#search").val().length < 2){
      alert("Please enter atleast 2 characters");
      return false;
    }
  }
</script>
  
{% endblock scripts %}