{% extends "base2.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% block content %}


<!-- Start header Section-->
<section class="header-section fading-title parallax">
  <div class="section-shade sep-top-3x sep-bottom-2x">
    <div class="container">
      <div class="section-title upper light">
        <h2 class="small-space">Stitching Center</h2>
        <p class="lead">Select item from your shopping cart and send for stitching</p>
      </div>
    </div>
  </div>
</section>
<!-- End header Section-->
<!-- Start Stitching-->
<section class="sep-top-lg" style="margin-bottom:40px;">

  <div class="container">
    <div id="tabs-container">
      <ul class="tabs-menu col-md-10 col-md-offset-1">
        <li class="current col-md-5"><a href="#tab-1">Select from my cart</a></li>
        <li class="col-md-5"><a href="#tab-2">I have the material</a></li>
      </ul>
      <div class="tab">
        <div id="tab-1" class="tab-content">

          <div class="col-md-10 sep-top-md border col-md-offset-1">
              {% if cart_data %}
                <h4 class="text-center upper">Your Shopping cart</h4>
                {% else %}
                <h4 class="text-center upper">Your Shopping cart is empty</h4>
                {% endif %}
            <div class="sep-bottom-md"></div>

            <nav id="nav-arrows" class="nav-arrows"><span class="nav-arrow-prev">Previous</span><span class="nav-arrow-next">Next</span>
            </nav>

            <div class="col-md-1 col-sm-12 col-xs-12 sep-bottom-md"></div>
            
            {% if cart_data %}
            {% for cart in cart_data %}
            <div class="col-md-2 col-sm-12 col-xs-12 sep-bottom-md"><a href="#selected" data-link="first" class="link product-image outline-outward">

              {% with cart.product.image.all|first as image %}
              {% thumbnail image "500x750" crop="top" format="PNG" as p_image %}
              <img src="{{ p_image.url }}" alt="{{cart.product.name}}" class="img-responsive">
              {% endthumbnail %}
              {% endwith %}

            </a>
            <div class="stitch-form"><span class="upper">{{cart.product.category}}</span>
              <p>{{cart.product.name}}</p>
              <div class="action-button text-center">

                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" value="{{cart.id}}" name="product">
                  <input class="btn btn-primary btn-xs upper" type="submit" value="Stitch">
                </form>

              </div>
              <!--<button type="submit" class="btn btn-grey">Stitch</button>-->
            </div>

          </div>
          {% endfor %}
          {% endif %}

        </div>
      </div>
      <div id="tab-2" class="tab-content">
       <div class="col-md-10 sep-top-md border col-md-offset-1">

        <h4 class="text-center upper">SELECT ITEM</h4>
        <div class="sep-bottom-md"></div>
        
        <form action="/pick_up/" method="GET" onsubmit="return service_validation();">
        <input type="hidden" name="access_token" value="iyRC3T8n7eipsZOV4UXiyRC3T8n7eipsZOV4UXyqUSnw8VGDV4myqUSnw8VGDV4m">
        <input type="hidden" name="csrf_token" value="iyRC3T8XyqUSnw8VGDV4mn7w8VGDV4mn7eiKoBdUkrr99V9s2MOYrv7QwTwCGN6fh52eipsU">
        <div class="col-md-6 col-sm-12 col-xs-12 sep-bottom-md col-md-offset-1">
          <select class="form-control input-lg" id="select_product" name="select_product">
            <option value="-1">Select</option>
            {% for cats in category %}
            <option value="{{ cats.id }}">{{ cats.name }}</option>
            {% endfor %}

          </select>
          <br>
          <button type="submit" class="btn btn-primary">GO &gt;</button>
        </div>
        </form>

      </div>
    </div>
  </div>

</div>
</div>
</section>


{% endblock content %}

{% block styles %}

<link rel="stylesheet" href={% static "style.css" %}>
<link id="primary_color_scheme" rel="stylesheet" href={% static "styles/qplay.css" %}>

<style>
.stitching .tabs-menu li a {
padding: 10px;
}
</style>

{% endblock styles %}

{% block scripts %}

<script type="text/javascript">

  $('.textWord_selected').hide();

  $('.link').click(function() {
    $('.textWord_selected').hide();       
    $('.textWord_selected[data-link=' + $(this).data('link') + ']').fadeIn({
      width: '200px'
    }, 300);
  });
</script>

<script>
  $(document).ready(function() {

    $("#tabs-container").addClass('stitching');

    $(".tabs-menu a").click(function(event) {
      event.preventDefault();
      $(this).parent().addClass("current");
      $(this).parent().siblings().removeClass("current");
      var tab = $(this).attr("href");
      $(".tab-content").not(tab).css("display", "none");
      $(tab).fadeIn();
    });
  });
</script>

<script>
  function service_validation(){
    var service= $("#select_product").val();
    if (service == "-1"){
      alert("Please select a valid service");      
      return false;
    }
  }
</script>

{% endblock scripts %}




