{% extends "base2.html" %}
{% block content %}
{% load staticfiles %}
{% load thumbnail %}

<!-- Start header Section-->
      <section class="header-section fading-title parallax">
        <div class="section-shade sep-top-3x sep-bottom-2x">
          <div class="container">
            <div class="section-title upper light">
              <h2 class="small-space">Stitching Center</h2>
              <p class="lead">Select the tailor and send your items for stitching</p>
            </div>
          </div>
        </div>
      </section>
      <!-- End header Section-->
      <!-- Start Stitching-->

      <!-- search section -->
          <section class="sep-bottom-2x sep-top-2x">
        <div class="container">
          <div class="row">
            <!-- start main content-->
            <div class="col-md-12">
              <!-- start search form-->
              <form action="" method="POST">
              {% csrf_token %}
              <div class="input-group theme-form-group theme-pink">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                <input type="text" placeholder="Search Tailor Name, Locality or Speciality" class="form-control input-lg" name="search">
              </div>
                {% if message %}
                  <h4 class="col-md-12">{{ message }}</h4>
                {% endif %}
                </form>
              <!-- end search form-->
              <!--<div class="sep-top-md">
                <p class="lead text-muted">14 search results for:&nbsp;<strong>Sewcial Lounge</strong></p>
              </div>-->
              <!-- start accordion group-->
              <div class="sep-top-xs">
                
                {% for tr in tailor %}
                  
                <div class="col-md-3 sep-bottom-lg">
                  {% thumbnail tr.logo "230x230" crop="center" format="PNG" as image %}
                    <img src="{{image.url}}" alt="{{tr.name}}" class="img-responsive">
                  {% endthumbnail %}
                  <div class="stitch-about">
                  <button type="button" class="btn btn-primary tailor-btn col-md-12" onclick="window.location.href='http://{{tr.url}}'">{{tr.name}}</button>
                    <p>{{tr.description}}</p>
                    
                  </div>
                </div>
                {% endfor %}
              </div>
              <!-- end accordion group-->
              <!-- start pagination-->
              
              <!-- end pagination-->
            </div>
            <!--end main content-->

          </div>
        </div>
      </section>
      <!-- end search section -->
      {% endblock content %}