{% extends "base2.html" %}


{% block metatags %}
  <title>Ritzley | {{tailor.name}}</title>
  <meta name="copyright" content="{{tailor.name}}">
  <meta name="description" content="{{tailor.description}}">
  <meta name="keywords" content="{{tailor.description}},{{tailor.location}}">
  <meta name="robots" content="index, follow">
  <meta name="DC.title" content="{{tailor.description}}">
{% endblock metatags %}


{% block content %}
{% load staticfiles %}
{% load thumbnail %}
  <!-- Start Home Section-->
      <section id="home" class="demo-1 boutique">
        <!--     Codrops top bar-->
        <div id="slider" class="sl-slider-wrapper fixed">
          <div class="sl-slider">
            <!-- start slide-->
            
            <div data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2" class="sl-slide">
              <div style="background-image: url('{{tailor.banner_image.url}}');" class="sl-slide-inner slide-small-width">
                <div class="slide-container">
                  <div class="slide-content text-center">
                    <img src="{{tailor.logo.url}}" alt="Ritzley" class="boutique-logo">
                    <h3 class="main-title">{{tailor.name}}&nbsp;<span class="text-primary">,{{tailor.location}}</span></h3>
                    <blockquote>
                    <!-- <div class="favourite sep-bottom-sm">
                    <a href="#" data-tooltip="Add to favourites" class="favourite"><i class="fa fa-heart fa-4x"></i></a></div>
                    <div class="sep-top-md">
                      <form action="" method="get" role="search" class="">
                        <div class="container">
                          <div class="col-md-5 middle input-group theme-form-group">
                            <div class="input-group"><span class="input-group-btn">
                            <button type="submit" class="btn btn-search btn-sm"><i class="fa fa-search fa-2x"></i></button></span>
                            <input type="text" placeholder="Search Products in De Ja Vu" class="form-control placeholder">
                          </div>
                         </div>
                      </div>
                      </form>
                      </div> -->
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
            <!-- end slide-->
            </div>
          <!--       /sl-slider-->
        </div>
        <!--     /slider-wrapper-->
      </section>
      <!-- End Home Section-->
     
      
      <!-- Start Shop preview section-->
      <div class="sep-bottom-md">
        <div class="container">        
          <div class="sep-bottom-sm">
           <div class="page-title-line sep-bottom-xs">
              <!-- <h3 class="upper">About Us</h3> -->
          </div>
            <p>{{ tailor.description }}</p>
          </div>
          <!-- stitch now button -->

          <div class="row place-btn">
          <a href="http://ritzley.com/stitching_center/" class="btn btn-primary"><i class="fa fa-scissors"></i>&nbsp;&nbsp;Place an order</a>
           
            <div class="collapse sep-top-xs" id="collapseExample">
              <button class="well col-md-4" data-toggle="modal" data-target="#myModal"><i class="fa fa-scissors"></i>&nbsp;&nbsp;I have the material</button>

            <button class="well col-md-4" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Select from bag
            </button>

               <div class="collapse sep-top-xs" id="collapseExample1">


               <!-- codes to open shopping bag -->
                 
                   <div class="col-md-10 sep-top-md border col-md-offset-1">

          <h4 class="text-center upper">Your Shopping bag</h4>
          <div class="sep-bottom-md"></div>

          <nav id="nav-arrows" class="nav-arrows"><span class="nav-arrow-prev">Previous</span><span class="nav-arrow-next">Next</span>
          </nav>

          <div class="col-md-1 col-sm-12 col-xs-12 sep-bottom-md"></div>

          <div class="col-md-2 col-sm-12 col-xs-12 sep-bottom-md"><a href="#selected" data-link="first" class="link product-image outline-outward"><img src={%static "img/products/1.jpg" %} alt="Heaven White Shirt" class="img-responsive">
          </a>
          <div class="stitch-form"><span class="upper">woman</span>
            <p>Lilly white</p>
            <div class="text-center"><a href="#" class="btn btn-primary btn-xs upper">Stitch</a></div>

          </div>

        </div>

          <div class="col-md-2 col-sm-12 col-xs-12 sep-bottom-md"><a href="#selected" data-link="second" class="link product-image outline-outward"><img src={%static "img/products/4.jpg" %} alt="Heaven White Shirt" class="img-responsive">
          </a>
          <div class="stitch-form"><span class="upper">woman</span>
            <p>Lotus blossom</p>
          </div>

        </div>

        <div class="col-md-2 col-sm-12 col-xs-12 sep-bottom-md"><a href="#selected" data-link="third" class="link product-image outline-outward"><img src={%static "img/products/3.jpg" %} alt="Heaven White Shirt" class="img-responsive">
        </a>
        <div class="stitch-form"><span class="upper">woman</span>
          <p>Le Girl Kurta</p>
            <div class="text-center"><a href="" class="btn btn-primary btn-xs upper">Stitch</a></div>
        </div>

      </div>

      <div class="col-md-2 col-sm-12 col-xs-12 sep-bottom-md"><a href="#selected" data-link="fourth" class="link product-image outline-outward"><img src={%static "img/products/6.jpg" %} alt="Heaven White Shirt" class="img-responsive">
      </a>
      <div class="stitch-form"><span class="upper">woman</span>
        <p>Dark pearl</p>
      </div>

    </div>

    <div class="col-md-2 col-sm-12 col-xs-12 sep-bottom-lg sep-top-sm">

       <div class="action-button text-center form-button"><a href="boutique.html" class="btn btn-primary btn-xs upper col-md-12"><i class="fa fa-paper-plane"></i>&nbsp;Continue Shopping</a></div>
      <div class="action-button text-center form-button"><a href="checkout.html" class="btn btn-primary btn-xs upper col-md-12"><i class="fa fa-shopping-cart"></i>&nbsp;Checkout</a></div>
     
    </div>
  </div>

              <div class="col-md-12 sep-top-lg">
                <p class="stitching-note">Delivery time – 2 weeks from the receipt of material and measurement. Your measurements will be taken from your profile. Please maintain it upto date</p>
                </div>

                    <div class="col-md-12 sep-top-xs">
                      <div class="form-group">
                        <label for="comment">Additional comments for the tailor</label>
                        <textarea id="comment" placeholder="Enter comment" rows="9" name="comment" class="form-control input-lg required"></textarea>
                         <p>You will recieve an acknowledgement of reciept of material along with tailor contact details</p>
                      </div>
                    </div>


                <div class="action-control sep-bottom-2x">
                   <div class="action-button btn btn-primary btn-xs upper action-btn" data-toggle="modal" data-target="#myModal2"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add to bag</a></div>
                   <div class="action-button btn btn-primary btn-xs upper action-btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-scissors"></i>&nbsp;&nbsp;Choose patterns</a></div>
                 <!--  <div class="action-button"><a href="stitching.html" class="btn btn-primary btn-xs upper action-btn"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back to result</a>
                  </div> -->
                </div>
  <!-- close codes to open shopping bag -->

               </div>

            </div>

          </div>
          <!-- end stitch now -->

        {% if tailor_category %}
          <div class="page-title-line sep-bottom-lg sep-top-md">
              <h3 class="upper">Service Offered</h3>
          </div>

         <div class="bg-primary">
        <div class="container">
          <div id="timer-wrapper" class="row sep-top-sm">
          {% for service in tailor_category %}
            <div class="col-md-3 text-center sep-top-sm sep-bottom-sm">
              {% thumbnail service.image "150x150" crop="top" format="PNG" as image %}
                <img class="tailor-image" src="{{ image.url }}" alt="">
              {% endthumbnail %}
              <p class="lead light upper timer-title">{{service.name}}</p>
              <p class="lead light upper timer-title">Rs. {{service.base_price}}</p>
            </div>
          {% endfor %}

          </div>
        </div>
      </div>
        {% endif %}

           <div class="clearfix"></div>

        {% if tailor_portfolio %}
           <div class="page-title-line sep-bottom-md sep-top-lg">
            <h3 class="upper">Our Looks</h3>
           </div>
                
          <div class="row">

            <ul id="itemContainer1">
            {% for portfolio in tailor_portfolio %}
            <li>
            <div class="col-md-2 sep-bottom-lg"><a href="#" class="product-image outline-outward">

              {% thumbnail portfolio.banner_image "150x222" crop="top" as port_image %}
                <img src="{{ port_image.url }}" %} alt="{{ portfolio.name }}" class="img-responsive">
              {% endthumbnail %}

            </a>
              <div class="product-title"><!--<span class="upper">woman</span>-->
                <p>{{ portfolio.name }}</p>
              </div>
            </div>
            </li>
            {% endfor %}
            </ul>

          </div>
                <div class="text-center">
                  <div id="holder1"></div>
                </div>

          {% endif %}

        </div>
      </div>
      <!-- End Shop preview section-->
{% endblock content %}

{% block scripts %}

<script type="text/javascript" src="http://luis-almeida.github.io/jPages/js/jPages.js"></script>
  <script>
  $(function() {

    $("#holder1").jPages({
      containerID: "itemContainer1",
      previous : "«",
      next : "»",
      perPage:6,
      midRange: 6,
      direction: "random",
      animation: "fadeIn"
    });

  });
</script>

{% endblock scripts %}

{% block styles %}

<style type="text/css">

#holder1 {
    margin: 15px 0;
}

#holder1 a {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

#holder1 a:hover {
    background-color: #222;
    color: #fff;
}

#holder1 a.jp-previous { margin-right: 15px; }
#holder1 a.jp-next { margin-left: 15px; }

#holder1 a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
}

#holder1 a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

#holder1 a.jp-current, a.jp-current:hover,
#holder1 a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
}

#holder1 span { margin: 0 5px; }

#holder2 {
    margin: 15px 0;
}

#holder2 a {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    color: #333;
}

#holder2 a:hover {
    background-color: #222;
    color: #fff;
}

#holder2 a.jp-previous { margin-right: 15px; }
#holder2 a.jp-next { margin-left: 15px; }

#holder2 a.jp-current, a.jp-current:hover { 
    color: #FF4242;
    font-weight: bold;
}

#holder2 a.jp-disabled, a.jp-disabled:hover {
    color: #bbb;
}

#holder2 a.jp-current, a.jp-current:hover,
#holder2 a.jp-disabled, a.jp-disabled:hover {
    cursor: default; 
    background: none;
}

#holder2 span { margin: 0 5px; }

#itemContainer1, #itemContainer2 {
    list-style:none;
}

</style>

{% endblock styles %}
