{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headertext %}
	{% trans "Tailor Service" %}
{% endblock %}

{% block dashboard_content %}
	<form action="" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<input type="submit" value="Submit" class="btn btn-primary">
	</form>
	<a href="/dashboard/"><input type="button" value="Home" class="btn btn-primary"></a>

{% endblock %}