{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block headertext %}
    {% trans "Tailor Pattern" %}
{% endblock %}

{% block dashboard_content %}



<!-- Add button section start-->
<div class="page-header">
<a href="/dashboard/tailor/pattern/add/" class="btn btn-primary btn-large pull-right"><i class="icon-plus"></i> Create new Pattern</a>
<h1><br></h1>
</div>
<!-- Add button section end-->



<!-- Data table start-->
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Patterns
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Title <i class="icon-"></i></a></th>
         <th class="image">Image</th>
         <th class="stock_records">Category</th>
         <th class="date_updated desc orderable sortable">Price</a></th>
         <th class="actions">Actions</th>
      </tr>
   </thead>
   <tbody>
   {% for pattern in patterns %}
      <tr class="odd">
         <td class="title">{{pattern.name}}</td>
         <td class="image" > <a href="{{pattern.image.url}}" rel="lightbox_HG88" class="sub-image"> 
        {% thumbnail pattern.image "100x100" crop="center" as image %}
         <img src="{{image.url}}" alt="{{pattern.name}}" data-description="">
        {% endthumbnail %}
         </a> </td>
         <td class="stock_records">
            {{pattern.category}}
         </td>
         <td class="date_updated">{{pattern.price}}</td>
         <td class="actions">
            <div class="btn-toolbar">
               <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Actions
                  <span class="caret"></span> </a> 
                  <ul class="dropdown-menu pull-right">
                     <li> <a href="/dashboard/tailor/pattern/edit/{{pattern.id}}">Edit</a> </li>
                     <li> <a href="/dashboard/tailor/pattern/delete/{{pattern.id}}">Delete</a> </li>
                  </ul>
               </div>
            </div>
         </td>
      </tr>
  {% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Data table end-->

{% endblock %}