{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block headertext %}
    {% trans "Tailor Portfolio" %}
{% endblock %}

{% block dashboard_content %}


<!-- Add button section start-->
<div class="page-header">
<a href="/dashboard/tailor/portfolio/add/" class="btn btn-primary btn-large pull-right"><i class="icon-plus"></i> Create new Portfolio</a>
<h1><br></h1>
</div>
<!-- Add button section end-->


<!-- Data table start-->
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Portfolio
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Title <i class="icon-"></i></a></th>
         <th class="image">Image</th>
         <th class="actions">Actions</th>
      </tr>
   </thead>
   <tbody>
   {% for portfolio in portfolios %}
      <tr class="odd">
         <td class="title">{{portfolio.name}}</td>
         <td class="image" > <a href="{{portfolio.banner_image.url}}" rel="lightbox_HG88" class="sub-image"> 
        {% thumbnail portfolio.banner_image "100x100" crop="center" as image %}
         <img src="{{image.url}}" alt="{{portfolio.name}}" data-description="">
        {% endthumbnail %}
         </a> </td>
         <td class="actions">
            <div class="btn-toolbar">
               <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Actions
                  <span class="caret"></span> </a> 
                  <ul class="dropdown-menu pull-right">
                     <li> <a href="/dashboard/tailor/portfolio/edit/{{portfolio.id}}">Edit</a> </li>
                     <li> <a href="/dashboard/tailor/portfolio/delete/{{portfolio.id}}">Delete</a> </li>
                  </ul>
               </div>
            </div>
         </td>
      </tr>
  {% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Data table end-->


{% endblock %}