{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headertext %}
<span>{% trans "Edit Tailor Sub Category" %}</span>
{% endblock %}

{% block dashboard_content %}

<form action="" method="post" enctype="multipart/form-data" >
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Update" />
</form>
{% endblock %}