{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headertext %}
    <span>{{category.name}}</span> <span>{% trans "Category" %}</span>
{% endblock %}

{% block dashboard_content %}

<form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ category }}"?</p>
    <input type="submit" value="Confirm" />
    <input  type="button" value="Cancel" onclick="window.history.back()">
    
</form>

{% endblock %}