{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block favicon %}
            <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
{% endblock %}
        
{% block headertext %}
    {% trans "Tailor" %}
{% endblock %}

{% block dashboard_content %}




<!-- Add button section start-->
<div class="page-header">
<a href="/dashboard/tailor/add/" class="btn btn-primary btn-large pull-right"><i class="icon-plus"></i> Create new Tailor</a>
<h1><br></h1>
</div>
<!-- Add button section end-->



<!-- Data table start-->
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Tailor
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Title <i class="icon-"></i></a></th>
         <th class="image">Logo</th>
         <th class="stock_records">Location</th>
         <th class="date_updated desc orderable sortable">Active</a></th>
         <th class="actions">Actions</th>
      </tr>
   </thead>
   <tbody>
   {% for tailor in tailors %}
      <tr class="odd">
         <td class="title"><a href="/dashboard/tailor/{{tailor.id}}/">{{tailor.name}}</a> </td>
         <td class="image" > <a href="{{tailor.logo.url}}" rel="lightbox_HG88" class="sub-image"> 
        {% thumbnail tailor.logo "100x100" crop="center" as image %}
         <img src="{{image.url}}" alt="{{tailor.name}}" data-description="">
        {% endthumbnail %}
         </a> </td>
         <td class="stock_records">
            {{tailor.location}}
         </td>
         <td class="date_updated">{{tailor.active}}</td>
         <td class="actions">
            <div class="btn-toolbar">
               <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Actions
                  <span class="caret"></span> </a> 
                  <ul class="dropdown-menu pull-right">
                     <li> <a href="/dashboard/tailor/edit/{{tailor.id}}">Edit</a> </li>
                     <li> <a href="/dashboard/tailor/delete/{{tailor.id}}">Delete</a> </li>
                  </ul>
               </div>
            </div>
         </td>
      </tr>
  {% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Data table end-->

{% endblock %}
