{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headertext %}
{% trans "Tailor" %}
{% endblock %}

{% block dashboard_content %}

<a href="/dashboard/"><input type="button" value="Home" class="btn btn-primary"></a>

<div class="panel">
	<div class="panel-body">
		<form action="" method="POST" enctype="multipart/form-data" id="tailor_form">
			{% csrf_token %}
			{{form.as_p}}

			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>

{% endblock %}



{% block extrastyles %}

{% endblock extrastyles %}



{% block extrascripts %}

{% endblock extrascripts %}

