{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block headertext %}
{% trans "Tailor" %}
{% endblock %}

{% block dashboard_content %}

<div class="page-content" style="padding-right:45px; margin-left:10px;">
	<div class="content-block">
		<a href="/dashboard/" class="btn btn-primary">Home</a>
	</div>
</div>

<div class="page-content" style="clear:both; padding-right:45px; margin-left:10px;">
	<div class="table-header">Add Tailor</div>
	<div class="content-block">
		<div>
			<form action="" method="POST" enctype="multipart/form-data" id="tailor_form">{% csrf_token %}

				<p><label for="id_banner_image">Banner image:</label>
					{% thumbnail object.banner_image "x200" crop="center" as image %}
					<img src="{{image.url}}" alt="{{tailor.name}}" data-description="">
					{% endthumbnail %}
				</p>

				<p><label for="id_logo">Logo:</label>
					{% thumbnail object.logo "x200" crop="center" as image %}
					<img src="{{image.url}}" alt="{{tailor.name}}" data-description="">
					{% endthumbnail %}
				</p>

				<p><label for="id_name">Name:</label> <input id="id_name" maxlength="50" name="name" type="text" value="{{ object.name }}" readonly="true"></p>
				<p><label for="id_description">Description:</label><textarea cols="40" id="id_description" name="description" rows="10" readonly="true">{{ object.description }}</textarea></p>


				<p><label for="id_location">Location:</label> <input id="id_location" maxlength="50" name="location" type="text" value="{{ object.location }}" readonly="true"></p>
				<p><label for="id_url">Url:</label> <input id="id_url" maxlength="1024" name="url" type="text" value="{{ object.url }}" readonly="true"></p>
				<p><label for="id_active">Active:</label> <input {% if object.active %} checked="checked" {% endif %} id="id_active" name="active" type="checkbox" disabled="true"></p>


				<div style="clear:both;"></div>

				{% if services|length > 0 %}
				<div class="page-content" style="min-width:48%; padding:10px;">
					<div class="table-header">Category List</div>
					<div class="content-block">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Category Name</th>
									<th>Base Price</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>

							<tbody>
								{% for item in services %}
								<tr>
									<td><a href="{{ item.id }}/">{{ item.name }}</a></td>
									<td>{{ item.base_price }}</td>
									<td><a href="/dashboard/tailor/category/edit/{{ item.id }}/?tailor_id={{ object.id }}">Edit</a></td>
									<td><a href="/dashboard/tailor/category/delete/{{ item.id }}/?tailor_id={{ object.id }}">Delete</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endif %}



				{% if portfolios|length > 0 %}
				<div class="page-content" style="min-width:48%; padding:10px;">
					<div class="table-header">Portfolio List</div>
					<div class="content-block">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Portfolio Name</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								{% for item in portfolios %}
								<tr>
									<td>{{ item.name }}</td>
									<td><a href="/dashboard/tailor/portfolio/edit/{{ item.id }}/?tailor_id={{ object.id }}">Edit</a></td>
									<td><a href="/dashboard/tailor/portfolio/delete/{{ item.id }}/?tailor_id={{ object.id }}">Delete</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endif %}

			</form>

			<div style="clear:both;"></div>

		</div>
	</div>
</div>

<br />
<br />
<br />

<div class="page-content" style="float:left; min-width:48%; padding:10px;">
	<div class="table-header">Add Portfolio</div>
	<div class="content-block">
		<div>
			<label>Upload {{ form_portfolio.visible_fields.1.label }}</label>
			<form action="/dashboard/tailor/portfolio/add/image/" class="dropzone" id="my-awesome-dropzone1" style="min-height: 200px; max-width: 500px;" method="POST">
				{% csrf_token %}
				<div class="fallback">
					<input name="file" type="file" accept="image/*"/>
				</div>
			</form>
		</div>

		<form action="" method="POST" enctype="multipart/form-data" id="tailor_portfolio_form">{% csrf_token %}
			{# {{form_portfolio.as_p}} #}
			{{ form_portfolio.visible_fields.1.label }}<br />{{ form_portfolio.visible_fields.1 }}<br />
			<br />
			<br />
			<br />
			<br />
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>


<div class="page-content" style="float:left; min-width:48%; padding:10px;">
	<div class="table-header">Add Category</div>
	<div class="content-block">
		<div>
			<label>Upload {{ form_category.visible_fields.1.label }}</label>
			<form action="/dashboard/tailor/category/add/image/" class="dropzone" id="my-awesome-dropzone2" style="min-height: 200px; max-width: 500px;" method="POST">
				{% csrf_token %}
				<div class="fallback">
					<input name="file" type="file" accept="image/*"/>
				</div>
			</form>
		</div>

		<form action="" method="POST" enctype="multipart/form-data" id="tailor_category_form">
			{% csrf_token %}
			{# {{form_category.as_p}} #}
			{{ form_category.visible_fields.1.label }}<br />{{ form_category.visible_fields.1 }}<br />
			{{ form_category.visible_fields.3.label }}<br />{{ form_category.visible_fields.3 }}<br />

			<br />
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>


<div style="clear:both;"></div>


{% endblock %}



{% block extrastyles %}

<!-- DROPZONE -->
<link rel="stylesheet" type="text/css" href={% static "js/dropzone/dropzone.min.css" %} />
<!--
<link rel="stylesheet" type="text/css" href="//select2.github.io/dist/css/select2.min.css" />
-->

{% endblock extrastyles %}



{% block extrascripts %}

<!-- DROPZONE -->
<script type="text/javascript" src={% static "js/dropzone/dropzone.min.js" %}></script>
<!--
<script type="text/javascript" src="//select2.github.io/dist/js/select2.full.js"></script>
-->


<script type="text/javascript">

	$(document).ready(function() {

		Dropzone.autoDiscover = false;
		var myDropzone1 = new Dropzone("#my-awesome-dropzone1", {
			url: "/dashboard/tailor/portfolio/add/image/",
			maxFileSize: 5,
			acceptedFiles: "image/*",
			uploadMultiple: false,
			// addRemoveLinks: true,
		});
		var myDropzone2 = new Dropzone("#my-awesome-dropzone2", {
			url: "/dashboard/tailor/category/add/image/",
			maxFileSize: 5,
			acceptedFiles: "image/*",
			uploadMultiple: false,
			// addRemoveLinks: true,
		});

		$("#tailor_category_form").submit(function(event) {
			var name = $("#id_form_cat-name").val();
			var base_price = $("#id_form_cat-base_price").val();

			$.ajax({
				url: '/dashboard/tailor/category/add/ajax/'+name+'/'+base_price+'/{{ object.id }}/',
				type: 'GET',
				dataType: 'text',
				success: function(data, textStatus, xhr) {
					// $("#id_form_subcat-category").append('<option value="'+data+'">'+name+'</option>');
					// $("#id_form_pat-category").append('<option value="'+data+'" selected>'+name+'</option>');

					// $("#id_form_cat-name").val('');
					// myDropzone2.removeAllFiles(true);

					if(data!="0"){
						alert('Category added!');
						window.location.reload();
					} else{
						alert('Error Adding category!');
					}

				},
				error: function(xhr, textStatus, errorThrown) {
					console.log('Error! '+textStatus+"="+errorThrown);
				}
			});
			return false;
		});
		

		$("#tailor_portfolio_form").submit(function(event) {
			var name = $("#id_form_port-name").val();

			$.ajax({
				url: '/dashboard/tailor/portfolio/add/ajax/'+name+'/{{ object.id }}/',
				type: 'GET',
				dataType: 'text',
				success: function(data, textStatus, xhr) {
					// $("#id_form1-portfolio").append('<option value="'+data+'">'+name+'</option>');

					// $("#id_form_port-name").val('');
					// myDropzone1.removeAllFiles(true);
					if(data!="0"){
						alert('Portfolio added!');
						window.location.reload();
					} else{
						alert('Error Adding Portfolio!');
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					console.log('Error! '+textStatus+"="+errorThrown);
				}
			});
			return false;
		});


	});

</script>

{% endblock extrascripts %}

