{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}
{% block headertext %}
{% trans "Tailor" %}
{% endblock %}

{% block dashboard_content %}

<div class="page-content" style="padding-right:45px; margin-left:10px;">
	<div class="content-block">
		<a href="/dashboard/" class="btn btn-primary">Home</a>
	</div>
</div>

<div class="page-content" style="clear:both; padding-right:45px; margin-left:10px;">
	<div class="table-header">{{ object.name }}'s Sub Category and Patterns</div>
	<div class="content-block">
		<div>
			<form action="" method="POST" enctype="multipart/form-data" id="tailor_form">{% csrf_token %}

				<div style="clear:both;"></div>

				{% if sub_category|length > 0 %}
				<div class="page-content" style="min-width:48%; padding:10px;">
					<div class="table-header">Sub Category List</div>
					<div class="content-block">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Sub Category Name</th>
									<th>Category Name</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								{% for item in sub_category %}
								<tr>
									<td>{{ item.name }}</td>
									<td>{{ item.category.name }}</td>
									<td><a href="/dashboard/tailor/subcategory/edit/{{ item.id }}/?tailor_id={{ tailor.id }}&category_id={{ object.id }}">Edit</a></td>
									<td><a href="/dashboard/tailor/subcategory/delete/{{ item.id }}/?tailor_id={{ tailor.id }}&category_id={{ object.id }}">Delete</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endif %}

				
				{% if patterns|length > 0 %}
				<div class="page-content" style="min-width:48%; padding:10px;">
					<div class="table-header">Tailor Patterns List</div>
					<div class="content-block">
						<table class="table table-responsive table-hover">
							<thead>
								<tr>
									<th>Pattern Name</th>
									<th>Sub Category Name</th>
									<th>Price</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								{% for item in patterns %}
								<tr>
									<td>{{ item.name }}</td>
									<td>{{ item.sub_category }}</td>
									<td>{{ item.price }}</td>
									<td><a href="/dashboard/tailor/pattern/edit/{{ item.id }}/?tailor_id={{ tailor.id }}&category_id={{ object.id }}">Edit</a></td>
									<td><a href="/dashboard/tailor/pattern/delete/{{ item.id }}/?tailor_id={{ tailor.id }}&category_id={{ object.id }}">Delete</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endif %}

			</form>

			<div style="clear:both;"></div>

		</div>
	</div>
</div>

<br />
<br />
<br />




<div class="page-content" style="clear:both; padding-right:45px; margin-left:10px;">
	<div class="table-header">Add Sub Category</div>
	<div class="content-block">

		<form action="" method="POST" enctype="multipart/form-data" id="tailor_subcategory_form">
			{% csrf_token %}
			{# {{form_category.as_p}} #}
			{{ form_sub_category.visible_fields.2.label }}<br />{{ form_sub_category.visible_fields.2 }}<br />

			<br />
			<br />
			<br />
			<br />

			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>



<div class="page-content" style="clear:both; padding-right:45px; margin-left:10px;">
	<div class="table-header">Add Pattern</div>
	<div class="content-block">
		<div>
			<label>Upload {{ form_pattern.visible_fields.1.label }}</label>
			<form action="/dashboard/tailor/pattern/add/image/" class="dropzone" id="my-awesome-dropzone3" style="min-height: 200px; max-width: 500px;" method="POST">
				{% csrf_token %}
				<div class="fallback">
					<input name="file" type="file" accept="image/*"/>
				</div>
			</form>
		</div>

		<form action="" method="POST" enctype="multipart/form-data" id="tailor_pattern_form">
			{% csrf_token %}
			{# {{form_pattern.as_p}} #}

			{{ form_pattern.visible_fields.1.label }}<br />{{ form_pattern.visible_fields.1 }}<br />
			{{ form_pattern.visible_fields.2.label }}<br />{{ form_pattern.visible_fields.2 }}<br />
			{{ form_pattern.visible_fields.4.label }}<br />{{ form_pattern.visible_fields.4 }}<br />

			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	</div>
</div>


<div style="clear:both;"></div>


{% endblock %}



{% block extrastyles %}

<!-- DROPZONE -->
<link rel="stylesheet" type="text/css" href={% static "js/dropzone/dropzone.min.css" %} />
<!--
<link rel="stylesheet" type="text/css" href="//select2.github.io/dist/css/select2.min.css" />
-->

{% endblock extrastyles %}



{% block extrascripts %}

<!-- DROPZONE -->
<script type="text/javascript" src={% static "js/dropzone/dropzone.min.js" %}></script>
<!--
<script type="text/javascript" src="//select2.github.io/dist/js/select2.full.js"></script>
-->


<script type="text/javascript">

	$(document).ready(function() {

		Dropzone.autoDiscover = false;

		var myDropzone3 = new Dropzone("#my-awesome-dropzone3", {
			url: "/dashboard/tailor/pattern/add/image/",
			maxFileSize: 5,
			acceptedFiles: "image/*",
			uploadMultiple: false,
			// addRemoveLinks: true,
		});


		$("#tailor_pattern_form").submit(function(event) {

			var cat = $("#id_form_pat-sub_category").val();
			var name = $("#id_form_pat-name").val();
			var price = $("#id_form_pat-price").val();

			$.ajax({
				url: '/dashboard/tailor/pattern/add/ajax/'+price+'/'+cat+'/'+name+'/{{ tailor.id }}/{{ object.id }}/',
				type: 'GET',
				dataType: 'text',
				success: function(data, textStatus, xhr) {
					// $("#id_form1-patterns").append('<option value="'+data+'">'+name+'</option>');

					// $("#id_form_pat-price").val('0');
					// $("#id_form_pat-category").prop('selectedIndex', 0);
					// $("#id_form_pat-name").val('');
					// myDropzone3.removeAllFiles(true);
					if(data!="0"){
						alert('Pattern added!');
						window.location.reload();
					} else{
						alert('Error Adding Pattern!');
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					console.log('Error! '+textStatus+"="+errorThrown);
				}
			});
			return false;
		});

		$("#tailor_subcategory_form").submit(function(event) {

			var name = $("#id_form_subcat-name").val();

			$.ajax({
				url: '/dashboard/tailor/subcategory/add/ajax/{{ object.id }}/'+name+'/{{ tailor.id }}/',
				type: 'GET',
				dataType: 'text',
				success: function(data, textStatus, xhr) {
					// $("#id_form1-patterns").append('<option value="'+data+'">'+name+'</option>');

					// $("#id_form_pat-price").val('0');
					// $("#id_form_pat-category").prop('selectedIndex', 0);
					// $("#id_form_pat-name").val('');
					// myDropzone3.removeAllFiles(true);
					if(data!="0"){
						alert('Sub Category added!');
						window.location.reload();
					} else if(data!="-1"){
						alert('Only a Maximum of 6 Sub Category allowed!');
						window.location.reload();
					} else{
						alert('Error Adding Sub Category!');
					}
				},
				error: function(xhr, textStatus, errorThrown) {
					console.log('Error! '+textStatus+"="+errorThrown);
				}
			});
			return false;
		});

	});

</script>

{% endblock extrascripts %}

