{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block favicon %}
            <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
{% endblock %}
        
{% block headertext %}
    <span>{{ tailor.name }}</span> <span>{% trans "Tailor" %}</span>
{% endblock %}

{% block content %}

{% endblock content %}