{% extends "dashboard/index.html" %}
{% load i18n %}


{% block headertext %}
    <span>{% trans "Delete User" %}</span>
{% endblock %}

{% block dashboard_content %}

<form action="" method="post">
{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" class="btn btn-primary btn-medium pull-left"/>
</form>


	
{% endblock dashboard_content %}



