{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load staticfiles %}

{% block body_class %}{{ block.super }} users{% endblock %}

{% block title %}{{ customer.email }} | {{ block.super }}{% endblock %}



{% block favicon %}
    <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
{% endblock %}



{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url 'dashboard:users-index' %}">{% trans "Customers" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ customer.email }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ customer.email }}{% endblock %}

{% block dashboard_content %}
    <div class="row-fluid">
        {% block user_general_info %}
            <div class="">
                <div class="table-header">
                    <h2>{% trans "General" %}</h2>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ customer.get_full_name|default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Email" %}</th>
                        <td>{{ customer.email }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Active" %}?</th>
                        <td>
                            {{ customer.is_active|yesno:_("Yes,No") }}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Superuser" %}?</th>
                        <td>{{ customer.is_superuser|yesno:_("True,False") }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Staff" %}?</th>
                        <td>{{ customer.is_staff|yesno:_("True,False") }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Last login" %}</th>
                        <td>{{ customer.last_login }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Date joined" %}</th>
                        <td>{{ customer.date_joined }}</td>
                    </tr>
                    {% if customer.email %}
                        <tr>
                            <th>{% trans "Actions" %}</th>
                            <td>
                                <form id="password_reset_form" action="{% url 'dashboard:user-password-reset' %}" method="POST" class="form-horizontal">
                                    {% csrf_token %}
                                    {% include 'partials/form_fields.html' %}
                                    <input type="hidden" value="{{customer.email}}" name="email">
                                    <button type="submit" class="btn btn-primary btn-large">{% trans 'Send password reset email' %}</button>

                                    {% if customer.is_staff and customer.is_superuser %}
                                        
                                    <a href="{% url 'dashboard:update-user' pk=customer.id %}" class="btn btn-primary btn-large">{% trans 'Edit' %}</a>

                                    {% endif %}

                                    <a href="{% url 'dashboard:delete-user' pk=customer.id %}" class="btn btn-primary btn-large">{% trans 'Delete' %}</a>
                                </form>
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        {% endblock %}

                <div class="tab-content">
                </div>
            </div>
        </div>
{% endblock dashboard_content %}
