{% extends "dashboard/index.html" %}
{% load i18n %}


{% block headertext %}
    <span>{% trans "Update User" %}</span>
{% endblock %}

{% block dashboard_content %}

<form action="" method="POST">
{% csrf_token %}

{{form.error}}
{{form}}
<br>
<br>
<br>
<input type="submit" value="Update User" class="btn btn-primary btn-medium pull-left">
</form>

	
{% endblock dashboard_content %}



{% block extrascripts %}
<script>
    $(document).ready(function() {
        $("#id_password").attr('type', 'password');
    });
</script>
    
{% endblock %}