{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block body_class %}{{ block.super }} orders home{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% load staticfiles %}
    <meta http-equiv="refresh" content="300">
{% endblock %}

{% block favicon %}
            <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block headertext %}
{% trans "Dashboard" %}
{% endblock %}

{% block dashboard_content %}

<div class="table-header">
    <i class="icon-signal icon-large"></i>{% trans "Your Store Reports" %}
</div>

{% if orders|length > 0 %}
<!-- Reports seciton-->
<div class="content-block">
    <form class="form" action="" method="POST">{% csrf_token %}
   <table class="table table-striped table-bordered" style="max-width:30%;">
      <caption>
         <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Orders Report</h3>
      </caption>
      <tr>
         <th>From Date</th>
         <th colspan="2">To Date</th>

      </tr>

      <tr>
         <td style="text-align:center;"><input type="text" value="{{ from_date }}" name="from_date" id="from_date" required/></td>
         <td style="text-align:center;"><input type="text" value="{{ to_date }}" name="to_date" id="to_date" required/></td>
         <td style="text-align:center;"><button type="submit" class="btn btn-primary">Search</button></td>
      </tr>
   </table>

</form>

<br />
<br />
  
<!-- Data table start-->
<div class="table table-responsive">
  
<table class="table table-striped table-bordered" id="myTable">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Orders Report</h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Order Id</th>
         <th class="orderable sortable title">Title</th>
         <th class="orderable sortable title">Username</th>
         <th class="orderable sortable title">Boutique</th>
         <th class="orderable sortable title">Tailor</th>
         <th class="orderable sortable title">Price Sol</th>
         <th class="orderable sortable title">Discount(%)</th>
         <th class="orderable sortable title">Actual Price</th>
         <th class="orderable sortable title">Category</th>
         <th class="date_updated desc orderable sortable">Date Of Purchase</th>
         <th class="date_updated desc orderable sortable">Date Last Updated</th>
         <th>Action</th>
      </tr>
   </thead>

   <tbody>

      {% for order in orders %}
      
      <tr>
         <td class="upc">{{ order.id|default:"N/A" }}</td>
         {% if order.product.name %}
         <td class="upc">{{ order.product.name|default:"N/A" }}</td>
         {% else %}
         <td class="upc">{{ order.category.name|default:"N/A" }}</td>
         {% endif %}
         <td class="upc">{{ order.user.username|default:"N/A" }}</td>
         <td class="upc">{{ order.product.boutique.name|default:"N/A" }}</td>
         <td class="upc">{{ order.tailor.name|default:"N/A" }}</td>
         <td class="upc">{{ order.product.discount_amount|default:"N/A" }}</td>
         <td class="upc">{{ order.product.discount|default:"N/A" }}</td>
         <td class="upc">{{ order.product.price|default:"N/A" }}</td>
         {% if order.product.category %}
         <td class="upc">{{ order.product.category|default:"N/A" }}</td>
         {% else %}
         <td class="upc">{{ order.category.name|default:"N/A" }}</td>
         {% endif %}
         <td class="upc">{{  order.date_of_purchase|default:"N/A" }}</td>
         <td class="upc">{{  order.date_modified|default:"N/A" }}</td>
         <td class="upc">
         <form action="{% url 'dashboard:change-order-status' %}" method="POST" class="form">{% csrf_token %}
               <input type="hidden" name="order_id" value="{{ order.id }}" />
               <select name="status">
                  {% for status in statuses %}
                  <option value="{{ status.0 }}" {% if order.status|slugify == status.0|slugify %} selected {% endif %}>{{ status.1 }}</option>
                  {% endfor %}
               </select>
               <button type="submit" class="btn btn-primary">Save Status</button>
               <!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myPickup" onclick="ModalData('{{order.id}}');">Details</button>-->
               <button type="button" class="btn btn-primary" onclick="PageRedirect('{{order.id}}');">Details</button>
            </form>
         </td>
      </tr>

      {% endfor %}

   </tbody>

</table>
</div>
<!-- Data table end-->
{% else %}
<div class="content-block">
  <span>No Orders</span>
</div>
{% endif %}
</div>
<!-- Reports seciton-->
    

<div class='row-fluid'>
    <div class="span6">
        <table class="table table-striped table-bordered table-hover">
            <caption>
                <div class="btn-toolbar pull-right">
                  <div class="btn-group">
                    <a href="{% url 'dashboard:boutique-list' %}" class="btn">
                        <i class="icon-sitemap"></i> {% trans "Manage" %}
                    </a>
                  </div>
                  <div class="btn-group">
                    <a href="{% url 'dashboard:stock-alert' %}" class="btn">
                        <i class="icon-sitemap"></i> {% trans "View Stock Alerts" %}
                    </a>
                  </div>
                </div>
                <i class="icon-sitemap icon-large"></i>{% trans "Catalogue and stock" %}
            </caption>
            <tr>
                <th class="span10">{% trans "Total products" %}</th>
                    <td class="span2" >{{ total_products }}</td>
            </tr>
            <tr>
                <th class="span10">{% trans "<em>Open</em> stock alerts" %}</th>
                    <td class="span2" >{{ total_open_stock_alerts }}</td>
            </tr>
            <tr>
                <th class="span10">{% trans "<em>Closed</em> stock alerts" %}</th>
                    <td class="span2" >{{ total_closed_stock_alerts }}</td>
            </tr>
        </table>
    </div>
</div> 

<div class="span4" style="margin-left:53%; margin-top:-175px;">
    <table class="table table-striped table-bordered table-hover">
        <caption><i class="icon-group icon-large"></i>{% trans "Customers" %}</caption>
        <tr>
            <th class="span10">{% trans "Total customers" %}</th>
            <td class="span2" >{{ total_customers }}</td>
        </tr>
        <tr>
            <th class="span10">{% trans "New customers" %}</th>
            <td class="span2" >{{ total_customers_last_day }}</td>
        </tr>
        <tr>
            <th class="span10">{% trans "Total <em>open</em> baskets" %}</th>
            <td class="span2" >{{ total_open_baskets_last_day }}</td>
        </tr>
    </table>
</div>
</div>

<!-- Modal popup section-->
<div class="modal fade" id="myPickup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="width:1000px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center;">Transaction details</h4>
      </div>
      <div class="modal-body">
         <div class="form-group">

         <div id="content">
            <h1>No transaction details available</h1>
         </div>
      <div id="editor"></div>

         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="cmd">Download as PDF</button>
      </div>
      </form>

    </div>
  </div>
</div>
<!-- Modal popup section-->

{% endblock %}


{% block extrastyle %}

<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">-->
<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">

{% endblock extrastyle %}


{% block extrascripts %}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>



<script type="text/javascript">

   $(document).ready(function() {

      // YYYY-MM-DD
      $("#from_date").datepicker( { dateFormat: 'yy-mm-dd' } );
      $("#to_date").datepicker( { dateFormat: 'yy-mm-dd' });

      $('#myTable').DataTable();

   });

</script>

<!-- Modal Form contents-->
<script>
// function ModalData(id){

// url = "/transaction_detail_api/";
// $.ajax({
//   url: url,
//   type: 'GET',
//   dataType: 'text',
//   data: {'tran_id': id},
//   success: function(data, textStatus, xhr) {
//     //called when successful
//     // alert(data);
//     $("#content").html(data)
//   },
//   error: function(xhr, textStatus, errorThrown) {
//     //called when there is an error
//     alert("Something Went Wrong");
//   }
// });

// }

</script>
<!-- Modal Form contents-->

<!--<script type="text/javascript" src="https://parall.ax/parallax/js/jspdf.js"></script>-->
<script>
// Download as pdf section
// var doc = new jsPDF();
// var specialElementHandlers = {
//     '#editor': function (element, renderer) {
//         return true;
//     }
// };

// $('#cmd').click(function () {
//     doc.fromHTML($('#content').html(), 15, 15, {
//         'width': 170,
//             'elementHandlers': specialElementHandlers
//     });
//     doc.save('sample-file.pdf');
// });
// Download as pdf section
</script>
<script>
  function PageRedirect(id){

    url = "/transaction_detail_api/?tran_id="+id;
    window.open(url);
  }
</script>


{% endblock extrascripts %}
