{% extends "dashboard/index.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headertext %}
<span>{% trans "Report" %}</span>
{% endblock %}

{% block dashboard_content %}

<form class="form" action="" method="POST">{% csrf_token %}
   <table class="table table-striped table-bordered" style="max-width:30%;">
      <caption>
         <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Orders Report</h3>
      </caption>
      <tr>
         <th>From Date</th>
         <th colspan="2">To Date</th>

      </tr>

      <tr>
         <td style="text-align:center;"><input type="text" value="{{ from_date }}" name="from_date" id="from_date" required/></td>
         <td style="text-align:center;"><input type="text" value="{{ to_date }}" name="to_date" id="to_date" required/></td>
         <td style="text-align:center;"><button type="submit" class="btn btn-primary">Search</button></td>
      </tr>
   </table>

</form>

<br />
<br />

<!-- Data table start-->
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Orders Report</h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Order Id</th>
         <th class="orderable sortable title">Title</th>
         <th class="orderable sortable title">Price Sol</th>
         <th class="orderable sortable title">Discount</th>
         <th class="orderable sortable title">Actual Price</th>
         <th class="orderable sortable title">Category</th>
         <th class="date_updated desc orderable sortable">Date Of Purchase</th>
         <th class="date_updated desc orderable sortable">Date Last Updated</th>
         <th>Action</th>
      </tr>
   </thead>

   <tbody>

      {% for order in orders %}
      
      <tr>
         <td class="upc">{{ order.id }}</td>
         <td class="upc">{{ order.product.name }}</td>
         <td class="upc">{{ order.product.discount_amount }}</td>
         <td class="upc">{{ order.product.discount }}</td>
         <td class="upc">{{ order.product.price }}</td>
         <td class="upc">{{ order.product.category }}</td>
         <td class="upc">{{  order.date_of_purchase }}</td>
         <td class="upc">{{  order.date_modified }}</td>
         <td class="upc">
         <form action="{% url 'dashboard:change-order-status' %}" method="POST" class="form">{% csrf_token %}
               <input type="hidden" name="order_id" value="{{ order.id }}" />
               <select name="status">
                  {% for status in statuses %}
                  <option value="{{ status.0 }}" {% if order.status|slugify == status.0|slugify %} selected {% endif %}>{{ status.1 }}</option>
                  {% endfor %}
               </select>
               <button type="submit" class="btn btn-primary">Save Status</button>
            </form>
         </td>
      </tr>

      {% endfor %}

   </tbody>

   <tfoot></tfoot>
</table>
<!-- Data table end-->

{% endblock dashboard_content %}


{% block extrastyle %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

{% endblock extrastyle %}


{% block extrascripts %}

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript">

   $(document).ready(function() {

      // YYYY-MM-DD
      $("#from_date").datepicker( { dateFormat: 'yy-mm-dd' } );
      $("#to_date").datepicker( { dateFormat: 'yy-mm-dd' });

   });

</script>

{% endblock extrascripts %}



