{% extends 'dashboard/index.html' %}
{% load currency_filters %}
{% load i18n %}

{% block headertext %}
{% trans "Ritzley Faq" %}
{% endblock %}

{% block dashboard_content %}


<!-- FAQ save form-->
{% if Faq %}
<!-- Edit Faq-->
<div class="page-header">

	<a href="#" class="btn btn-primary btn-large pull-left" id="show"><i class="icon-plus"></i> Edit Faq</a>
	<h1><br></h1><br>

	<div>
		<form action="" method="POST">
			{% csrf_token %}
			<textarea name="FAQ" id="hide1" cols="30" rows="10">{{Faq.description}}</textarea>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" value="Save" class="btn btn-primary" id="hide2">
			<input type="hidden" name="type" value="Edit">
			<input type="hidden" name="id" value="{{Faq.id}}">

		</form>
	</div>

</div>
<!-- Edit Faq-->
{% else %}
<!-- Add Faq-->
<div class="page-header">

	<a href="#" class="btn btn-primary btn-large pull-left" id="show"><i class="icon-plus"></i> Create Faq</a>
	<h1><br></h1><br>

	<div>
		<form action="" method="POST">
			{% csrf_token %}
			<textarea name="FAQ" id="hide1" cols="30" rows="10"></textarea>&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="submit" value="Save" class="btn btn-primary" id="hide2">
			<input type="hidden" name="type" value="Add">

		</form>
	</div>

</div>
<!-- Add Faq-->
{% endif %}
<!-- FAQ save form-->

<br>
<br>
<!-- Display FAQ content start-->
<div class="page-content">
                
	<table class="table table-striped table-bordered table-hover">

		{% if Faq %}

				<tbody><tr><td>{{ Faq.description }}</td></tr>

		{% else %}

			<tbody><tr><td>No Faq found.</td></tr>

		{% endif %}

	</tbody></table>
                
</div>
<!-- Display FAQ content end-->

	
{% endblock %}

{% block extrascripts %}

<script>

$(document).ready(function() {

	$("#show").click(function(event) {

		$("#hide1").show();
		$("#hide2").show();
		$("#show").hide();
	});

	
});
	
</script>
    
{% endblock extrascripts %}

{% block extrastyles %}

<style>

#hide1{

	float: left;
	display: none;
}
#hide2{

	display: none;
}

</style>

{% endblock extrastyles %}