{% extends "dashboard/index.html" %}

{% block dashboard_content %}
    
<div class="content">
            



<div id="messages">

</div>

            
<div class="page-header">
  <h1>Stock alerts</h1>
</div>

            <div class="page-content">
                
                    
<div class="table-header">
    <h2 class="pull-left"><i class="icon-sitemap icon-large"></i>All alerts</h2>

    <div class="pull-right">
        <div class="btn-group pull-right">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                Filter
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="/dashboard/stock/">All</a></li>
                <li><a href="/dashboard/stock/?status=Open">Open</a></li>
                <li><a href="/dashboard/stock/?status=Closed">Closed</a></li>
            </ul>
        </div>
    </div>
</div>

<table class="table table-striped table-bordered table-hover">
    
    {% if low_stock_list %}
        
       <tbody>
        {% for stock in low_stock_list %}

           <tr><td>{{stock.name}} <input type="button" onclick="add_stock({{stock.id}})" value="Add stock" class="btn btn-primary pull-right"></td></tr>

        {% endfor %}
       </tbody>

    {% else %}

        <tbody><tr><td>No stock alerts found.</td></tr></tbody>

    {% endif %}

    
</tbody></table>


                
            </div>
        </div>

{% endblock dashboard_content %}


{% block extrascripts %}

<script>
function add_stock(prod_id){

    window.location.replace("/dashboard/boutique/edit_product/"+prod_id);
}    
</script>
    
{% endblock extrascripts %}