<!DOCTYPE html>
<html>
{% load staticfiles %}
{% load thumbnail %}
<head>
<link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />

<link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
<link rel="icon" href={% static "favicon.ico" %} type="image/x-icon">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700">
<link rel="stylesheet" href={% static "styles/vendor.css" %}>
<link rel="stylesheet" href={% static "styles/bootstrap.css" %}>
<link rel="stylesheet" href={% static "styles/main.css" %}>
<link id="primary_color_scheme" rel="stylesheet" href={% static "styles/qplay.css" %}>
</head>

<body>

{% load staticfiles %}
<div class="page profile">
<table class="table table-striped table-bordered dataTable no-footer" id="myTable" role="grid" aria-describedby="myTable_info" width="200px;">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Orders Report</h3>
   </caption>
   <thead>
      <tr role="row">
         <th class="orderable sortable title sorting_asc" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order Id: activate to sort column descending" style="width: 72px;">Order Id</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Title: activate to sort column ascending" style="width: 41px;">Title</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Username: activate to sort column ascending" style="width: 162px;">Username</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Boutique: activate to sort column ascending" style="width: 79px;">Boutique</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Tailor: activate to sort column ascending" style="width: 112px;">Tailor</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Price Sol: activate to sort column ascending" style="width: 74px;">Price Sol</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Discount: activate to sort column ascending" style="width: 78px;">Discount(%)</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Actual Price: activate to sort column ascending" style="width: 102px;">Actual Price</th>
         <th class="orderable sortable title sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Category: activate to sort column ascending" style="width: 78px;">Category</th>
         <th class="date_updated desc orderable sortable sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Date Of Purchase: activate to sort column ascending" style="width: 146px;">Date Of Purchase</th>
         <th class="date_updated desc orderable sortable sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Date Last Updated: activate to sort column ascending" style="width: 155px;">Date Last Updated</th>
         <th class="sorting" tabindex="0" aria-controls="myTable" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 529px;">Status</th>
      </tr>
   </thead>
   <tbody>
      <tr role="row" class="odd">
         <td class="upc">{{ trans_obj.id|default:"N/A" }}</td>
         {% if trans_obj.product.name %}
         <td class="upc">{{ trans_obj.product.name|default:"N/A" }}</td>
         {% else %}
         <td class="upc">{{ trans_obj.category.name|default:"N/A" }}</td>
         {% endif %}
         <td class="upc">{{ trans_obj.user.username|default:"N/A" }}</td>
         <td class="upc">{{ trans_obj.product.boutique.name|default:"N/A" }}</td>
         <td class="upc">{{ trans_obj.tailor.name|default:"N/A" }}</td>
         <td class="upc">{{ trans_obj.product.discount_amount|default:"N/A" }}</td>
         <td class="upc">{{ trans_obj.product.discount|default:"N/A" }}</td>
         <td class="upc">{{ trans_obj.product.price|default:"N/A" }}</td>
         {% if trans_obj.product.category%}
         <td class="upc">{{ trans_obj.product.category|default:"N/A" }}</td>
         {% else %}
         <td class="upc">{{ trans_obj.category.name|default:"N/A" }}</td>
         {% endif %}
         <td class="upc">{{  trans_obj.date_of_purchase|default:"N/A" }}</td>
         <td class="upc">{{  trans_obj.date_modified|default:"N/A" }}</td>
         <td class="upc">{{trans_obj.status|default:"N/A" }}</td>
      </tr>
   </tbody>
</table>
<div>
		
	{% if stitching_cost %}
		<h3>Total Stitching Cost:{{stitching_cost}}</h3>
	{% endif %}
		
	{% if total_cost %}
		<h1>Total Order Cost:{{total_cost}}</h1>
	{% endif %}
</div>
<!-- Measurements section-->
<div class="col-sm-12 text-center"><h1 class="headng">Measurements</h1></div>
<img src={% static "images/measure-1.png" %} width="300px" height="auto" />

<img src={% static "images/profil-image-2.png" %} width="300px" height="auto"><br>
<table class="reference" style="width:100%" border="2">
<tr>
	<th>Area</th>
	<th>Measurement</th>
</tr>
	
{% for field in measurement %}
<tr>
	<td>{{field.label}}</td>
	<td>{{field}}</td>
</tr>
{% endfor %}
</table>
<!-- Measurements section-->
<br><br><br><br>
<!-- Patterns section-->
<div class="col-sm-12 text-center"><h1 class="headng">Patterns</h1></div>
<table class="reference" style="width:100%" border="2">
<tr>
	<th>Pattern Image</th>
	<th>Pattern Section</th>
	<th>Pattern</th>
</tr>

{% for patterns in trans_obj.patterns.all %}
<tr>
	<td>
	{% thumbnail patterns.image "50x50" crop="center" format="PNG" as image %}
	<img src="{{image.url}}" style="float:left">
	{% endthumbnail %}
	</td>
	<td>{{patterns.sub_category.name}}</td>
	<td>{{patterns.name}}</td>
</tr>
{% endfor %}
</table>
<br>
<!-- Patterns section-->

<!-- Delivery address section-->
<div class="col-sm-12 text-center"><h1 class="headng">Delivery Address</h1></div>
{{ delivery_address }}
<!-- Delivery address section-->

<!-- Pickup address section-->
{% if pickup_address %}
<div class="col-sm-12 text-center"><h1 class="headng">Pickup Address</h1></div>
	{{ pickup_address }}
{% endif %}
<!-- Pickup address section-->

<div class="col-md-12 row">
<button type="button" class="btn btn-primary btn-large pull-right" onclick="PrintPage()" id="print">Download</button>
</div>
<script src={% static "js/bootstrap.min.js" %}></script>
<script src={% static "js/jquery.js" %}></script>
<script src={% static "scripts/vendor/modernizr.js" %}></script>
<noscript>
  <link rel="stylesheet" href={% static "styles/styleNoJs.css" %}>
</noscript>

<script src={% static "scripts/vendor/vendor.js" %}></script>
<script src={% static "scripts/vendor/bootstrap.js" %}></script>
<script src={% static "scripts/vendor/bootstrap-extend.js" %}></script>
<script src={% static "scripts/main.js" %}></script>
<link rel="stylesheet" type="text/css" href={% static "styles/style.css" %}>
<script>
function PrintPage(){

	$("#print").hide();
	window.print();
	$("#print").show();
}
</script>

</body>
</html>