{% extends "dashboard/index.html" %}
{% load i18n %}

{% block headertext %}
    {% trans "Boutique Templates" %}
{% endblock %}


{% block dashboard_content %}
	
<!-- Boutique Template Data table-->	
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Boutique Templates
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Template Name <i class="icon-"></i></th>
         <th class="actions">Actions</th>
      </tr>
   </thead>
   <tbody>
  	{% for template in boutique_template %}
  		
      <tr class="odd">
         <td class="title">{{template.name}}</td>

         <td class="actions">
            <div class="btn-toolbar">
               <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Actions
                  <span class="caret"></span> </a> 
                  <ul class="dropdown-menu pull-right">
                     <li> <a href="javascript:editTemplate('{{template.name}}', '{{template.id}}')">Edit</a> </li>
                     <li> <a href="{% url 'dashboard:delete-template' pk=template.id %}">Delete</a> </li>
                  </ul>
               </div>
            </div>
         </td>

      </tr>
  
  	{% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Boutique Template Data table-->


<!-- Edit Template Section-->
<div class="content-block" style="display:none;" id="edit_template">
	<span>Edit boutique template</span><br>
	<form action="{% url 'dashboard:edit-template' %}" method="POST">
	{% csrf_token %}
	<input type="hidden" value="" id="template_id" name="template_id">
	<input type="text" placeholder="Template Name" name="template_edit" id="template_name"><br>
	<input type="submit" value="Save Template" class="btn btn-primary btn-medium">
	</form>
</div>
<!-- Edit Template Section-->


<!-- Add button section start-->
<div class="page-header">
<a href="javascript:addTemplate()" class="btn btn-primary btn-large"><i class="icon-plus"></i> Add Template</a>
<h1><br></h1>
</div>
<!-- Add button section end-->

<!-- Add Template Section-->
<div class="content-block" style="display:none;" id="add_template">
	<span>Add boutique template</span><br>
	<form action="" method="POST">
	{% csrf_token %}
	<input type="text" placeholder="Template Name" name="template_add"><br>
	<input type="submit" value="Save Template" class="btn btn-primary btn-medium">
	</form>
</div>
<!-- Add Template Section-->


{% endblock %}


{% block extrascripts %}
<script>

function addTemplate() {

	$("#add_template").show();
}

function editTemplate(name, id) {

	$("#edit_template").show();
	$("#template_id").val(id);
	$("#template_name").val(name);

}

</script>
{% endblock %}