{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}


{% block favicon %}
            <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
{% endblock %}


{% block headertext %}
    <span>{{boutique.name}}</span> <span>{% trans "Boutique" %}</span>
{% endblock %}

{% block dashboard_content %}
	<link rel="stylesheet" href={% static "product/product_custom.css" %}>
    {% if boutique.logo %}
        <img src="{{boutique.logo.url}}" alt="" width="60px"><br><br>
    {% endif %}



<!-- Add button section start-->
<div class="page-header">
<a href="/dashboard/boutique/add_product/{{boutique.id}}" class="btn btn-primary btn-large pull-right"><i class="icon-plus"></i> Create new Product</a>
<h1><br></h1>
</div>
<!-- Add button section end-->



<!-- Data table start-->
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Products
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Title <i class="icon-"></i></a></th>
         <th class="orderable sortable upc">Price <i class="icon-"></i></a></th>
         <th class="orderable sortable upc">Discount <i class="icon-"></i></a></th>
         <th class="image">Image</th>
         <th class="orderable product_class sortable">Category <i class="icon-"></i></a></th>
         <th class="stock_records">Stock Records</th>
         <th class="date_updated desc orderable sortable">Date Updated</i></a></th>
         <th class="actions">Actions</th>
      </tr>
   </thead>
   <tbody>

   {% for product in Products %}
      <tr class="odd">
         <td class="title">{{product.name}}</a> </td>
         <td class="upc">{{product.price}}</td>
         <td class="upc">{{product.discount_amount}}</td>
         <td class="image"> 
            
        {% with product.image.all|first as image %}

        {% thumbnail image.image "100x100" crop="top" format="PNG" as image %}
         <a href="{{image.url}}" rel="lightbox_HG88" class="sub-image"> <img src="{{image.url}}" alt="" data-description="{{product.name}}"> </a> 
         {% endthumbnail %}
        
        {% endwith %}

         </td>
         <td class="product_class">{{product.category.name}}</td>
         <td class="stock_records">
         <ul style="list-style:none;">
         {% for item in product.size.all %}
           <li>{{item.product_size}} - {{item.stock}}</li>
         {% endfor %}
          </ul>
         </td>
         <td class="date_updated">{{product.added_date}}</td>
         <td class="actions">
            <div class="btn-toolbar">
               <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Actions
                  <span class="caret"></span> </a> 
                  <ul class="dropdown-menu pull-right">
                     <li> <a href="/dashboard/boutique/edit_product/{{product.id}}">Edit</a> </li>
                     <li> <a href="/dashboard/boutique/delete_product/{{product.id}}">Delete</a> </li>
                  </ul>
               </div>
            </div>
         </td>
      </tr>
   {% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Data table end-->


<br><br><br>
<br><br><br>


<!-- Favourite Boutique Mailer list starts-->
{% if Fav_boutique %}
<table class="table table-striped table-bordered" id="dvData1">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Favourite Boutique Mailer List
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Name <i class="icon-"></i></a></th>
         <th class="orderable sortable upc">Username <i class="icon-"></i></a></th>
         <th class="image">Email</th>
         <th class="orderable product_class sortable">Active <i class="icon-"></i></a></th>
         <th class="date_updated desc orderable sortable">Last Login</i></a></th>
      </tr>
   </thead>
   <tbody>

   {% for mailerlist in Fav_boutique %}
      <tr class="odd">
         <td class="title">{{mailerlist.user.first_name}}</a> </td>
         <td class="upc">{{mailerlist.user.username}}</td>
         <td class="upc">{{mailerlist.user.email}}</td>
         <td class="product_class">{{mailerlist.user.is_active}}</td>
         <td class="date_updated">{{mailerlist.user.last_login}}</td>
      </tr>
   {% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Favourite Boutique Mailer list end-->


<!-- Download CSV section start-->
<div class="page-header">
<a href="#" class="btn btn-primary btn-large pull-right" id="btn2"><i class="icon-download"></i>&nbsp; Download CSV</a>
<h1><br></h1>
</div>
<!-- Download CSV section end-->
{% endif %}
 
<table class="table table-striped table-bordered" id="dvData1">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Export Orders as Excel
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">From Date <i class="icon-"></i></a></th>
         <th class="orderable sortable upc"><i class="icon-"></i></a></th>
         <th class="image">To Date</th>
         <th class="orderable product_class sortable"><i class="icon-"></i></a></th>
      </tr>
   </thead>
</table> 
<div class="page-header">
<a href="#" class="btn btn-primary btn-large pull-right" id="btn2"><i class="icon-download"></i>&nbsp; Download CSV</a>
<h1><br></h1>
</div>
{% endblock %}  


{% block extrascripts %}
<script>
$("#btn2").click(function(e) {

     //getting values of current time for generating the file name
     var dt = new Date();
     var day = dt.getDate();
     var month = dt.getMonth() + 1;
     var year = dt.getFullYear();
     var hour = dt.getHours();
     var mins = dt.getMinutes();
     var postfix = day + "." + month + "." + year + "_" + hour + "." + mins;
     //creating a temporary HTML link element (they support setting file names)
     var a = document.createElement('a');
     //getting data from our div that contains the HTML table
     var data_type = 'data:application/vnd.ms-excel';

     var table_div = document.getElementById('dvData1');
     
     var table_html = table_div.outerHTML.replace(/ /g, '%20');

     table_div = $("#dvData1").text();

     a.href = data_type + ', ' + table_html;
     //setting the file name
     a.download = 'exported_table_' + postfix + '.xls';
     //triggering the function
     a.click();
     // just in case, prevent default behaviour
     e.preventDefault();
 });
</script>
{% endblock extrascripts %}