{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block headertext %}
    <span>{% trans "Boutique Template" %}</span>
{% endblock %}

{% block dashboard_content %}

<form action="" method="post">
{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm" />
</form>

{% endblock %}