{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block favicon %}
            <link rel="shortcut icon" href={% static "favicon.ico" %} type="image/x-icon">
{% endblock %}
        
{% block headertext %}
    {% trans "Boutique" %}
{% endblock %}

{% block dashboard_content %}



<!-- Add button section start-->
<div class="page-header">
<a href="/dashboard/boutique/add/" class="btn btn-primary btn-large pull-right"><i class="icon-plus"></i> Create new Boutique</a>
<h1><br></h1>
</div>
<!-- Add button section end-->



<!-- Data table start-->
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Products
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Title <i class="icon-"></i></a></th>
         <th class="orderable sortable upc">Location <i class="icon-"></i></a></th>
         <th class="image">Logo</th>
         <th class="stock_records">Active</th>
         <th class="date_updated desc orderable sortable"><a href="{% url 'dashboard:list-template' %}">Template</a></th>
         <th class="actions">Actions</th>
      </tr>
   </thead>
   <tbody>
   {% for boutique in boutiques %}
      <tr class="odd">
         <td class="title"> <a href="/dashboard/boutique/details/{{boutique.id}}">{{boutique.name}}</a> </td>
         <td class="upc">{{boutique.location}}</td>
         <td class="image" > 
        {% thumbnail boutique.logo "100x100" crop="center" as image %}
         <img src="{{image.url}}" alt="Flying Machine Men White &amp; Blue Checked Smart Casual Shirt" data-description="">
        {% endthumbnail %}
         </td>
         <td class="stock_records">
            {{boutique.active}}
         </td>
         <td class="date_updated">{{boutique.template.name}}</td>
         <td class="actions">
            <div class="btn-toolbar">
               <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Actions
                  <span class="caret"></span> </a> 
                  <ul class="dropdown-menu pull-right">
                     <li> <a href="/dashboard/boutique/add_product/{{boutique.id}}">Add Product</a> </li>
                     <li> <a href="/dashboard/boutique/edit/{{boutique.id}}">Edit</a> </li>
                     <li> <a href="/dashboard/boutique/delete/{{boutique.id}}">Delete</a> </li>
                  </ul>
               </div>
            </div>
         </td>
      </tr>
  {% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Data table end-->




<!-- Category Section-->
<!-- Category Data table-->
<table class="table table-striped table-bordered">
   <caption>
      <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Category
      </h3>
   </caption>
   <thead>
      <tr>
         <th class="orderable sortable title">Category<i class="icon-"></i></th>
         <th class="actions">Actions</th>
      </tr>
   </thead>
   <tbody>
   {% for category in categorys %}
      
      <tr class="odd">
         <td class="title">{{category.name}}</td>

         <td class="actions">
            <div class="btn-toolbar">
               <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  Actions
                  <span class="caret"></span> </a> 
                  <ul class="dropdown-menu pull-right">
                     <li> <a href="javascript:editCategory('{{category.name}}', '{{category.id}}')">Edit</a> </li>
                     <li> <a href="{% url 'dashboard:delete-common-category' pk=category.id %}">Delete</a> </li>
                  </ul>
               </div>
            </div>
         </td>

      </tr>
  
   {% endfor %}
   </tbody>
   <tfoot></tfoot>
</table>
<!-- Category Data table-->


<!-- Edit Category Section-->
<div class="content-block" style="display:none;" id="edit_category">
   <span>Edit Category</span><br>
   <form action="{% url 'dashboard:edit-category' %}" method="POST">
   {% csrf_token %}
   <input type="hidden" value="" id="category_id" name="category_id">
   <input type="text" placeholder="Category" name="category_edit" id="category_name"><br>
   <input type="submit" value="Save category" class="btn btn-primary btn-medium">
   </form>
</div>
<!-- Edit Category Section-->


<!-- Add button section start-->
<div class="page-header">
<a href="javascript:addCategory()" class="btn btn-primary btn-large"><i class="icon-plus"></i> Add Category</a>
<h1><br></h1>
</div>
<!-- Add button section end-->

<!-- Add Category Section-->
<div class="content-block" style="display:none;" id="add_category">
   <span>Add Category</span><br>
   <form action="{% url 'dashboard:add-category' %}" method="POST">
   {% csrf_token %}
   <input type="text" placeholder="Category" name="category_add"><br>
   <input type="submit" value="Save Category" class="btn btn-primary btn-medium">
   </form>
</div>
<!-- Add Category Section-->
<!-- Category Data table -->

{% endblock %}


{% block extrascripts %}
<script>

function addCategory() {

   $("#add_category").show();
   window.location.hash = "#add_category"
}

function editCategory(name, id) {

   $("#edit_category").show();
   $("#category_id").val(id);
   $("#category_name").val(name);
   window.location.hash = "#edit_category"

}

</script>
{% endblock %}