{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block dashboard_content %}
    {% for product in products %}
    <a href="/dashboard/boutique/details_product{{product.id}}">
        <span>{{product}}</span>
    </a>
    <a href="/dashboard/boutique/edit_product/{{product.id}}"><input type="button" value="Edit" class="btn btn-primary"></a>
    <a href="/dashboard/boutique/delete_product/{{product.id}}"><input type="button" value="Delete" class="btn btn-primary"></a>
    <hr>
    {% endfor %}

    <a href="/dashboard/boutique/add/"><input type="button" value="add" class="btn btn-primary"></a>
{% endblock %}