{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block dashboard_content %}

<div class="form-group col-md-6">
  <label>Upload Images</label>
  <form action="/dashboard/boutique/upload/" class="dropzone" id="my-awesome-dropzone" style="min-height: 200px; max-width: 500px;" method="POST">
    {% csrf_token %}
    <div class="fallback">
      <input name="file" type="file" multiple="" accept="image/*"/>
    </div>
  </form>
</div>

{% if images %}
<div style="min-height: 200px; max-width: 600px;">

  {% for img in images %}
  <div class="img_single">
    <div>
      {% with img.image as image %}
      {% thumbnail image "80x100" format="PNG" crop="top" as image2 %}
      <img src="{{ image2.url }}" width="100px">
      {% endthumbnail %}

      {% endwith %}

    </div>
    <div><a href="/dashboard/boutique/delete_image/{{ img.id }}">Delete</a></div>
  </div>
  {% endfor %}

</div>

<div style="clear:both"></div>
<br />
<br />
<br />
{% endif %}

<form action="" method="post" enctype="multipart/form-data" class="col-md-8" >{% csrf_token %}
  {{ form.as_p }}

  {{ size_form.management_form }}


  <table class="table responsive table-striped table-bordered" style="max-width:300px;" id="id_stock_table">
   <caption>
    <h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Add Sizes for Product</h3>
  </caption>

  <tr>
    <th>Size</th>
    <th>Stock</th>
    <!-- <th>Add</th> -->
    <th>Delete</th>
  </tr>

  {% for form in size_form.forms %}
  <tr class="item">
    <td>{{ form.visible_fields.0 }} <p>{{ form.visible_fields.0.error }}</p></td>
    <td>{{ form.visible_fields.1 }} <p>{{ form.visible_fields.1.error }}</p></td>
    <!-- <td>{{ form.id }}<div style="color:green; cursor:pointer;" id="add">Add</div></td> -->
    <td>{{ form.id }}<div style="color:red; cursor:pointer;" class="delete" id="{{ form.id.value }}">Delete</div></td>
  </tr>

  {% endfor %}
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><div style="color:green; cursor:pointer;" id="add">Add</div></td>
  </tr>

</table>


<input type="submit" value="Save" />
</form>


{% endblock %}

{% block extrascripts %}
<!-- DROPZONE -->
<script type="text/javascript" src={% static "js/dropzone/dropzone.min.js" %}></script>

<script type="text/javascript">
  $(document).ready(function() {

    $("#id_discount").siblings('label').text("Discount: (Enter as precentage)");

  });
</script>

<script type="text/javascript">

  $(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/  
    function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+-)');
      var replacement = prefix + '-' + ndx + '-';
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
      var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms  
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
              $(forms.get(i)).children().children().each(function () {
                if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
              });
            }
        } // End if
        else {
          alert("You have to atleast add 1 item!");
        }
        return false;
      }

      function addForm(btn, prefix) {
       var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items 
        if (formCount < 10) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
              updateElementIndex(this, prefix, formCount);
              $(this).val("");
            });

            // Add an event handler for the delete item/form link 
            $(row).find(".delete").click(function () {
              return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
          alert("Sorry, you can only enter a maximum of ten items.");
        }
        return false;
      }
    // Register the click event handlers
    $("#add").click(function () {
      return addForm(this, "form");
    });

    $(".delete").click(function () {

      var val = $(this).attr('id');
      var status="0"; 
      var me = this;

      if(val != "None"){
        $.ajax({
          url: '/dashboard/boutique/delete_size/'+val,
          type: 'GET',
          dataType: '',
          success: function(data, textStatus, xhr) {
                //called when successful
                // return deleteForm(this, "form");
                status=data;

                if(status == "1"){
                  return deleteForm(me, "form");
                } else if(status == "-1"){
                  alert("Error Deleting Size");
                } else if(status == "-2"){
                  alert("Item Does not Exist");
                } else if(status == "0"){
                  alert("Error Deleting Size");
                }

              },
              error: function(xhr, textStatus, errorThrown) {
            //called when there is an error
            alert("Error: "+textStatus);
          }
        });

      } else {
        alert("Row could not be removed!");
      }


    });
});
</script>

{% endblock %}


{% block extrastyles %}

<!-- DROPZONE -->
<link rel="stylesheet" type="text/css" href={% static "js/dropzone/dropzone.min.css" %} />

<style type="text/css">
  .img_single{
    float: left;
  }
</style>

{% endblock %}

