{% extends 'dashboard/index.html' %}
{% load i18n %}
{% load staticfiles %}

{% block dashboard_content %}

<div class="form-group col-md-6">
	<label>Upload Images</label>
	<form action="/dashboard/boutique/upload/" class="dropzone" id="my-awesome-dropzone" style="min-height: 200px; max-width: 500px;" method="POST">
		{% csrf_token %}
		<div class="fallback">
			<input name="file" type="file" multiple="" accept="image/*"/>
		</div>
	</form>
</div>

<form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
	{{ form.as_p }}

<!--
<form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
	{{ image_form.as_p }}
<input type="submit" value="Update" />
</form>
-->
<!--
<form action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
	{{ size_form.as_p }}
<input type="submit" value="Update" />
</form>
-->

{{ size_form.management_form }}

{% for form in size_form.forms %}
<table class="table responsive table-striped table-bordered" style="max-width:300px;" id="id_stock_table">
	<caption>
		<h3 class="pull-left"> <i class="icon-sitemap icon-large"></i>Add Sizes for Product</h3>
	</caption>

	<tr>
		<th>Size</th>
		<th>Stock</th>
		<th>Add</th>
	</tr>

	<tr class="item">
		<td>{{ form.visible_fields.0 }} <p>{{ form.visible_fields.0.error }}</p></td>
		<td>{{ form.visible_fields.1 }} <p>{{ form.visible_fields.1.error }}</p></td>
		<!--
		<td><div style="color:green; cursor:pointer;" id="add" onclick="insRow()" >Add</div></td>
		<td><div style="color:red; cursor:pointer;" class="delete" onclick="deleteRow(this)">Delete</div></td>
  -->
    <td>{{ form.id }}<div style="color:red; cursor:pointer;" class="delete">Delete</div></td>
</tr>

<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><div style="color:green; cursor:pointer;" id="add">Add</div></td>
</tr>

</table>
{% endfor %}

<input type="submit" value="Save" />
</form>

{% endblock %}

{% block extrascripts %}
<!-- DROPZONE -->
<script type="text/javascript" src={% static "js/dropzone/dropzone.min.js" %}></script>

<script type="text/javascript">

    $(document).ready(function () {
    // Code adapted from http://djangosnippets.org/snippets/1389/  
    function updateElementIndex(el, prefix, ndx) {
    	var id_regex = new RegExp('(' + prefix + '-\\d+-)');
    	var replacement = prefix + '-' + ndx + '-';
    	if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
    		replacement));
    		if (el.id) el.id = el.id.replace(id_regex, replacement);
    	if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
    	var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    	if (formCount > 1) {
            // Delete the item/form
            $(btn).parents('.item').remove();
            var forms = $('.item'); // Get all the forms  
            // Update the total number of forms (1 less than before)
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            // Go through the forms and set their indices, names and IDs
            for (formCount = forms.length; i < formCount; i++) {
            	$(forms.get(i)).children().children().each(function () {
            		if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
            	});
            }
        } // End if
        else {
        	alert("You have to atleast add 1 item!");
        }
        return false;
    }

    function addForm(btn, prefix) {
    	var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 10 todo items 
        if (formCount < 10) {
            // Clone a form (without event handlers) from the first form
            var row = $(".item:first").clone(false).get(0);
            // Insert it after the last form
            $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

            // Remove the bits we don't want in the new row/form
            // e.g. error messages
            $(".errorlist", row).remove();
            $(row).children().removeClass("error");

            // Relabel or rename all the relevant bits
            $(row).children().children().each(function () {
            	updateElementIndex(this, prefix, formCount);
            	$(this).val("");
            });

            // Add an event handler for the delete item/form link 
            $(row).find(".delete").click(function () {
            	return deleteForm(this, prefix);
            });
            // Update the total form count
            $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
        } // End if
        else {
        	alert("Sorry, you can only enter a maximum of ten items.");
        }
        return false;
    }
    // Register the click event handlers
    $("#add").click(function () {
    	return addForm(this, "form");
    });

    $(".delete").click(function () {
    	return deleteForm(this, "form");
    });
});
</script>

{% endblock %}


{% block extrastyles %}

<!-- DROPZONE -->
<link rel="stylesheet" type="text/css" href={% static "js/dropzone/dropzone.min.css" %} />

{% endblock %}

