.profile-user {
    background: none repeat scroll 0 0 #cf1e75;
    border-radius: 0;
    height: 100%;
    padding: 0;
}
.profile-box {
    height: 600px;
}
.profile-name.address-email {
    color: #ffffff;
    font-size: 17px;
    padding: 1px;
}
.profile-name.address-email {
    color: #ffffff;
    font-size: 17px;
    padding: 1px;
}
.profile-name.address-profile {
    font-size: 16px;
    margin-top: 0;
    padding: 0;
}
.measure-box {
    background-color: #222222;
    height: 600px;
    overflow: auto;
}
#tab-content3 {
    display: block;
border: none;
}
#contactForm {
    margin: 0 auto;
    width: 70%;
}
.profile .tab-content
{
top: 0px !important;
}
#btn_edit{
	padding-top:10px;
}
.edit_btn{
	background:#333;
}
.edit_btn:hover{
	background:#666;
}
.box{
	padding:20px;
}
.box-head {
    background-color: #eee;
    padding:10px 20px;
	margin-bottom:10px;
}
.box-head h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
	color: #222;
}
.box-content {
    padding: 15px 20px;
	background-color: #fbfbfb;
}
.close{
	font-size:40px;
}
.pgs_head{
	margin-bottom:10px;
}
.first{
	width:50%;
	margin-left:50%;
}
.last{
	width:50%;
	margin-right:50%;
}
.clickimg{
	position:absolute;
	bottom: 5px;
    left: 50px;
}
#progress_images a.pg_img{
	cursor:pointer;
}
.visible_div{
	display:block;
}
.hidden_div{
	display:none;
}
.progress{
	border-radius:0px;
}
.prct_prvw_innr {
    border-right: 1px solid #d5d5d5;
    height: auto;
}
.prct_prvw_innr_hed {
    font-size: 20px;
    padding: 10px 0;
}
.prct_prvw_innr_cnt {
    border-top: 1px dashed #c1c1c1;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    overflow: auto;
    padding: 10px 0;
}
h1.headng{
	font-size:25px;
	color:#333;
	margin:0 0 10px 0;
}