body {
    font-family: 'Open Sans', sans-serif
}
h1,
h2,
h3,
h4,
h5,
h6,
dl.metadata dt,
.contact-form label,
.price-shop,
blockquote .bold-quote {
    font-family: 'Montserrat', sans-serif
}
h1 {
    font-size: 4em
}
h2 {
    font-size: 3.3em;
    line-height: 1em
}
h3 {
    font-size: 2.3em
}
h4 {
    font-size: 1.8em
}
h5,
blockquote .bold-quote {
    font-size: 1.3em
}
h6 {
    font-size: 1.1em
}
p {
    line-height: 1.6em
}
p:last-child {
    margin-bottom: 0
}
p.lead {
    font-size: 1.2em;
    margin-top:10px;
    font-weight: 400;
}
p.lead.x2 {
    font-size: 1.7em;
    font-weight: 200
}
p.lead:last-child {
    margin-bottom: 0
}
blockquote {
    padding: 20px
}
blockquote .bold-quote {
    padding-top: 0;
    margin-bottom: .5em
}
blockquote.theme {
    border: none
}
.upper {
    text-transform: uppercase
}
html,
body {
    width: 100%;
    height: 100%
}
body {
    overflow-x: hidden
}
body .page {
    position: relative;
    /*height: 100%*/
}
body.boxed-layout .page {
    height: auto;
    margin: 0 auto
}
body.boxed-layout .page .demo-1 .sl-slider-wrapper {
    height: 600px;
    overflow: hidden;
    position: relative
}
a {
    transition: all .5s ease 0s
}
a:active,
a:focus,
a:hover {
    text-decoration: none;
    outline: none
}
iframe {
    border: none
}
.lighter,
.darker {
    opacity: .8;
    filter: alpha(opacity=80)
}
.slide-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: table
}
.slide-container .slide-content {
    display: table-cell;
    vertical-align: middle;
    padding: 0%
}
.demo-1 .sl-slide .deco,
.demo-2 .sl-slide .deco {
    width: 200px;
    height: 200px;
    border: 0;
    border-radius: 0;
    margin: 0 0 20px;
    position: relative;
    left: auto;
    bottom: auto
}
.demo-1 .sl-slide .main-title,
.demo-2 .sl-slide .main-title {
    letter-spacing: 0;
    font-weight: 400;
    text-transform: none;
    font-size: 3.4em;
    text-shadow: none;
    margin-bottom: 20px;
    padding: 0;
    position: relative
}
.demo-1 .sl-slide blockquote,
.demo-2 .sl-slide blockquote {
    border: 0;
    height: auto;
    margin: 0;
    position: relative;
    font-size: 1em;
    padding: 0
}
.demo-1 .sl-slide blockquote p,
.demo-2 .sl-slide blockquote p {
    font-size: 2em;
    margin-bottom: 40px
}
.demo-1 .sl-slide blockquote p:before,
.demo-2 .sl-slide blockquote p:before {
    content: ""
}
.demo-1 .sl-slide .btn,
.demo-2 .sl-slide .btn {
    margin: 0 12px
}
.demo-2 .sl-slider h2 {
    font-size: 70px;
    padding-top: 0
}
.demo-2 .sl-slider blockquote {
    padding-top: 0;
    margin: auto
}
.video-background-content .section-shade {
    position: relative
}
.swiper-wrapper {
    height: auto!important
}
.swiper-slide {
    width: 380px
}
.owl-theme .owl-controls {
    margin-top: 25px
}
.owl-theme .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    opacity: .2;
    filter: alpha(opacity=20)
}
.owl-theme .owl-controls .owl-page.active span {
    opacity: .8;
    filter: alpha(opacity=80)
}
.page-title-line h1,
.page-title-line h2,
.page-title-line h3,
.page-title-line h4,
.page-title-line h5,
.page-title-line h6 {
    margin: 0
}
.page-title-line .order-content .order-title {
    margin: 0 20px 0 0
}
.page-title-line .filter-content {
    margin: 0 25px 0 0
}
.page-title-line .filter-content form .filter_price_content {
    float: left;
    width: 230px;
    margin: 0 20px 0 0
}
.page-title-line .filter-content form .filter_price_content .filter-title {
    margin: 0 0 4px
}
.filter-button {
    border-radius: 5px
}
#home {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0
}
.bordered-right {
    padding-right: 40px
}
.bordered-left {
    padding-left: 40px
}
.nav-arrows span {
    z-index: 2
}
.sl-slide-inner {
    background-position: 50% 50%
}
.sl-slide-horizontal .sl-slide-inner {
    background-size: cover!important
}
section {
    position: relative
}
.section-title .icon-box,
.section-title h1,
.section-title h2,
.section-title h3,
.section-title h4,
.section-title h5,
.section-title h6 {
    margin: 0 0 30px
}
.section-title .small-space {
    margin: 0 0 12px
}
.section-gray {
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .3)inset
}
.section-gray .indicator .indicator-line {
    background-color: transparent
}
.col-content {
    margin: 0 0 20px;
    padding: 10px 3px;
    font-size: 90%;
    text-align: center
}
.call-to-action .action-title {
    margin: 16px 0;
    padding: 0
}
.fading-title {
    overflow: hidden
}
.fading-title .section-title {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1
}
.parallax {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover
}
.filler {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0
}
hr.slim {
    margin: 0;
    padding: 0
}
.img-responsive {
    display: inline-block
}
.spinner {
    width: 100px
}
.spinner input {
    text-align: right
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell
}
.input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0
}
.input-group-btn-vertical>.btn:first-child {
    border-top-right-radius: 4px
}
.input-group-btn-vertical>.btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px
}
.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px
}
.sep-top-xs {
    padding-top: 1.5em
}
.sep-top-sm {
    padding-top: 2.2em
}
.sep-top-md {
    padding-top: 3em
}
.sep-top-lg {
    padding-top: 4.3em
}
.sep-top-2x {
    padding-top: 6.5em
}
.sep-top-3x {
    padding-top: 9.4em
}
.sep-top-4x {
    padding-top: 11.5em
}
.sep-top-5x {
    padding-top: 16em
}
.sep-bottom-xs {
    padding-bottom: 1.5em
}
.sep-bottom-sm {
    padding-bottom: 2.2em
}
.sep-bottom-md {
    padding-bottom: 3em
}
.sep-bottom-lg {
    padding-bottom: 4.3em
}
.sep-bottom-2x {
    padding-bottom: 6.5em
}
.sep-bottom-3x {
    padding-bottom: 9.4em
}
.sep-bottom-4x {
    padding-bottom: 11.5em
}
.sep-bottom-5x {
    padding-bottom: 16em
}
.no-padding {
    padding: 0
}
.no-margin,
.table {
    margin: 0
}
.table .evidence td {
    padding: 14px
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    vertical-align: middle
}
.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td {
    border-bottom-width: 1px
}
.table-condensed>thead>tr>th,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>tbody>tr>td,
.table-condensed>tfoot>tr>td {
    padding: 10px
}
#filters .btn {
    border-color: transparent;
    box-shadow: none;
    background: 0 0;
    font-weight: 600
}
#filters .btn:focus {
    outline: none
}
.button-group .btn {
    margin: 0 10px 0 0
}
.btn {
    padding: 10px 40px;
    border-radius: 40px;
    border: 2px solid
}
.btn-lg {
    padding: 12px 48px
}
.btn-sm {
    padding: 8px 25px
}
.btn-xs {
    padding: 5px 20px;
    font-size: .9em
}
.btn-link {
    border-color: transparent
}
.btn-group>.btn.btn-bordered:first-child {
    border-right: 0
}
.btn-group>.btn.btn-bordered:last-child {
    border-left: 0
}
.content-custom-button {
    padding: 25px
}
.bootstrap-touchspin .btn {
    padding: 6px 10px;
    font-size: 20px
}
.bootstrap-touchspin input.qty {
    height: 42px;
    width: 40px;
    text-align: center;
    box-shadow: none;
    border-width: 1px 0;
    padding: 0;
    font-size: 1.1em
}
.bootstrap-touchspin .input-group-addon,
.bootstrap-touchspin .input-group-btn {
    width: auto
}
.progress {
    height: 32px;
    box-shadow: none
}
.progress .progress-bar {
    text-align: left;
    /*padding: 0 0 0 13px;*/
    line-height: 32px;
    box-shadow: none
}
.progress.minimal {
    margin-bottom: 7px;
    background: 0 0
}
.indicator {
    position: relative;
    overflow: hidden;
    margin-top: 12px
}
.indicator .indicator-line {
    display: block;
    height: 10px;
    background-size: 9.99% 10px;
    background-position: 0 0
}
.indicator .middle {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center
}
.chart {
    position: relative;
    margin-bottom: 20px
}
.chart span {
    font-size: 5.9em;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: -62px 0 0
}
.chart span,
.chart b {
    font-weight: 300
}
.chart em {
    font-size: .3em;
    font-style: normal;
    vertical-align: middle
}
.timer {
    font-size: 4.5em;
    font-weight: 600
}
.timer-title {
    margin: 0
}
.accordion-group .accordion-item {
    position: relative;
    padding: 20px 0 20px 40px;
    border-radius: 0;
    box-shadow: none;
    margin: 0
}
.accordion-group .accordion-item .accordion-heading {
    font-size: 1.1em
}
.accordion-group .accordion-item .accordion-icon {
    border-radius: 20px;
    float: left;
    line-height: 23px;
    margin-left: -35px;
    margin-top: -2px;
    padding-top: 2px;
    text-align: center;
    width: 25px
}
.accordion-group .accordion-item .accordion-body {
    font-size: 13px
}
.accordion-group .accordion-item .accordion-body p {
    margin-top: 10px
}
.panel-group .panel,
.panel {
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin: 0
}
.panel-heading {
    padding: 18px;
    border-radius: 0;
    border: 0
}
.panel-heading a:focus {
    outline: none
}
.panel-heading a small {
    font-style: italic;
    text-transform: none;
    font-weight: 400;
    font-size: 80%;
    padding: 0 0 0 10px
}
.panel-heading a i {
    padding: 0 0 0 10px
}
.panel-naked {
    background: 0 0
}
.panel-naked .panel-heading {
    padding: 0
}
.panel-naked .panel-body {
    padding: 30px 0 0
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border: 0
}
.panel-body {
    padding: 30px
}
.navbar-header {
    z-index: 100
}
.navbar-header,
.yamm .dropdown {
    position: relative
}
.yamm .yamm-fw {
    position: static
}
.navbar {
    border: 0;
    margin: 0;
    transition: all .4s
}
.navbar .navbar-brand>img {
    transition: all .4s;
    max-height: 41px
}
.navbar .search_button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 6px;
    z-index: 1
}
.navbar .search_button:focus {
    outline: none
}
.navbar .search_button:after {
    position: absolute;
    top: -60px;
    right: -60px;
    height: 100px;
    width: 100px;
    content: '';
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1
}
.navbar .dropdown-submenu {
    position: relative
}
.navbar .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
    border-radius: 0
}
.navbar .dropdown-submenu:hover>.dropdown-menu {
    display: block
}
.navbar .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    margin-top: -4px;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 50%
}
.navbar .dropdown-submenu.pull-left {
    float: none
}
.navbar .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 0
}
.navbar .dropdown-menu {
    min-width: 220px;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    border-top: 6px solid transparent
}
.navbar .dropdown-menu>li {
    padding: 0 15px
}
.navbar .dropdown-menu>li>a {
    padding: 0 10px 0 0;
    font-size: .9em;
    line-height: 42px;
    text-transform: uppercase;
    position: relative
}
.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus {
    background: 0 0
}
.navbar .dropdown-menu>li:last-of-type {
    border: 0
}
.navbar .dropdown-menu.widget-box {
    padding: 20px;
    width: 280px
}
.navbar .dropdown-menu>.active>a,
.navbar .dropdown-menu>.active>a:hover,
.navbar .dropdown-menu>.active>a:focus {
    background: 0 0
}
.navbar-toggle {
    background: 0 0;
    border: 0;
    border-radius: 0;
    padding: 0;
    margin: 25px 20px 0;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s
}
.navbar-toggle:hover,
.navbar-toggle:focus {
    background: 0 0
}
.navbar-nav>li>a {
    line-height: 41px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
    padding: 12px 4px 15px;
    border-top: 3px solid transparent;
    background: 0 0
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:focus,
.nav .open>a:hover,
.nav .open>a:focus,
.nav .open>a {
    background: 0 0
}
.nav .open .dropdown-toggle:hover,
.nav .open .dropdown-toggle:focus,
.nav .open .dropdown-toggle {
    background-color: transparent;
    opacity: 1
}
.opaque .navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 8px
}
.opaque .navbar-brand {
    padding-top: 12px;
    padding-bottom: 12px
}
.opaque .navbar-brand>img {
    height: 33px
}
.opaque .navbar-toggle {
    margin-top: 20px
}
.navbar-collapse.collapse {
    border: none;
    display: block;
    position: fixed;
    z-index: 50;
    left: -100%;
    top: 0;
    bottom: 0;
    padding-top: 55px;
    width: 100%;
    max-height: none;
    transition: left .5s ease
}
.navbar-collapse.collapse.in {
    left: 15px
}
.shopping_cart_dropdown {
    text-align: right
}
.shopping_cart_dropdown .product_list_widget {
    padding: 0;
    margin: 0;
    list-style: none
}
.shopping_cart_dropdown .product_list_widget li {
    display: block;
    clear: both;
    overflow: hidden;
    margin: 0 0 13px;
    padding: 0 20px 13px 0;
    position: relative;
    line-height: 22px
}
.shopping_cart_dropdown .product_list_widget li .delete {
    position: absolute;
    top: 0;
    right: 0
}
.shopping_cart_dropdown .product_list_widget li a>img {
    display: block!important;
    float: left;
    max-width: 60px;
    padding: 0 17px 0 0
}
.shopping_cart_dropdown .product_list_widget li .quantity {
    display: block;
    margin-top: 0
}
.shopping_cart_dropdown .total {
    padding: 0 20px 0 0;
    display: block
}
.shopping_cart_dropdown .total h6 {
    margin-bottom: 0
}
.shopping_cart_dropdown .total span {
    font-size: 1.6em;
    line-height: 30px;
    font-weight: 600
}
.shopping_cart_dropdown .action-button .btn {
    margin: 15px 0 0 8px
}

.navbar-standard {
    background: 0 0
}
.navbar-standard .navbar-brand .logo-white {
    display: block
}
.navbar-standard .navbar-brand .logo-dark,
.navbar-standard.opaque .navbar-brand .logo-white {
    display: none
}
.navbar-standard.opaque .navbar-brand .logo-dark {
    display: block
}
.navbar-light .navbar-brand .logo-white {
    display: none
}
.navbar-light .navbar-brand .logo-dark,
.navbar-dark .navbar-brand .logo-white {
    display: block
}
.navbar-dark .navbar-brand .logo-dark {
    display: none
}
.navbar-semidark .navbar-brand .logo-white {
    display: block
}
.navbar-semidark .navbar-brand .logo-dark {
    display: none
}
.navbar-primary .navbar-brand .logo-white {
    display: block
}
.navbar-primary .navbar-brand .logo-dark {
    display: none
}
.icon-box {
    overflow: hidden
}
.icon-box h1,
.icon-box h2,
.icon-box h3,
.icon-box h4,
.icon-box h5,
.icon-box h6 {
    margin: 20px 0 15px
}
.icon-box.icon-lg .icon-content {
    width: 110px;
    height: 110px;
    line-height: 110px;
    font-size: 4.5em
}
.icon-box.icon-md .icon-content {
    width: 95px;
    height: 95px;
    line-height: 95px;
    font-size: 4em
}
.icon-box.icon-sm .icon-content {
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 3.2em
}
.icon-box.icon-xs .icon-content {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 1.7em
}
.icon-box.fixed-section {
    position: absolute;
    top: -40px
}
.icon-box .icon-content {
    display: block;
    float: left;
    text-align: center;
    max-width: 100%
}
.icon-box.icon-lg .icon-box-content {
    margin: 0 0 0 135px
}
.icon-box.icon-md .icon-box-content {
    margin: 0 0 0 120px
}
.icon-box.icon-sm .icon-box-content {
    margin: 0 0 0 100px
}
.icon-box.icon-xs .icon-box-content {
    margin: 0 0 0 65px
}
.icon-box.icon-xs .icon-box-content h1,
.icon-box.icon-xs .icon-box-content h2,
.icon-box.icon-xs .icon-box-content h3,
.icon-box.icon-xs .icon-box-content h4,
.icon-box.icon-xs .icon-box-content h5,
.icon-box.icon-xs .icon-box-content h6 {
    margin: 10px 0 15px
}
.icon-box.icon-xs .icon-box-content .info-title {
    margin: 10px 0 2px
}
.icon-box.icon-xs .icon-box-content p {
    margin: 0
}
.icon-box.icon-horizontal {
    text-align: center
}
.icon-box.icon-horizontal .icon-content {
    float: none;
    margin: auto;
    display: inline-block
}
.icon-box.icon-horizontal .icon-box-content {
    margin: 0
}
.icon-gradient:nth-child(2) h1,
.icon-gradient:nth-child(2) h2,
.icon-gradient:nth-child(2) h3,
.icon-gradient:nth-child(2) h4,
.icon-gradient:nth-child(2) h5,
.icon-gradient:nth-child(2) h6 {
    color: #98c7f1
}
.icon-gradient:nth-child(2) .icon-content {
    background-color: #98c7f1
}
.icon-gradient:nth-child(3) h1,
.icon-gradient:nth-child(3) h2,
.icon-gradient:nth-child(3) h3,
.icon-gradient:nth-child(3) h4,
.icon-gradient:nth-child(3) h5,
.icon-gradient:nth-child(3) h6 {
    color: #98a9f1
}
.icon-gradient:nth-child(3) .icon-content {
    background-color: #98a9f1
}
.icon-gradient:nth-child(4) h1,
.icon-gradient:nth-child(4) h2,
.icon-gradient:nth-child(4) h3,
.icon-gradient:nth-child(4) h4,
.icon-gradient:nth-child(4) h5,
.icon-gradient:nth-child(4) h6 {
    color: #a498f1
}
.icon-gradient:nth-child(4) .icon-content {
    background-color: #a498f1
}
.icon-gradient:nth-child(5) h1,
.icon-gradient:nth-child(5) h2,
.icon-gradient:nth-child(5) h3,
.icon-gradient:nth-child(5) h4,
.icon-gradient:nth-child(5) h5,
.icon-gradient:nth-child(5) h6 {
    color: #c298f1
}
.icon-gradient:nth-child(5) .icon-content {
    background-color: #c298f1
}
.icon-gradient:nth-child(6) h1,
.icon-gradient:nth-child(6) h2,
.icon-gradient:nth-child(6) h3,
.icon-gradient:nth-child(6) h4,
.icon-gradient:nth-child(6) h5,
.icon-gradient:nth-child(6) h6 {
    color: #df98f1
}
.icon-gradient:nth-child(6) .icon-content {
    background-color: #df98f1
}
.icon-gradient:nth-child(7) h1,
.icon-gradient:nth-child(7) h2,
.icon-gradient:nth-child(7) h3,
.icon-gradient:nth-child(7) h4,
.icon-gradient:nth-child(7) h5,
.icon-gradient:nth-child(7) h6 {
    color: #f198e5
}
.icon-gradient:nth-child(7) .icon-content {
    background-color: #f198e5
}
.icon-gradient:nth-child(8) h1,
.icon-gradient:nth-child(8) h2,
.icon-gradient:nth-child(8) h3,
.icon-gradient:nth-child(8) h4,
.icon-gradient:nth-child(8) h5,
.icon-gradient:nth-child(8) h6 {
    color: #f198c7
}
.icon-gradient:nth-child(8) .icon-content {
    background-color: #f198c7
}
.icon-gradient:nth-child(9) h1,
.icon-gradient:nth-child(9) h2,
.icon-gradient:nth-child(9) h3,
.icon-gradient:nth-child(9) h4,
.icon-gradient:nth-child(9) h5,
.icon-gradient:nth-child(9) h6 {
    color: #f198a9
}
.icon-gradient:nth-child(9) .icon-content {
    background-color: #f198a9
}
.icon-gradient:nth-child(10) h1,
.icon-gradient:nth-child(10) h2,
.icon-gradient:nth-child(10) h3,
.icon-gradient:nth-child(10) h4,
.icon-gradient:nth-child(10) h5,
.icon-gradient:nth-child(10) h6 {
    color: #f1a498
}
.icon-gradient:nth-child(10) .icon-content {
    background-color: #f1a498
}
.blog-preview .info-text {
    width: 30%;
    font-size: 1em;
    line-height: 2em;
    margin-top: 25px
}
.blog-preview .info-text small {
    display: block;
    font-size: 1em
}
.blog-preview .post-info {
    margin-bottom: 20px;
    position: relative
}
.blog-preview .post-info:before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%
}
.blog-preview .post-info .user-thumb {
    padding: 3px;
    position: relative;
    z-index: 1
}
.blog-preview .post-content {
    padding: 25px 25px 50px
}
article .post-title {
    margin: 0 0 10px
}
article .post-info ul {
    margin: 0;
    padding: 0;
    list-style: none
}
article .post-info ul li {
    display: inline-block;
    padding: 0 20px 0 0
}
.author-info {
    text-align: right
}
.author-info .post-author-link {
    float: right
}
.author-info .author-info-content {
    padding: 17px 90px 0 0
}
.author-info .author-info-content .author-name {
    margin: 0;
    padding: 0;
    display: block
}
.author-info.standard {
    text-align: left
}
.author-info.standard .post-author-link {
    float: left
}
.author-info.standard .post-author-link img {
    width: auto
}
.author-info.standard .author-info-content {
    padding: 10px 0 0 65px
}
.author-info.standard .author-info-content .author-name {
    margin: 0;
    padding: 0;
    display: block
}
#comments .media-heading {
    margin: 10px 0 0
}
#comments .media-body p {
    margin: 0;
    padding: 10px 0 0;
    font-size: .9em
}
.social-icon {
    padding-left: 0;
    margin: 0
}
.social-icon .btn-group.open .dropdown-toggle {
    box-shadow: none
}
.social-icon .dropdown-menu {
    margin: 7px 0 0
}
.social-icon .dropdown-menu li {
    padding: 0;
    display: block
}
.social-icon li {
    display: inline-block;
    padding: 0 20px 0 0
}
.social-icon li:last-of-type {
    padding: 0
}
.social-icon li .fa-lg {
    vertical-align: 0
}
.social-icon li.maxi a {
    padding: 2px 6px;
    border-radius: 4px
}
.social-icon a {
    display: inline-block
}
.social-icon a small {
    font-size: 80%
}
.social-icon a.pill {
    border-radius: 50%;
    text-align: center;
    padding: 15px;
    width: 50px
}
.blog-article .social-icon li {
    padding: 0 0 0 20px;
    margin: 5px 0 0
}
.info-card .info-card-details .info-card-detail .social a {
    border-radius: 40px;
    display: inline-block;
    margin: 0 5px;
    min-width: 40px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center
}
a.social-icon {
    box-shadow: 0 0 1px #333;
    box-shadow: 0 0 1px rgba(51, 51, 51, .7)
}
.device-content {
    margin-bottom: -120px
}
.device-content .device-mockup .device .screen .owl-carousel .owl-controls {
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0
}
.device-content .device-mockup .device .screen .owl-carousel .owl-item .item img {
    width: 100%
}
.owl-item .item .wrapper {
    padding: 20px
}
.article-body-content {
    position: relative;
    padding: 15px
}
.article-body-internal {
    padding: 15px 15px 0 0
}
.article-body-internal .article-wrapper,
.article-body-internal .item-wrapper {
    padding-left: 15px;
    padding-bottom: 15px
}
.portfolio {
    list-style: none;
    margin: 0;
    padding: 0
}
.portfolio .item {
    position: relative;
    display: block;
    overflow: hidden;
    float: left
}
.portfolio .item .item-wrapper {
    padding-left: 15px;
    padding-bottom: 15px;
    height: 100%
}
.portfolio .item .article-body {
    margin: 0 0 20px;
    padding-bottom: 19px
}
.portfolio .item .article-body .title-inner {
    margin: 0;
    padding: 0
}
.portfolio .item .mask {
    position: absolute;
    overflow: hidden;
    display: block;
    top: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: top .6s ease-out .3s
}
.portfolio .item .mask .mask-content {
    display: table;
    width: 100%;
    height: 100%
}
.portfolio .item .mask .mask-content .mask-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-left: 15px;
    padding-right: 20px
}
.portfolio .item .mask h4 {
    margin: 18px 0 8px;
    font-size: 1.5em
}
.portfolio .item .mask .info {
    display: inline-block;
    margin: 0 10px;
    opacity: .65;
    filter: alpha(opacity=65)
}
.portfolio .item .mask .info .fa-border {
    border-color: inherit;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border-width: 2px;
    font-size: 1.5em;
    line-height: 30px
}
.portfolio .item .mask a.info:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
}
.portfolio .item .mask.mask-light {
    top: auto;
    bottom: -100%;
    text-shadow: none;
    box-shadow: none;
    height: auto;
    min-height: 50%;
    padding: 10px 0;
    font-size: 90%;
    transition: bottom .2s ease-out .3s
}
.portfolio .item .mask-light h4 {
    font-size: 1.5em;
    margin: 10px 0
}
.portfolio .item .mask-light .info .fa-border {
    background: 0 0
}
.portfolio>.item {
    width: 25%
}
.portfolio>.item.width2x {
    width: 50%
}
.portfolio .item:hover .mask {
    top: 0
}
.portfolio .item:hover .mask-light {
    top: auto;
    bottom: 0
}
.portfolio>.team-item {
    height: auto
}
.portfolio>.team-item .item-wrapper {
    padding: 0 5% 40px;
    height: auto
}
.portfolio>.current {
    z-index: 100
}
.isotope:after {
    content: '';
    display: block;
    clear: both
}
dl.metadata {
    margin: 1em 0
}
dl.metadata dt {
    margin-top: 1.5em;
    font-size: 1.4em;
    font-weight: 400
}
.portfolio-full .item-full {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}
.portfolio-full .item-full .item-content {
    padding-left: 60px;
    padding-right: 60px
}
.closeProject {
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 1;
    display: none
}
.closeProject a {
    display: block;
    background: 0 0;
    border-radius: 50%;
    height: 45px;
    text-align: center;
    width: 45px
}
.closeProject a i {
    display: inline-table;
    font-size: 110%;
    line-height: 45px;
    vertical-align: middle
}
.ajax-section .loader {
    width: 100%;
    display: none;
    padding: 2.4em 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}
.ajax-section .loader.projectError {
    text-align: center;
    height: auto!important;
    background-position: top center
}
.ajax-section .loader.projectError p {
    display: none;
    padding-top: 16px
}
.ajax-section .ajax-content-outer {
    overflow: hidden
}
.ajax-section .ajax-content-outer .project-navigation {
    display: none
}
.ajax-section .ajax-content-outer .nextProject {
    position: absolute;
    top: 50%
}
.ajax-section .ajax-content-outer .prevProject {
    position: absolute;
    top: 50%;
    left: 55px
}
.ajax-section .ajax-content-outer .nextProject {
    right: 55px
}
.ajax-section .ajax-content-inner {
    height: 0;
    opacity: 0
}
.ajax-section .ajax-content-inner dl.metadata dt {
    font-size: 1.1em
}
.ajax-section .status-message {
    height: 0;
    opacity: 0;
    overflow: hidden
}
.ajax-section .status-message .alert {
    margin-top: 20px
}
.testimonials .user-thumb {
    margin: 0 10px;
    padding: 3px;
    position: relative;
    z-index: 1
}
.testimonials blockquote {
    border: none;
    margin: 0;
    padding: 10px 30px;
    font-style: italic;
    quotes: "\201C" "\201D"
}
.testimonials blockquote p {
    display: inline
}
.testimonials blockquote:before,
.testimonials blockquote:after {
    font-family: Georgia, serif;
    font-size: 4em;
    line-height: .1em
}
.testimonials blockquote:before {
    margin-right: .25em;
    vertical-align: -.4em;
    content: open-quote
}
.testimonials blockquote:after {
    margin-left: .15em;
    vertical-align: -.6em;
    content: close-quote
}
.testimonials .post-info {
    white-space: nowrap;
    padding-bottom: 1px
}
.testimonials .info-text {
    display: block;
    padding: 30px 0
}
.testimonials .info-text small,
.testimonials .info-text .small {
    display: block;
    font-size: 75%
}
.testimonials .info-text small:before,
.testimonials .info-text .small:before {
    content: "";
    display: block;
    height: 1px
}
.team-photo {
    position: relative;
    display: block
}
.team-photo .team-connection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all .3s ease-out .3s
}
.team-photo .team-connection .team-connection-list {
    width: 100%;
    height: 100%;
    display: table
}
.team-photo .team-connection .team-connection-list ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle
}
.team-photo .team-connection .team-connection-list ul li {
    display: inline-block;
    padding: 0 6px
}
.team-photo:hover .team-connection {
    opacity: 1
}
.team-name {
    padding: 0 0 15px;
    margin: 0 0 15px
}
.team-name h5 {
    margin: 0
}
.team-name span {
    font-size: 90%;
    display: block;
    margin: 5px 0 0
}
.pricing-table-1,
.pricing-table-2,
.pricing-table-3,
.pricing-table-4,
.pricing-table-5 {
    margin: 0 0 30px
}
.pricing-box {
    width: 100%;
    text-align: center;
    border: 0;
    position: relative
}
.pricing-box,
.pricing-box ul {
    margin: 0;
    padding: 0
}
.pricing-box ul li {
    list-style: none;
    margin: 0;
    padding: 13px 0
}
.pricing-box .title-row h5 {
    margin: 0
}
.pricing-box .price-row {
    font-weight: 200;
    padding: 20px 0
}
.pricing-box .price-row .currency {
    vertical-align: top;
    font-size: 1.5em
}
.pricing-box .price-row .price {
    font-size: 6.6em;
    font-weight: 300;
    line-height: .7em
}
.pricing-box .price-row .price-cent {
    margin: 0 0 0 -4px;
    font-size: 1.5em
}
.pricing-box .price-row .plane {
    display: block;
    font-size: 1.5em
}
.pricing-box .btn {
    margin-top: 20px
}
.banner-shop a {
    display: block;
    overflow: hidden;
    position: relative
}
.banner-shop a .banner-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}
.banner-shop a .banner-container .banner-content {
    width: 100%;
    height: 100%;
    display: table
}
.banner-shop a .banner-container .banner-text {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle
}
.banner-shop a .banner-container .banner-text .banner-title {
    margin: 0;
    padding: 15px 50px;
    display: inline-block
}
.rating-input i,
.rate i {
    padding: 0 4px 0 0
}
.rate i {
    cursor: pointer
}
.price-shop {
    font-size: 2em;
    line-height: 1.3em
}
.price-shop del {
    display: block;
    font-size: 1em
}
.price-shop ins {
    font-size: 1.4em;
    text-decoration: none
}
.bubble {
    position: relative
}
.bubble:before {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    content: '';
    box-sizing: border-box;
    transition-duration: .3s
}
.bubble:hover:before,
.bubble:focus:before,
.bubble:active:before {
    border-width: 10px
}
.outline-inward {
    position: relative;
    overflow: visible!important
}
.outline-inward:before {
    position: absolute;
    top: -25px;
    right: -25px;
    bottom: -25px;
    left: -25px;
    content: '';
    opacity: 0;
    transition-duration: .3s;
    transition-property: all
}
.outline-inward:hover:before,
.outline-inward:focus:before,
.outline-inward:active:before {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 1
}
.outline-outward {
    position: relative;
    overflow: visible!important
}
.outline-outward:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    content: '';
    transition-duration: .3s;
    transition-property: all
}
.outline-outward:hover:before,
.outline-outward:focus:before,
.outline-outward:active:before {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    opacity: 1
}
.shop-intro-img {
    margin-bottom: -120px
}
.product-image {
    position: relative;
    display: block
}
.product-image .bullet {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    position: absolute;
    top: -18px;
    right: -18px;
    border-radius: 50%;
    font-size: 1em
}
.product-image .bullet.out {
    font-size: 1em;
    line-height: 15px;
    padding-top: 18px
}
.product-image:hover img {
    opacity: .9;
    filter: alpha(opacity=90)
}
.product-title {
    margin-top: 15px
}
.product-title p {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0
}
.product-detail {
    margin-top: 18px
}
.product-detail a {
    font-size: .9em
}
.product-detail .price-shop {
    font-size: .9em;
    margin: 10px 0 0
}
.product-detail .price-shop del {
    margin: 0 4px 0 0;
    display: inline-block
}
.product-detail .price-shop.text-right del {
    margin: 0;
    display: block
}
.shop-info-link {
    margin: 0;
    padding-left: 0;
    list-style: none
}
.shop-info-link li {
    padding-left: 22px;
    padding-right: 22px;
    display: inline-block
}
.filter-prod {
    overflow: hidden
}
.shop-table .remove-button {
    margin: 0 15px 0 0
}
.shop-table .img-prod img {
    margin: 0 5px 0 0
}
.shop-table .name-prod {
    display: inline
}
.coupon-code {
    margin: 0 20px 0 0;
    width: 250px
}
.size-product {
    padding-left: 0;
    margin: 0 20px 15px 0;
    list-style: none;
    overflow: hidden;
    display: block
}
.size-product li {
    float: left;
    margin: 0 6px 0 0
}
.size-product li label span {
    width: 40px;
    height: 40px;
    line-height: 37px;
    text-align: center;
    display: block;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    transition: all .3s
}
.size-product li label input {
    position: absolute;
    left: -9000px
}
.color-product {
    max-width: 200px
}
.product-thumbnails {
    margin: 20px 0 0;
    overflow: hidden
}
.product-thumbnails a {
    display: block;
    float: left;
    margin: 0 10px 0 0;
    width: 70px
}
#rate-product .rate {
    margin: 5px 0 10px
}
#rate-product .media-heading {
    font-size: 1.2em
}
.main-product-title small {
    display: block
}
.product-category {
    list-style: none;
    padding-left: 0
}
.product-category li {
    margin: 5px 0 0
}
.product-category li h6 {
    display: inline;
    padding: 0 9px 0 0
}
.category-banner {
    position: relative;
    display: block
}
.category-banner .category-content {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
    padding: 10px 20px
}
.category-banner .category-content .category-title,
.widget-title {
    margin: 0
}
.widget-title-bordered {
    margin: 0 0 30px;
    padding: 0 0 20px
}
.widget {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: block;
    overflow: hidden
}
.widget .btn {
    border-radius: 4px
}
.widget.widget-media .media:last-of-type {
    margin: 0;
    padding: 0;
    border: 0
}
.widget.widget-media .media .media-object {
    max-width: 72px
}
.widget.widget-media.rounded .media-body {
    margin-top: 10px
}
.widget.widget-project {
    margin: 0 -9px -9px 0
}
.widget.widget-project li {
    width: 30%;
    float: left;
    margin: 0 9px 9px 0
}
.widget .media-bordered {
    padding-bottom: 15px;
    margin: 0 0 15px
}
.widget .media a {
    display: block;
    color: inherit
}
.widget .media .product-detail {
    margin: 0
}
.widget .media .product-detail .rate {
    margin: 8px 0 4px
}
.widget .media .product-detail .rate .fa {
    padding: 0 3px 0 0
}
.widget .cat-item {
    padding-bottom: 10px;
    margin-bottom: 10px
}
.widget .cat-item a {
    display: block
}
.widget .cat-item:last-of-type {
    padding: 0;
    margin: 0;
    border-bottom: 0
}
.filter_price_content .slider.slider.slider-horizontal {
    width: 100%
}
.filter_price_content .slider .slider-track .slider-handle {
    opacity: 1;
    filter: alpha(opacity=100);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3)
}
.filter_price_content .slider .slider-track .slider-selection {
    box-shadow: none
}
.twitter-post .post p {
    margin: 30px 30px 0;
    font-size: 2.4em
}
.form-control {
    box-shadow: none;
    border-radius: 0
}
.form-control:focus {
    box-shadow: none
}
.form-control.input-lg {
    resize: none;
    font-size: .9em
}
.form-control.rounded {
    border-radius: 4px
}
label {
    font-weight: 400
}
label.error {
    font-size: .9em;
    margin: 5px 0 0
}
.form-inline button {
    margin: 0 10px 0 0
}
.newsletter-form {
    position: relative
}
.newsletter-form input {
    border: 0;
    height: 72px;
    border-radius: 40px
}
.newsletter-form input.input-lg {
    font-size: 1.4em
}
.newsletter-form input:focus {
    box-shadow: none
}
.newsletter-form button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: 0 0
}
.h_search_form {
    overflow: hidden;
    height: 0
}
.h_search_form .h_search_form_wrapper {
    position: relative;
    padding: 10px 0
}
.h_search_form .btn {
    background: 0 0;
    border: none;
    padding-left: 12px;
    padding-right: 12px
}
.h_search_form .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none
}
.h_search_form .h_search_close {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 54px;
    z-index: 2
}
.theme-form-group {
    padding: 2px;
    border-radius: 30px;
    line-height: 42px
}
.theme-form-group .btn {
    padding-left: 12px;
    padding-right: 12px
}
.theme-form-group .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none
}
.theme-form-group .form-control:first-child,
.theme-form-group .input-group-addon:first-child,
.theme-form-group .input-group-btn:first-child>.btn,
.theme-form-group .input-group-btn:first-child>.dropdown-toggle {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px
}
.theme-form-group .form-control:last-child,
.theme-form-group .input-group-addon:last-child,
.theme-form-group .input-group-btn:last-child>.btn,
.theme-form-group .input-group-btn:last-child>.dropdown-toggle {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px
}
.pager {
    margin: 0
}
.pager li {
    padding: 0 3px
}
.pager li>a,
.pager li>span {
    padding: 0 10px;
    margin: 0;
    min-width: 36px;
    height: 36px;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 4px
}
.pager.circle li>a,
.pager.circle li>span {
    padding: 0;
    width: 36px;
    border-radius: 50%
}
.pager.custom li {
    display: inline-block;
    vertical-align: middle
}
.pager.custom li>a,
.pager.custom li>span {
    padding: 0 45px;
    border: 0;
    background: 0 0;
    height: auto;
    line-height: 1;
    width: auto;
    min-width: auto
}
#footer small {
    display: block;
    font-size: 90%
}
#footer .logo {
    max-height: 41px
}
#footer .widget-title {
    margin: 0
}
#footer ul {
    margin: 0;
    padding-left: 0;
    list-style: none
}
#footer .widget-post li {
    position: relative;
    padding: 0 0 20px 50px
}
#footer .widget-post li .date-post {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    display: block;
    padding: 7px;
    line-height: 13px
}
#footer .widget-post li .date-post small {
    display: block;
    font-size: 70%
}
#footer .widget-post li .title-post {
    display: block
}
#footer .widget-address li {
    position: relative;
    padding: 0 0 15px 32px
}
#footer .widget-address li i {
    position: absolute;
    top: 5px;
    left: 0;
    width: 25px;
    display: block;
    text-align: center
}
#footer .widget-tag {
    margin: 0 -5px -5px 0
}
#footer .widget-tag .btn {
    margin: 0 5px 5px 0;
    border-width: 1px
}
#footer .widget_archive li {
    margin: 0 0 10px;
    padding: 0 0 10px
}
#footer .widget_archive li:last-of-type {
    margin: 0;
    padding: 0;
    border-bottom: 0
}
#footer .flickr_container {
    margin: 0 -15px -15px 0
}
#footer .flickr_container .flickr_badge_image {
    float: left;
    margin: 0 15px 15px 0
}
#footer .flickr_container .flickr_badge_image a:hover {
    opacity: .6;
    filter: alpha(opacity=60)
}
#footer .form-control {
    font-size: .9em
}
#footer .form-control:focus {
    box-shadow: none
}
.error-404:before,
.error-500:before {
    font-size: 650px;
    font-weight: 700;
    left: -150px;
    position: absolute;
    top: -300px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    z-index: 0
}
.login{
        margin-top: 15px;
        padding: 10px;
        width: 225px;
}
/*.navbar-nav > li > a {
    height: 0px;
}*/
.left-side {
    float: left;
    /*margin-right: 111px;*/
}
.modal-body {
    /*padding-bottom: 121px;*/
}
.r-side img {
    padding-top: 22px;
    padding-left: 14px;
}
.sign {
    width: 33%;
}
.tab-con{
    padding: 3px !important;
}
.sign-in{
    margin: 0px !important;
}
.error-404:before {
    content: "404"
}
.right-content {
    padding-bottom: 100px;
    padding-top: 100px;
}
.left-content{
    width: 60%;
    float: left;
     border-right: 1px solid #d3d3d3;
     height: 294px;
}
.modal-header {
    border-bottom: 0px;}
.r-side > label {
    border: 1px solid #a31c4d;
    border-radius: 22px;
    color: #a31c4d;
    margin-left: 80px;
    padding: 6px;
}
.r-side {
    width: 98%;
}
.error-500:before {
    content: "500"
}
.stitching-tab > a {
    height: 47px !important;
}
#back_to_top {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 40px
}
#back_to_top a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    outline: none;
    border-radius: 50%;
    opacity: .5;
    filter: alpha(opacity=50)
}
#back_to_top a:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}
#load {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 99999
}
.browsehappy {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    padding: 30px;
    margin: 0;
    text-align: center
}
.browsehappy a {
    text-decoration: underline
}
.browsehappy a:hover {
    text-decoration: none
}
@media (min-width: 768px) {
    html.boxed-layout .page,
    body.boxed-layout .page {
        width: 768px
    }
}
@media (min-width: 992px) {
    html.boxed-layout .page,
    body.boxed-layout .page {
        width: 992px
    }
}
@media (min-width: 1200px) {
    html.boxed-layout .page,
    body.boxed-layout .page {
        width: 1200px
    }
}
@media (max-width: 480px) {
    .parallax {
        background-position: 0 0!important;
        background-size: cover!important
    }
    .demo-1 .sl-slide .deco,
    .demo-2 .sl-slide .deco {
        width: 5em;
        height: 5em
    }
    .demo-1 .sl-slide .main-title,
    .demo-2 .sl-slide .main-title {
        font-size: 1.5em;
        margin-bottom: 8px
    }
    .demo-1 .sl-slide h2,
    .demo-2 .sl-slide h2 {
        font-size: 1.5em
    }
    .demo-1 .sl-slide h3,
    .demo-2 .sl-slide h3 {
        font-size: 1.3em
    }
    .demo-1 .sl-slide p.lead.x2,
    .demo-2 .sl-slide p.lead.x2,
    .demo-1 .sl-slide blockquote,
    .demo-2 .sl-slide blockquote {
        font-size: 1em
    }
    .demo-1 .sl-slide blockquote p,
    .demo-2 .sl-slide blockquote p {
        width: 90%;
        font-size: 1em;
        margin-bottom: 25px
    }
    .portfolio>.item,
    .portfolio>.item.width2x,
    .portfolio-padding>.item,
    .portfolio-padding>.item.width2x {
        width: 100%
    }
    #back_to_top a {
        font-size: 1em;
        width: 30px;
        height: 30px;
        line-height: 30px
    }
}
@media (max-width: 767px) {
    html,
    body,
    .text-right,
    .text-left {
        text-align: center
    }
    h1 {
        font-size: 2.5em
    }
    h2 {
        font-size: 1.9em
    }
    h3 {
        font-size: 1.7em
    }
    h4 {
        font-size: 1.5em
    }
    h5 {
        font-size: 1.3em
    }
    h6 {
        font-size: 1.1em
    }
    table .radio {
        padding-left: 0
    }
    table .radio img {
        display: block;
        margin: auto
    }
    .pull-right,
    .pull-left {
        float: none!important
    }
    .bordered-right,
    .bordered-left {
        border-left: 0;
        border-right: 0;
        padding-left: 0;
        padding-right: 0
    }
    .accordion-group {
        text-align: left
    }
    .sep-top-xs {
        padding-top: 1em
    }
    .sep-top-sm {
        padding-top: 1.3em
    }
    .sep-top-md {
        padding-top: 2em
    }
    .sep-top-lg {
        padding-top: 2.6em
    }
    .sep-top-2x {
        padding-top: 4.5em
    }
    .sep-top-3x {
        padding-top: 5em
    }
    .sep-top-4x {
        padding-top: 6em
    }
    .sep-top-5x {
        padding-top: 8em
    }
    .sep-bottom-xs {
        padding-bottom: 1em
    }
    .sep-bottom-sm {
        padding-bottom: 1.3em
    }
    .sep-bottom-md {
        padding-bottom: 2em
    }
    .sep-bottom-lg {
        padding-bottom: 2.6em
    }
    .sep-bottom-2x {
        padding-bottom: 4.5em
    }
    .sep-bottom-3x {
        padding-bottom: 5em
    }
    .sep-bottom-4x {
        padding-bottom: 6em
    }
    .sep-bottom-5x {
        padding-bottom: 8em
    }
    .navbar-header {
        text-align: center;
        z-index: 0
    }
    .navbar-header .navbar-brand {
        float: none;
        display: inline-block
    }
    .navbar .service-nav .dropdown-menu.widget-box {
        width: 100%;
        padding: 20px
    }
    .navbar .service-nav .dropdown-menu.widget-box .btn-xs {
        font-size: .8em;
        padding: 4px 14px
    }
    .media>.pull-left {
        margin: 0
    }
    .media>.pull-left .media-object {
        margin: auto auto 15px
    }
    .opaque .navbar-nav,
    .navbar-nav {
        margin: 0;
        padding: 0 10px;
        text-align: left
    }
    .opaque .navbar-nav>li>a,
    .navbar-nav>li>a {
        padding: 0;
        border: 0
    }
    .yamm .yamm-content {
        padding: 0
    }
    .yamm .yamm-content .widget {
        padding: 0!important
    }
    .yamm .yamm-content .widget .cat-item {
        padding: 0;
        margin: 0;
        border: 0
    }
    .navbar-nav .open .dropdown-menu {
        padding: 0 0 0 20px
    }
    .navbar .dropdown-menu>li,
    .navbar-nav .open .dropdown-menu>li>a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 0
    }
    .navbar-nav>li>a,
    .navbar-nav .open .dropdown-menu>li>a,
    .yamm-content .widget .cat-item a {
        font-size: .9em;
        line-height: 45px
    }
    .navbar-collapse.collapse .navbar-toggle,
    .navbar-collapse.collapse .opaque .navbar-toggle {
        padding: 0;
        margin: 25px
    }
    .radio input[type="radio"],
    .radio-inline input[type="radio"],
    .checkbox input[type="checkbox"],
    .checkbox-inline input[type="checkbox"] {
        float: none;
        margin: 0;
        padding: 0
    }
    .h_search_form .h_search_close {
        right: 30px
    }
    .demo-1 .sl-slide .btn,
    .demo-2 .sl-slide .btn,
    .header-section .btn {
        margin: 0 3px 3px;
        padding: 5px 16px;
        font-size: 12px
    }
    .nav-arrows span {
        border: 1px solid rgba(255, 255, 255, .4);
        width: 25px;
        height: 25px;
        margin-top: -13px
    }
    .device-content {
        margin-bottom: 20px
    }
    .icon-box .icon-content {
        margin: auto;
        float: none
    }
    .icon-box.icon-lg .icon-box-content,
    .icon-box.icon-md .icon-box-content,
    .icon-box.icon-sm .icon-box-content,
    .icon-box.icon-xs .icon-box-content {
        margin-left: 0
    }
    .page-title-line .filter-content {
        margin: 30px 0 0
    }
    .page-title-line .filter-content form .filter_price_content {
        float: left;
        width: 100%;
        margin: 0
    }
    .page-title-line .filter-content form .filter_price_content .filter-title {
        margin: 0 0 4px
    }
    .shop-intro-img {
        margin-bottom: -50px
    }
    .product-image {
        overflow: hidden
    }
    .product-image .sale {
        border-top-right-radius: 0;
        top: -5px;
        right: -5px
    }
    .product-detail .price-shop {
        font-size: 1.2em;
        margin-bottom: 20px
    }
    .shop-info-link li {
        padding-left: 0;
        padding-right: 0;
        display: block
    }
    .banner-shop a .banner-container .banner-text .banner-title {
        margin: 0;
        padding: 5px 10px;
        display: inline-block;
        max-width: 80%;
        font-size: 1.2em
    }
    .product-thumbnails a {
        width: 51px
    }
    .rate small {
        display: block;
        margin: 10px 0 0
    }
    .size-product {
        margin-right: 0
    }
    .size-product li {
        display: inline-block;
        margin: 0 6px;
        float: none
    }
    .color-product {
        max-width: 100%;
        text-align: center
    }
    .input-group {
        margin: auto
    }
    .coupon-code {
        width: 100%;
        margin: 0 0 20px
    }
    .panel-heading {
        padding: 10px
    }
    .panel-heading a small {
        display: block;
        margin: 5px 0 0
    }
    #filters .btn {
        padding: 4px 13px
    }
    .author-info {
        text-align: center
    }
    .author-info .post-author-link {
        float: none
    }
    .author-info .author-info-content {
        padding: 10px 0
    }
    .post-info .social-icon,
    article .post-info ul {
        padding: 0 0 20px
    }
    .author-info.standard {
        text-align: center
    }
    .author-info.standard .post-author-link {
        float: none
    }
    .author-info.standard .author-info-content {
        padding: 10px 0 20px
    }
    .twitter-post .post p {
        margin: 20px 20px 0;
        font-size: 1.2em
    }
    .pricing-table-1,
    .pricing-table-2,
    .pricing-table-3,
    .pricing-table-4,
    .pricing-table-5 {
        width: 100%
    }
    .pricing-featured {
        margin: 0
    }
    .team-name {
        margin-top: 30px
    }
    .indicator .pull-left {
        float: left!important
    }
    .indicator .pull-right {
        float: right!important
    }
    .portfolio-full .item-full .item-content {
        padding-left: 20px;
        padding-right: 20px
    }
    .pager.custom li>a,
    .pager.custom li>span {
        padding: 0 15px
    }
    #footer .widget-post li {
        padding-left: 0
    }
    #footer .widget-post li .date-post {
        position: relative;
        margin: 13px 0 7px;
        display: inline-block
    }
    #footer .widget-address li {
        padding-left: 0
    }
    #footer .widget-address li i {
        display: inline-block;
        position: relative;
        text-align: center;
        top: auto;
        width: auto
    }
    #map-canvas {
        height: 350px!important;
        margin: 0 25px 25px
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    .demo-1 .sl-slide .deco,
    .demo-2 .sl-slide .deco {
        width: 120px;
        height: 120px
    }
    .demo-1 .sl-slide .main-title,
    .demo-2 .sl-slide .main-title {
        font-size: 1.5em;
        margin-bottom: 8px
    }
    .demo-1 .sl-slide h2,
    .demo-2 .sl-slide h2 {
        font-size: 2.5em
    }
    .demo-1 .sl-slide h3,
    .demo-2 .sl-slide h3 {
        font-size: 1.5em
    }
    .demo-1 .sl-slide p.lead.x2,
    .demo-2 .sl-slide p.lead.x2 {
        font-size: 1em
    }
    .demo-1 .sl-slide blockquote,
    .demo-2 .sl-slide blockquote {
        margin-bottom: 0
    }
    .demo-1 .sl-slide blockquote p,
    .demo-2 .sl-slide blockquote p {
        width: 90%;
        font-size: 1.6em;
        margin-bottom: 15px
    }
    .portfolio>.item {
        width: 49.99%
    }
    .portfolio>.item.width2x {
        width: 99.99%
    }
    .portfolio-padding>.item,
    .portfolio-padding>.item.width2x {
        width: 49.99%
    }
}
@media (min-width: 768px) {
    .navbar-collapse.collapse {
        width: auto;
        background: 0 0;
        position: relative;
        left: auto;
        top: auto;
        padding: 0
    }
    .pricing-table-5 {
        width: 33.333%
    }
    .pricing-table-4 {
        width: 49.999%
    }
    .pricing-table-3 {
        width: 33.333%
    }
    .pricing-table-2 {
        width: 50%
    }
    .pager li.hidden-xs {
        display: inline!important
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .portfolio>.item,
    .portfolio-padding>.item {
        width: 33.299%
    }
    .portfolio>.item.width2x,
    .portfolio-padding>.item.width2x {
        width: 66.599%
    }
    .device-content {
        margin-bottom: 0
    }
}
@media (min-width: 992px) {
    .navbar-nav>li>a {
        font-size: .9em;
        padding-left: 10px;
        padding-right: 10px
    }
    .pricing-table-1,
    .pricing-table-2,
    .pricing-table-3,
    .pricing-table-4,
    .pricing-table-5 {
        margin: 0
    }
    .pricing-featured {
        z-index: 5;
        margin-top: -40px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, .5)
    }
    .pricing-table-5 {
        width: 20%
    }
    .pricing-table-4 {
        width: 25%
    }
    .pricing-table-3 {
        width: 33.3333%
    }
    .pricing-table-2 {
        width: 50%
    }
    .icon-box.icon-inverted .icon-content {
        float: right
    }
    .icon-box.icon-inverted .icon-box-content {
        text-align: right
    }
    .icon-box.icon-inverted.icon-lg .icon-box-content {
        margin: 0 135px 0 0
    }
    .icon-box.icon-inverted.icon-md .icon-box-content {
        margin: 0 120px 0 0
    }
    .icon-box.icon-inverted.icon-sm .icon-box-content {
        margin: 0 100px 0 0
    }
    .icon-box.icon-inverted.icon-xs .icon-box-content {
        margin: 0 65px 0 0
    }
}
@media (min-width: 1200px) {
    .portfolio>.item,
    .portfolio-padding>.item {
        width: 24.99%
    }
    .portfolio>.item.width2x,
    .portfolio-padding>.item.width2x {
        width: 49.99%
    }
    .boxed-layout .portfolio>.item,
    .container .portfolio>.item,
    .boxed-layout .portfolio-padding>.item,
    .container .portfolio-padding>.item {
        width: 33.299%
    }
    .boxed-layout .portfolio>.item.width2x,
    .container .portfolio>.item.width2x,
    .boxed-layout .portfolio-padding>.item.width2x,
    .container .portfolio-padding>.item.width2x {
        width: 66.599%
    }
    .page-title-line .filter-content {
        margin: 0 45px 0 0
    }
}
