body { color: #909090 }
body.boxed-layout .page { background-color: #fff }
a { color: #909090 }
a:active,
a:focus,
a:hover,
a.light:hover,
a.dark:hover { color: #CF1E75 }
.text-primary,
.text-primary:hover { color: #CF1E75 }
h1,
h2,
h3,
h4,
h5,
h6,
.contact-form label,
dl.metadata dt { color: #222 }
.light,
.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6,
.light .contact-form label,
.light p { color: #fff }
.dark,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .contact-form label,
.dark p { color: #222 }
.primary,
.primary h1,
.primary h2,
.primary h3,
.primary h4,
.primary h5,
.primary h6,
.primary .h1,
.primary .h2,
.primary .h3,
.primary .h4,
.primary .h5,
.primary .h6,
.primary .contact-form label,
.primary p { color: #CF1E75 }
.label-primary,
.bg-primary { background: #CF1E75 }
::-moz-selection {
    background: #CF1E75;
    color: #fff;
    background: #CF1E75;
    color: #fff;
}
::selection,
::-moz-selection {
    background: #CF1E75;
    color: #fff;
}
p strong { color: #222 }
.demo-1 .sl-slide .sl-slide-inner,
.demo-2 .sl-slide .sl-slide-inner {
    background-repeat: no-repeat;
    background-size: cover;
}
.demo-1 .sl-slide .main-title,
.demo-2 .sl-slide .main-title,
.demo-1 .sl-slide blockquote p,
.demo-2 .sl-slide blockquote p { color: #fff }
.owl-theme .owl-controls .owl-page span { background: #222 }
.owl-theme.pagination-light .owl-page span { background: #fff }
.section-title span { color: #CF1E75 }
.section-gray { background-color: #eee }
.section-gray .indicator .indicator-line {
    border-top: 1px solid #ddd;
    background-image: linear-gradient(90deg,#ddd 1px,transparent 1px);
}
.section-shade {
    background-image: linear-gradient(to bottom,transparent 0,#000 130%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#ff000000', GradientType=0);
}
.parallax { background-color: #CF1E75 }
.rating-input i,
.rate i { color: #CF1E75 }
.home .rate small{display: block;}
.price-shop ins { color: #222 }
.table .evidence td {
    background: #CF1E75;
    color: #fff;
}
.table .evidence td h5 { color: #fff }
.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td { border-color: #eee }
.bootstrap-touchspin .btn {
    border: 1px solid #eee;
    color: #909090;
    background: 0 0;
}
.bootstrap-touchspin .btn:hover {
    color: #222;
    background: 0 0;
}
.bootstrap-touchspin input.qty {
    border: 1px solid #eee;
    background: #fff;
}
.bootstrap-touchspin input.qty:focus { color: #909090 }
#filters .btn { color: #909090 }
#filters.light .btn { color: #fff }
#filters .btn-light,
.btn-light {
    color: #222;
    background-color: #fff;
    border-color: #fff;
}
#filters .btn-light:hover,
.btn-light:hover,
#filters .btn-light:focus,
.btn-light:focus,
#filters .btn-light:active,
.btn-light:active,
#filters .btn-light.active,
.btn-light.active,
.open .dropdown-toggle#filters .btn-light,
.open .dropdown-toggle.btn-light {
    color: #222;
    background-color: #ebebeb;
    border-color: #ebebeb;
    box-shadow: none;
}
#filters .btn-light:active,
.btn-light:active,
#filters .btn-light.active,
.btn-light.active,
.open .dropdown-toggle#filters .btn-light,
.open .dropdown-toggle.btn-light { background-image: none }
#filters .btn-light.disabled,
.btn-light.disabled,
#filters .btn-light[disabled],
.btn-light[disabled],
fieldset[disabled] #filters .btn-light,
fieldset[disabled] .btn-light,
#filters .btn-light.disabled:hover,
.btn-light.disabled:hover,
#filters .btn-light[disabled]:hover,
.btn-light[disabled]:hover,
fieldset[disabled] #filters .btn-light:hover,
fieldset[disabled] .btn-light:hover,
#filters .btn-light.disabled:focus,
.btn-light.disabled:focus,
#filters .btn-light[disabled]:focus,
.btn-light[disabled]:focus,
fieldset[disabled] #filters .btn-light:focus,
fieldset[disabled] .btn-light:focus,
#filters .btn-light.disabled:active,
.btn-light.disabled:active,
#filters .btn-light[disabled]:active,
.btn-light[disabled]:active,
fieldset[disabled] #filters .btn-light:active,
fieldset[disabled] .btn-light:active,
#filters .btn-light.disabled.active,
.btn-light.disabled.active,
#filters .btn-light[disabled].active,
.btn-light[disabled].active,
fieldset[disabled] #filters .btn-light.active,
fieldset[disabled] .btn-light.active {
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
}
#filters .btn-light .badge,
.btn-light .badge {
    color: #fff;
    background-color: #fff;
}
#filters .btn-light.btn-bordered,
.btn-light.btn-bordered {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
#filters .btn-light.btn-bordered:hover,
.btn-light.btn-bordered:hover,
#filters .btn-light.btn-bordered:focus,
.btn-light.btn-bordered:focus,
#filters .btn-light.btn-bordered:active,
.btn-light.btn-bordered:active,
#filters .btn-light.btn-bordered.active,
.btn-light.btn-bordered.active,
.open .dropdown-toggle#filters .btn-light.btn-bordered,
.open .dropdown-toggle.btn-light.btn-bordered {
    color: #e6e6e6;
    background-color: rgba(0,0,0,0);
    border-color: #ebebeb;
    box-shadow: none;
}
#filters .btn-light.btn-bordered:active,
.btn-light.btn-bordered:active,
#filters .btn-light.btn-bordered.active,
.btn-light.btn-bordered.active,
.open .dropdown-toggle#filters .btn-light.btn-bordered,
.open .dropdown-toggle.btn-light.btn-bordered { background-image: none }
#filters .btn-light.btn-bordered.disabled,
.btn-light.btn-bordered.disabled,
#filters .btn-light.btn-bordered[disabled],
.btn-light.btn-bordered[disabled],
fieldset[disabled] #filters .btn-light.btn-bordered,
fieldset[disabled] .btn-light.btn-bordered,
#filters .btn-light.btn-bordered.disabled:hover,
.btn-light.btn-bordered.disabled:hover,
#filters .btn-light.btn-bordered[disabled]:hover,
.btn-light.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-light.btn-bordered:hover,
fieldset[disabled] .btn-light.btn-bordered:hover,
#filters .btn-light.btn-bordered.disabled:focus,
.btn-light.btn-bordered.disabled:focus,
#filters .btn-light.btn-bordered[disabled]:focus,
.btn-light.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-light.btn-bordered:focus,
fieldset[disabled] .btn-light.btn-bordered:focus,
#filters .btn-light.btn-bordered.disabled:active,
.btn-light.btn-bordered.disabled:active,
#filters .btn-light.btn-bordered[disabled]:active,
.btn-light.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-light.btn-bordered:active,
fieldset[disabled] .btn-light.btn-bordered:active,
#filters .btn-light.btn-bordered.disabled.active,
.btn-light.btn-bordered.disabled.active,
#filters .btn-light.btn-bordered[disabled].active,
.btn-light.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-light.btn-bordered.active,
fieldset[disabled] .btn-light.btn-bordered.active {
    background-color: transparent;
    border-color: #fff;
    box-shadow: none;
}
#filters .btn-light.btn-bordered .badge,
.btn-light.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-light.btn-muted,
.btn-light.btn-muted {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
#filters .btn-light.btn-muted:hover,
.btn-light.btn-muted:hover,
#filters .btn-light.btn-muted:focus,
.btn-light.btn-muted:focus,
#filters .btn-light.btn-muted:active,
.btn-light.btn-muted:active,
#filters .btn-light.btn-muted.active,
.btn-light.btn-muted.active,
.open .dropdown-toggle#filters .btn-light.btn-muted,
.open .dropdown-toggle.btn-light.btn-muted {
    color: #e6e6e6;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    box-shadow: none;
}
#filters .btn-light.btn-muted:active,
.btn-light.btn-muted:active,
#filters .btn-light.btn-muted.active,
.btn-light.btn-muted.active,
.open .dropdown-toggle#filters .btn-light.btn-muted,
.open .dropdown-toggle.btn-light.btn-muted { background-image: none }
#filters .btn-light.btn-muted.disabled,
.btn-light.btn-muted.disabled,
#filters .btn-light.btn-muted[disabled],
.btn-light.btn-muted[disabled],
fieldset[disabled] #filters .btn-light.btn-muted,
fieldset[disabled] .btn-light.btn-muted,
#filters .btn-light.btn-muted.disabled:hover,
.btn-light.btn-muted.disabled:hover,
#filters .btn-light.btn-muted[disabled]:hover,
.btn-light.btn-muted[disabled]:hover,
fieldset[disabled] #filters .btn-light.btn-muted:hover,
fieldset[disabled] .btn-light.btn-muted:hover,
#filters .btn-light.btn-muted.disabled:focus,
.btn-light.btn-muted.disabled:focus,
#filters .btn-light.btn-muted[disabled]:focus,
.btn-light.btn-muted[disabled]:focus,
fieldset[disabled] #filters .btn-light.btn-muted:focus,
fieldset[disabled] .btn-light.btn-muted:focus,
#filters .btn-light.btn-muted.disabled:active,
.btn-light.btn-muted.disabled:active,
#filters .btn-light.btn-muted[disabled]:active,
.btn-light.btn-muted[disabled]:active,
fieldset[disabled] #filters .btn-light.btn-muted:active,
fieldset[disabled] .btn-light.btn-muted:active,
#filters .btn-light.btn-muted.disabled.active,
.btn-light.btn-muted.disabled.active,
#filters .btn-light.btn-muted[disabled].active,
.btn-light.btn-muted[disabled].active,
fieldset[disabled] #filters .btn-light.btn-muted.active,
fieldset[disabled] .btn-light.btn-muted.active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
#filters .btn-light.btn-muted .badge,
.btn-light.btn-muted .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-dark,
.btn-dark {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
#filters .btn-dark:hover,
.btn-dark:hover,
#filters .btn-dark:focus,
.btn-dark:focus,
#filters .btn-dark:active,
.btn-dark:active,
#filters .btn-dark.active,
.btn-dark.active,
.open .dropdown-toggle#filters .btn-dark,
.open .dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #0e0e0e;
    border-color: #0e0e0e;
    box-shadow: none;
}
#filters .btn-dark:active,
.btn-dark:active,
#filters .btn-dark.active,
.btn-dark.active,
.open .dropdown-toggle#filters .btn-dark,
.open .dropdown-toggle.btn-dark { background-image: none }
#filters .btn-dark.disabled,
.btn-dark.disabled,
#filters .btn-dark[disabled],
.btn-dark[disabled],
fieldset[disabled] #filters .btn-dark,
fieldset[disabled] .btn-dark,
#filters .btn-dark.disabled:hover,
.btn-dark.disabled:hover,
#filters .btn-dark[disabled]:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] #filters .btn-dark:hover,
fieldset[disabled] .btn-dark:hover,
#filters .btn-dark.disabled:focus,
.btn-dark.disabled:focus,
#filters .btn-dark[disabled]:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] #filters .btn-dark:focus,
fieldset[disabled] .btn-dark:focus,
#filters .btn-dark.disabled:active,
.btn-dark.disabled:active,
#filters .btn-dark[disabled]:active,
.btn-dark[disabled]:active,
fieldset[disabled] #filters .btn-dark:active,
fieldset[disabled] .btn-dark:active,
#filters .btn-dark.disabled.active,
.btn-dark.disabled.active,
#filters .btn-dark[disabled].active,
.btn-dark[disabled].active,
fieldset[disabled] #filters .btn-dark.active,
fieldset[disabled] .btn-dark.active {
    background-color: #222;
    border-color: #222;
    box-shadow: none;
}
#filters .btn-dark .badge,
.btn-dark .badge {
    color: #222;
    background-color: #fff;
}
#filters .btn-dark.btn-bordered,
.btn-dark.btn-bordered {
    color: #222;
    background-color: transparent;
    border-color: #222;
}
#filters .btn-dark.btn-bordered:hover,
.btn-dark.btn-bordered:hover,
#filters .btn-dark.btn-bordered:focus,
.btn-dark.btn-bordered:focus,
#filters .btn-dark.btn-bordered:active,
.btn-dark.btn-bordered:active,
#filters .btn-dark.btn-bordered.active,
.btn-dark.btn-bordered.active,
.open .dropdown-toggle#filters .btn-dark.btn-bordered,
.open .dropdown-toggle.btn-dark.btn-bordered {
    color: #090909;
    background-color: rgba(0,0,0,0);
    border-color: #0e0e0e;
    box-shadow: none;
}
#filters .btn-dark.btn-bordered:active,
.btn-dark.btn-bordered:active,
#filters .btn-dark.btn-bordered.active,
.btn-dark.btn-bordered.active,
.open .dropdown-toggle#filters .btn-dark.btn-bordered,
.open .dropdown-toggle.btn-dark.btn-bordered { background-image: none }
#filters .btn-dark.btn-bordered.disabled,
.btn-dark.btn-bordered.disabled,
#filters .btn-dark.btn-bordered[disabled],
.btn-dark.btn-bordered[disabled],
fieldset[disabled] #filters .btn-dark.btn-bordered,
fieldset[disabled] .btn-dark.btn-bordered,
#filters .btn-dark.btn-bordered.disabled:hover,
.btn-dark.btn-bordered.disabled:hover,
#filters .btn-dark.btn-bordered[disabled]:hover,
.btn-dark.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-dark.btn-bordered:hover,
fieldset[disabled] .btn-dark.btn-bordered:hover,
#filters .btn-dark.btn-bordered.disabled:focus,
.btn-dark.btn-bordered.disabled:focus,
#filters .btn-dark.btn-bordered[disabled]:focus,
.btn-dark.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-dark.btn-bordered:focus,
fieldset[disabled] .btn-dark.btn-bordered:focus,
#filters .btn-dark.btn-bordered.disabled:active,
.btn-dark.btn-bordered.disabled:active,
#filters .btn-dark.btn-bordered[disabled]:active,
.btn-dark.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-dark.btn-bordered:active,
fieldset[disabled] .btn-dark.btn-bordered:active,
#filters .btn-dark.btn-bordered.disabled.active,
.btn-dark.btn-bordered.disabled.active,
#filters .btn-dark.btn-bordered[disabled].active,
.btn-dark.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-dark.btn-bordered.active,
fieldset[disabled] .btn-dark.btn-bordered.active {
    background-color: transparent;
    border-color: #222;
    box-shadow: none;
}
#filters .btn-dark.btn-bordered .badge,
.btn-dark.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-dark.btn-muted,
.btn-dark.btn-muted {
    color: #222;
    background-color: transparent;
    border-color: transparent;
}
#filters .btn-dark.btn-muted:hover,
.btn-dark.btn-muted:hover,
#filters .btn-dark.btn-muted:focus,
.btn-dark.btn-muted:focus,
#filters .btn-dark.btn-muted:active,
.btn-dark.btn-muted:active,
#filters .btn-dark.btn-muted.active,
.btn-dark.btn-muted.active,
.open .dropdown-toggle#filters .btn-dark.btn-muted,
.open .dropdown-toggle.btn-dark.btn-muted {
    color: #090909;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    box-shadow: none;
}
#filters .btn-dark.btn-muted:active,
.btn-dark.btn-muted:active,
#filters .btn-dark.btn-muted.active,
.btn-dark.btn-muted.active,
.open .dropdown-toggle#filters .btn-dark.btn-muted,
.open .dropdown-toggle.btn-dark.btn-muted { background-image: none }
#filters .btn-dark.btn-muted.disabled,
.btn-dark.btn-muted.disabled,
#filters .btn-dark.btn-muted[disabled],
.btn-dark.btn-muted[disabled],
fieldset[disabled] #filters .btn-dark.btn-muted,
fieldset[disabled] .btn-dark.btn-muted,
#filters .btn-dark.btn-muted.disabled:hover,
.btn-dark.btn-muted.disabled:hover,
#filters .btn-dark.btn-muted[disabled]:hover,
.btn-dark.btn-muted[disabled]:hover,
fieldset[disabled] #filters .btn-dark.btn-muted:hover,
fieldset[disabled] .btn-dark.btn-muted:hover,
#filters .btn-dark.btn-muted.disabled:focus,
.btn-dark.btn-muted.disabled:focus,
#filters .btn-dark.btn-muted[disabled]:focus,
.btn-dark.btn-muted[disabled]:focus,
fieldset[disabled] #filters .btn-dark.btn-muted:focus,
fieldset[disabled] .btn-dark.btn-muted:focus,
#filters .btn-dark.btn-muted.disabled:active,
.btn-dark.btn-muted.disabled:active,
#filters .btn-dark.btn-muted[disabled]:active,
.btn-dark.btn-muted[disabled]:active,
fieldset[disabled] #filters .btn-dark.btn-muted:active,
fieldset[disabled] .btn-dark.btn-muted:active,
#filters .btn-dark.btn-muted.disabled.active,
.btn-dark.btn-muted.disabled.active,
#filters .btn-dark.btn-muted[disabled].active,
.btn-dark.btn-muted[disabled].active,
fieldset[disabled] #filters .btn-dark.btn-muted.active,
fieldset[disabled] .btn-dark.btn-muted.active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
#filters .btn-dark.btn-muted .badge,
.btn-dark.btn-muted .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-default,
.btn-default {
    color: #fff;
    background-color: #ccc;
    border-color: #ccc;
}
#filters .btn-default:hover,
.btn-default:hover,
#filters .btn-default:focus,
.btn-default:focus,
#filters .btn-default:active,
.btn-default:active,
#filters .btn-default.active,
.btn-default.active,
.open .dropdown-toggle#filters .btn-default,
.open .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #b8b8b8;
    border-color: #b8b8b8;
    box-shadow: none;
}
#filters .btn-default:active,
.btn-default:active,
#filters .btn-default.active,
.btn-default.active,
.open .dropdown-toggle#filters .btn-default,
.open .dropdown-toggle.btn-default { background-image: none }
#filters .btn-default.disabled,
.btn-default.disabled,
#filters .btn-default[disabled],
.btn-default[disabled],
fieldset[disabled] #filters .btn-default,
fieldset[disabled] .btn-default,
#filters .btn-default.disabled:hover,
.btn-default.disabled:hover,
#filters .btn-default[disabled]:hover,
.btn-default[disabled]:hover,
fieldset[disabled] #filters .btn-default:hover,
fieldset[disabled] .btn-default:hover,
#filters .btn-default.disabled:focus,
.btn-default.disabled:focus,
#filters .btn-default[disabled]:focus,
.btn-default[disabled]:focus,
fieldset[disabled] #filters .btn-default:focus,
fieldset[disabled] .btn-default:focus,
#filters .btn-default.disabled:active,
.btn-default.disabled:active,
#filters .btn-default[disabled]:active,
.btn-default[disabled]:active,
fieldset[disabled] #filters .btn-default:active,
fieldset[disabled] .btn-default:active,
#filters .btn-default.disabled.active,
.btn-default.disabled.active,
#filters .btn-default[disabled].active,
.btn-default[disabled].active,
fieldset[disabled] #filters .btn-default.active,
fieldset[disabled] .btn-default.active {
    background-color: #ccc;
    border-color: #ccc;
    box-shadow: none;
}
#filters .btn-default .badge,
.btn-default .badge {
    color: #ccc;
    background-color: #fff;
}
#filters .btn-default.btn-bordered,
.btn-default.btn-bordered {
    color: #ccc;
    background-color: transparent;
    border-color: #ccc;
}
#filters .btn-default.btn-bordered:hover,
.btn-default.btn-bordered:hover,
#filters .btn-default.btn-bordered:focus,
.btn-default.btn-bordered:focus,
#filters .btn-default.btn-bordered:active,
.btn-default.btn-bordered:active,
#filters .btn-default.btn-bordered.active,
.btn-default.btn-bordered.active,
.open .dropdown-toggle#filters .btn-default.btn-bordered,
.open .dropdown-toggle.btn-default.btn-bordered {
    color: #b3b3b3;
    background-color: rgba(0,0,0,0);
    border-color: #b8b8b8;
    box-shadow: none;
}
#filters .btn-default.btn-bordered:active,
.btn-default.btn-bordered:active,
#filters .btn-default.btn-bordered.active,
.btn-default.btn-bordered.active,
.open .dropdown-toggle#filters .btn-default.btn-bordered,
.open .dropdown-toggle.btn-default.btn-bordered { background-image: none }
#filters .btn-default.btn-bordered.disabled,
.btn-default.btn-bordered.disabled,
#filters .btn-default.btn-bordered[disabled],
.btn-default.btn-bordered[disabled],
fieldset[disabled] #filters .btn-default.btn-bordered,
fieldset[disabled] .btn-default.btn-bordered,
#filters .btn-default.btn-bordered.disabled:hover,
.btn-default.btn-bordered.disabled:hover,
#filters .btn-default.btn-bordered[disabled]:hover,
.btn-default.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-default.btn-bordered:hover,
fieldset[disabled] .btn-default.btn-bordered:hover,
#filters .btn-default.btn-bordered.disabled:focus,
.btn-default.btn-bordered.disabled:focus,
#filters .btn-default.btn-bordered[disabled]:focus,
.btn-default.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-default.btn-bordered:focus,
fieldset[disabled] .btn-default.btn-bordered:focus,
#filters .btn-default.btn-bordered.disabled:active,
.btn-default.btn-bordered.disabled:active,
#filters .btn-default.btn-bordered[disabled]:active,
.btn-default.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-default.btn-bordered:active,
fieldset[disabled] .btn-default.btn-bordered:active,
#filters .btn-default.btn-bordered.disabled.active,
.btn-default.btn-bordered.disabled.active,
#filters .btn-default.btn-bordered[disabled].active,
.btn-default.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-default.btn-bordered.active,
fieldset[disabled] .btn-default.btn-bordered.active {
    background-color: transparent;
    border-color: #ccc;
    box-shadow: none;
}
#filters .btn-default.btn-bordered .badge,
.btn-default.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-primary,
.btn-primary {
    color: #fff;
    background-color: #CF1E75;
    border-color: #CF1E75;
}
#filters .btn-primary:hover,
.btn-primary:hover,
#filters .btn-primary:focus,
.btn-primary:focus,
#filters .btn-primary:active,
.btn-primary:active,
#filters .btn-primary.active,
.btn-primary.active,
.open .dropdown-toggle#filters .btn-primary,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #A31C4D;
    border-color: #A31C4D;
    box-shadow: none;
}
#filters .btn-primary:active,
.btn-primary:active,
#filters .btn-primary.active,
.btn-primary.active,
.open .dropdown-toggle#filters .btn-primary,
.open .dropdown-toggle.btn-primary { background-image: none }
#filters .btn-primary.disabled,
.btn-primary.disabled,
#filters .btn-primary[disabled],
.btn-primary[disabled],
fieldset[disabled] #filters .btn-primary,
fieldset[disabled] .btn-primary,
#filters .btn-primary.disabled:hover,
.btn-primary.disabled:hover,
#filters .btn-primary[disabled]:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] #filters .btn-primary:hover,
fieldset[disabled] .btn-primary:hover,
#filters .btn-primary.disabled:focus,
.btn-primary.disabled:focus,
#filters .btn-primary[disabled]:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] #filters .btn-primary:focus,
fieldset[disabled] .btn-primary:focus,
#filters .btn-primary.disabled:active,
.btn-primary.disabled:active,
#filters .btn-primary[disabled]:active,
.btn-primary[disabled]:active,
fieldset[disabled] #filters .btn-primary:active,
fieldset[disabled] .btn-primary:active,
#filters .btn-primary.disabled.active,
.btn-primary.disabled.active,
#filters .btn-primary[disabled].active,
.btn-primary[disabled].active,
fieldset[disabled] #filters .btn-primary.active,
fieldset[disabled] .btn-primary.active {
    background-color: #CF1E75;
    border-color: #CF1E75;
    box-shadow: none;
}
#filters .btn-primary .badge,
.btn-primary .badge {
    color: #CF1E75;
    background-color: #fff;
}
#filters .btn-primary.btn-bordered,
.btn-primary.btn-bordered {
    color: #CF1E75;
    background-color: transparent;
    border-color: #CF1E75;
}
#filters .btn-primary.btn-bordered:hover,
.btn-primary.btn-bordered:hover,
#filters .btn-primary.btn-bordered:focus,
.btn-primary.btn-bordered:focus,
#filters .btn-primary.btn-bordered:active,
.btn-primary.btn-bordered:active,
#filters .btn-primary.btn-bordered.active,
.btn-primary.btn-bordered.active,
.open .dropdown-toggle#filters .btn-primary.btn-bordered,
.open .dropdown-toggle.btn-primary.btn-bordered {
    color: #148f77;
    background-color: rgba(0,0,0,0);
    border-color: A31C4D;
    box-shadow: none;
}
#filters .btn-primary.btn-bordered:active,
.btn-primary.btn-bordered:active,
#filters .btn-primary.btn-bordered.active,
.btn-primary.btn-bordered.active,
.open .dropdown-toggle#filters .btn-primary.btn-bordered,
.open .dropdown-toggle.btn-primary.btn-bordered { background-image: none }
#filters .btn-primary.btn-bordered.disabled,
.btn-primary.btn-bordered.disabled,
#filters .btn-primary.btn-bordered[disabled],
.btn-primary.btn-bordered[disabled],
fieldset[disabled] #filters .btn-primary.btn-bordered,
fieldset[disabled] .btn-primary.btn-bordered,
#filters .btn-primary.btn-bordered.disabled:hover,
.btn-primary.btn-bordered.disabled:hover,
#filters .btn-primary.btn-bordered[disabled]:hover,
.btn-primary.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-primary.btn-bordered:hover,
fieldset[disabled] .btn-primary.btn-bordered:hover,
#filters .btn-primary.btn-bordered.disabled:focus,
.btn-primary.btn-bordered.disabled:focus,
#filters .btn-primary.btn-bordered[disabled]:focus,
.btn-primary.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-primary.btn-bordered:focus,
fieldset[disabled] .btn-primary.btn-bordered:focus,
#filters .btn-primary.btn-bordered.disabled:active,
.btn-primary.btn-bordered.disabled:active,
#filters .btn-primary.btn-bordered[disabled]:active,
.btn-primary.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-primary.btn-bordered:active,
fieldset[disabled] .btn-primary.btn-bordered:active,
#filters .btn-primary.btn-bordered.disabled.active,
.btn-primary.btn-bordered.disabled.active,
#filters .btn-primary.btn-bordered[disabled].active,
.btn-primary.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-primary.btn-bordered.active,
fieldset[disabled] .btn-primary.btn-bordered.active {
    background-color: transparent;
    border-color: #CF1E75;
    box-shadow: none;
}
#filters .btn-primary.btn-bordered .badge,
.btn-primary.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-warning,
.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
#filters .btn-warning:hover,
.btn-warning:hover,
#filters .btn-warning:focus,
.btn-warning:focus,
#filters .btn-warning:active,
.btn-warning:active,
#filters .btn-warning.active,
.btn-warning.active,
.open .dropdown-toggle#filters .btn-warning,
.open .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ed9c28;
    border-color: #ed9c28;
    box-shadow: none;
}
#filters .btn-warning:active,
.btn-warning:active,
#filters .btn-warning.active,
.btn-warning.active,
.open .dropdown-toggle#filters .btn-warning,
.open .dropdown-toggle.btn-warning { background-image: none }
#filters .btn-warning.disabled,
.btn-warning.disabled,
#filters .btn-warning[disabled],
.btn-warning[disabled],
fieldset[disabled] #filters .btn-warning,
fieldset[disabled] .btn-warning,
#filters .btn-warning.disabled:hover,
.btn-warning.disabled:hover,
#filters .btn-warning[disabled]:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] #filters .btn-warning:hover,
fieldset[disabled] .btn-warning:hover,
#filters .btn-warning.disabled:focus,
.btn-warning.disabled:focus,
#filters .btn-warning[disabled]:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] #filters .btn-warning:focus,
fieldset[disabled] .btn-warning:focus,
#filters .btn-warning.disabled:active,
.btn-warning.disabled:active,
#filters .btn-warning[disabled]:active,
.btn-warning[disabled]:active,
fieldset[disabled] #filters .btn-warning:active,
fieldset[disabled] .btn-warning:active,
#filters .btn-warning.disabled.active,
.btn-warning.disabled.active,
#filters .btn-warning[disabled].active,
.btn-warning[disabled].active,
fieldset[disabled] #filters .btn-warning.active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    box-shadow: none;
}
#filters .btn-warning .badge,
.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff;
}
#filters .btn-warning.btn-bordered,
.btn-warning.btn-bordered {
    color: #f0ad4e;
    background-color: transparent;
    border-color: #f0ad4e;
}
#filters .btn-warning.btn-bordered:hover,
.btn-warning.btn-bordered:hover,
#filters .btn-warning.btn-bordered:focus,
.btn-warning.btn-bordered:focus,
#filters .btn-warning.btn-bordered:active,
.btn-warning.btn-bordered:active,
#filters .btn-warning.btn-bordered.active,
.btn-warning.btn-bordered.active,
.open .dropdown-toggle#filters .btn-warning.btn-bordered,
.open .dropdown-toggle.btn-warning.btn-bordered {
    color: #ec971f;
    background-color: rgba(0,0,0,0);
    border-color: #ed9c28;
    box-shadow: none;
}
#filters .btn-warning.btn-bordered:active,
.btn-warning.btn-bordered:active,
#filters .btn-warning.btn-bordered.active,
.btn-warning.btn-bordered.active,
.open .dropdown-toggle#filters .btn-warning.btn-bordered,
.open .dropdown-toggle.btn-warning.btn-bordered { background-image: none }
#filters .btn-warning.btn-bordered.disabled,
.btn-warning.btn-bordered.disabled,
#filters .btn-warning.btn-bordered[disabled],
.btn-warning.btn-bordered[disabled],
fieldset[disabled] #filters .btn-warning.btn-bordered,
fieldset[disabled] .btn-warning.btn-bordered,
#filters .btn-warning.btn-bordered.disabled:hover,
.btn-warning.btn-bordered.disabled:hover,
#filters .btn-warning.btn-bordered[disabled]:hover,
.btn-warning.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-warning.btn-bordered:hover,
fieldset[disabled] .btn-warning.btn-bordered:hover,
#filters .btn-warning.btn-bordered.disabled:focus,
.btn-warning.btn-bordered.disabled:focus,
#filters .btn-warning.btn-bordered[disabled]:focus,
.btn-warning.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-warning.btn-bordered:focus,
fieldset[disabled] .btn-warning.btn-bordered:focus,
#filters .btn-warning.btn-bordered.disabled:active,
.btn-warning.btn-bordered.disabled:active,
#filters .btn-warning.btn-bordered[disabled]:active,
.btn-warning.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-warning.btn-bordered:active,
fieldset[disabled] .btn-warning.btn-bordered:active,
#filters .btn-warning.btn-bordered.disabled.active,
.btn-warning.btn-bordered.disabled.active,
#filters .btn-warning.btn-bordered[disabled].active,
.btn-warning.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-warning.btn-bordered.active,
fieldset[disabled] .btn-warning.btn-bordered.active {
    background-color: transparent;
    border-color: #f0ad4e;
    box-shadow: none;
}
#filters .btn-warning.btn-bordered .badge,
.btn-warning.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-danger,
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}
#filters .btn-danger:hover,
.btn-danger:hover,
#filters .btn-danger:focus,
.btn-danger:focus,
#filters .btn-danger:active,
.btn-danger:active,
#filters .btn-danger.active,
.btn-danger.active,
.open .dropdown-toggle#filters .btn-danger,
.open .dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #d2322d;
    border-color: #d2322d;
    box-shadow: none;
}
#filters .btn-danger:active,
.btn-danger:active,
#filters .btn-danger.active,
.btn-danger.active,
.open .dropdown-toggle#filters .btn-danger,
.open .dropdown-toggle.btn-danger { background-image: none }
#filters .btn-danger.disabled,
.btn-danger.disabled,
#filters .btn-danger[disabled],
.btn-danger[disabled],
fieldset[disabled] #filters .btn-danger,
fieldset[disabled] .btn-danger,
#filters .btn-danger.disabled:hover,
.btn-danger.disabled:hover,
#filters .btn-danger[disabled]:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] #filters .btn-danger:hover,
fieldset[disabled] .btn-danger:hover,
#filters .btn-danger.disabled:focus,
.btn-danger.disabled:focus,
#filters .btn-danger[disabled]:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] #filters .btn-danger:focus,
fieldset[disabled] .btn-danger:focus,
#filters .btn-danger.disabled:active,
.btn-danger.disabled:active,
#filters .btn-danger[disabled]:active,
.btn-danger[disabled]:active,
fieldset[disabled] #filters .btn-danger:active,
fieldset[disabled] .btn-danger:active,
#filters .btn-danger.disabled.active,
.btn-danger.disabled.active,
#filters .btn-danger[disabled].active,
.btn-danger[disabled].active,
fieldset[disabled] #filters .btn-danger.active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d9534f;
    box-shadow: none;
}
#filters .btn-danger .badge,
.btn-danger .badge {
    color: #d9534f;
    background-color: #fff;
}
#filters .btn-danger.btn-bordered,
.btn-danger.btn-bordered {
    color: #d9534f;
    background-color: transparent;
    border-color: #d9534f;
}
#filters .btn-danger.btn-bordered:hover,
.btn-danger.btn-bordered:hover,
#filters .btn-danger.btn-bordered:focus,
.btn-danger.btn-bordered:focus,
#filters .btn-danger.btn-bordered:active,
.btn-danger.btn-bordered:active,
#filters .btn-danger.btn-bordered.active,
.btn-danger.btn-bordered.active,
.open .dropdown-toggle#filters .btn-danger.btn-bordered,
.open .dropdown-toggle.btn-danger.btn-bordered {
    color: #c9302c;
    background-color: rgba(0,0,0,0);
    border-color: #d2322d;
    box-shadow: none;
}
#filters .btn-danger.btn-bordered:active,
.btn-danger.btn-bordered:active,
#filters .btn-danger.btn-bordered.active,
.btn-danger.btn-bordered.active,
.open .dropdown-toggle#filters .btn-danger.btn-bordered,
.open .dropdown-toggle.btn-danger.btn-bordered { background-image: none }
#filters .btn-danger.btn-bordered.disabled,
.btn-danger.btn-bordered.disabled,
#filters .btn-danger.btn-bordered[disabled],
.btn-danger.btn-bordered[disabled],
fieldset[disabled] #filters .btn-danger.btn-bordered,
fieldset[disabled] .btn-danger.btn-bordered,
#filters .btn-danger.btn-bordered.disabled:hover,
.btn-danger.btn-bordered.disabled:hover,
#filters .btn-danger.btn-bordered[disabled]:hover,
.btn-danger.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-danger.btn-bordered:hover,
fieldset[disabled] .btn-danger.btn-bordered:hover,
#filters .btn-danger.btn-bordered.disabled:focus,
.btn-danger.btn-bordered.disabled:focus,
#filters .btn-danger.btn-bordered[disabled]:focus,
.btn-danger.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-danger.btn-bordered:focus,
fieldset[disabled] .btn-danger.btn-bordered:focus,
#filters .btn-danger.btn-bordered.disabled:active,
.btn-danger.btn-bordered.disabled:active,
#filters .btn-danger.btn-bordered[disabled]:active,
.btn-danger.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-danger.btn-bordered:active,
fieldset[disabled] .btn-danger.btn-bordered:active,
#filters .btn-danger.btn-bordered.disabled.active,
.btn-danger.btn-bordered.disabled.active,
#filters .btn-danger.btn-bordered[disabled].active,
.btn-danger.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-danger.btn-bordered.active,
fieldset[disabled] .btn-danger.btn-bordered.active {
    background-color: transparent;
    border-color: #d9534f;
    box-shadow: none;
}
#filters .btn-danger.btn-bordered .badge,
.btn-danger.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-success,
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
#filters .btn-success:hover,
.btn-success:hover,
#filters .btn-success:focus,
.btn-success:focus,
#filters .btn-success:active,
.btn-success:active,
#filters .btn-success.active,
.btn-success.active,
.open .dropdown-toggle#filters .btn-success,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #47a447;
    border-color: #47a447;
    box-shadow: none;
}
#filters .btn-success:active,
.btn-success:active,
#filters .btn-success.active,
.btn-success.active,
.open .dropdown-toggle#filters .btn-success,
.open .dropdown-toggle.btn-success { background-image: none }
#filters .btn-success.disabled,
.btn-success.disabled,
#filters .btn-success[disabled],
.btn-success[disabled],
fieldset[disabled] #filters .btn-success,
fieldset[disabled] .btn-success,
#filters .btn-success.disabled:hover,
.btn-success.disabled:hover,
#filters .btn-success[disabled]:hover,
.btn-success[disabled]:hover,
fieldset[disabled] #filters .btn-success:hover,
fieldset[disabled] .btn-success:hover,
#filters .btn-success.disabled:focus,
.btn-success.disabled:focus,
#filters .btn-success[disabled]:focus,
.btn-success[disabled]:focus,
fieldset[disabled] #filters .btn-success:focus,
fieldset[disabled] .btn-success:focus,
#filters .btn-success.disabled:active,
.btn-success.disabled:active,
#filters .btn-success[disabled]:active,
.btn-success[disabled]:active,
fieldset[disabled] #filters .btn-success:active,
fieldset[disabled] .btn-success:active,
#filters .btn-success.disabled.active,
.btn-success.disabled.active,
#filters .btn-success[disabled].active,
.btn-success[disabled].active,
fieldset[disabled] #filters .btn-success.active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #5cb85c;
    box-shadow: none;
}
#filters .btn-success .badge,
.btn-success .badge {
    color: #5cb85c;
    background-color: #fff;
}
#filters .btn-success.btn-bordered,
.btn-success.btn-bordered {
    color: #5cb85c;
    background-color: transparent;
    border-color: #5cb85c;
}
#filters .btn-success.btn-bordered:hover,
.btn-success.btn-bordered:hover,
#filters .btn-success.btn-bordered:focus,
.btn-success.btn-bordered:focus,
#filters .btn-success.btn-bordered:active,
.btn-success.btn-bordered:active,
#filters .btn-success.btn-bordered.active,
.btn-success.btn-bordered.active,
.open .dropdown-toggle#filters .btn-success.btn-bordered,
.open .dropdown-toggle.btn-success.btn-bordered {
    color: #449d44;
    background-color: rgba(0,0,0,0);
    border-color: #47a447;
    box-shadow: none;
}
#filters .btn-success.btn-bordered:active,
.btn-success.btn-bordered:active,
#filters .btn-success.btn-bordered.active,
.btn-success.btn-bordered.active,
.open .dropdown-toggle#filters .btn-success.btn-bordered,
.open .dropdown-toggle.btn-success.btn-bordered { background-image: none }
#filters .btn-success.btn-bordered.disabled,
.btn-success.btn-bordered.disabled,
#filters .btn-success.btn-bordered[disabled],
.btn-success.btn-bordered[disabled],
fieldset[disabled] #filters .btn-success.btn-bordered,
fieldset[disabled] .btn-success.btn-bordered,
#filters .btn-success.btn-bordered.disabled:hover,
.btn-success.btn-bordered.disabled:hover,
#filters .btn-success.btn-bordered[disabled]:hover,
.btn-success.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-success.btn-bordered:hover,
fieldset[disabled] .btn-success.btn-bordered:hover,
#filters .btn-success.btn-bordered.disabled:focus,
.btn-success.btn-bordered.disabled:focus,
#filters .btn-success.btn-bordered[disabled]:focus,
.btn-success.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-success.btn-bordered:focus,
fieldset[disabled] .btn-success.btn-bordered:focus,
#filters .btn-success.btn-bordered.disabled:active,
.btn-success.btn-bordered.disabled:active,
#filters .btn-success.btn-bordered[disabled]:active,
.btn-success.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-success.btn-bordered:active,
fieldset[disabled] .btn-success.btn-bordered:active,
#filters .btn-success.btn-bordered.disabled.active,
.btn-success.btn-bordered.disabled.active,
#filters .btn-success.btn-bordered[disabled].active,
.btn-success.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-success.btn-bordered.active,
fieldset[disabled] .btn-success.btn-bordered.active {
    background-color: transparent;
    border-color: #5cb85c;
    box-shadow: none;
}
#filters .btn-success.btn-bordered .badge,
.btn-success.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
#filters .btn-info,
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
#filters .btn-info:hover,
.btn-info:hover,
#filters .btn-info:focus,
.btn-info:focus,
#filters .btn-info:active,
.btn-info:active,
#filters .btn-info.active,
.btn-info.active,
.open .dropdown-toggle#filters .btn-info,
.open .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #39b3d7;
    box-shadow: none;
}
#filters .btn-info:active,
.btn-info:active,
#filters .btn-info.active,
.btn-info.active,
.open .dropdown-toggle#filters .btn-info,
.open .dropdown-toggle.btn-info { background-image: none }
#filters .btn-info.disabled,
.btn-info.disabled,
#filters .btn-info[disabled],
.btn-info[disabled],
fieldset[disabled] #filters .btn-info,
fieldset[disabled] .btn-info,
#filters .btn-info.disabled:hover,
.btn-info.disabled:hover,
#filters .btn-info[disabled]:hover,
.btn-info[disabled]:hover,
fieldset[disabled] #filters .btn-info:hover,
fieldset[disabled] .btn-info:hover,
#filters .btn-info.disabled:focus,
.btn-info.disabled:focus,
#filters .btn-info[disabled]:focus,
.btn-info[disabled]:focus,
fieldset[disabled] #filters .btn-info:focus,
fieldset[disabled] .btn-info:focus,
#filters .btn-info.disabled:active,
.btn-info.disabled:active,
#filters .btn-info[disabled]:active,
.btn-info[disabled]:active,
fieldset[disabled] #filters .btn-info:active,
fieldset[disabled] .btn-info:active,
#filters .btn-info.disabled.active,
.btn-info.disabled.active,
#filters .btn-info[disabled].active,
.btn-info[disabled].active,
fieldset[disabled] #filters .btn-info.active,
fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #5bc0de;
    box-shadow: none;
}
#filters .btn-info .badge,
.btn-info .badge {
    color: #5bc0de;
    background-color: #fff;
}
#filters .btn-info.btn-bordered,
.btn-info.btn-bordered {
    color: #5bc0de;
    background-color: transparent;
    border-color: #5bc0de;
}
#filters .btn-info.btn-bordered:hover,
.btn-info.btn-bordered:hover,
#filters .btn-info.btn-bordered:focus,
.btn-info.btn-bordered:focus,
#filters .btn-info.btn-bordered:active,
.btn-info.btn-bordered:active,
#filters .btn-info.btn-bordered.active,
.btn-info.btn-bordered.active,
.open .dropdown-toggle#filters .btn-info.btn-bordered,
.open .dropdown-toggle.btn-info.btn-bordered {
    color: #31b0d5;
    background-color: rgba(0,0,0,0);
    border-color: #39b3d7;
    box-shadow: none;
}
#filters .btn-info.btn-bordered:active,
.btn-info.btn-bordered:active,
#filters .btn-info.btn-bordered.active,
.btn-info.btn-bordered.active,
.open .dropdown-toggle#filters .btn-info.btn-bordered,
.open .dropdown-toggle.btn-info.btn-bordered { background-image: none }
#filters .btn-info.btn-bordered.disabled,
.btn-info.btn-bordered.disabled,
#filters .btn-info.btn-bordered[disabled],
.btn-info.btn-bordered[disabled],
fieldset[disabled] #filters .btn-info.btn-bordered,
fieldset[disabled] .btn-info.btn-bordered,
#filters .btn-info.btn-bordered.disabled:hover,
.btn-info.btn-bordered.disabled:hover,
#filters .btn-info.btn-bordered[disabled]:hover,
.btn-info.btn-bordered[disabled]:hover,
fieldset[disabled] #filters .btn-info.btn-bordered:hover,
fieldset[disabled] .btn-info.btn-bordered:hover,
#filters .btn-info.btn-bordered.disabled:focus,
.btn-info.btn-bordered.disabled:focus,
#filters .btn-info.btn-bordered[disabled]:focus,
.btn-info.btn-bordered[disabled]:focus,
fieldset[disabled] #filters .btn-info.btn-bordered:focus,
fieldset[disabled] .btn-info.btn-bordered:focus,
#filters .btn-info.btn-bordered.disabled:active,
.btn-info.btn-bordered.disabled:active,
#filters .btn-info.btn-bordered[disabled]:active,
.btn-info.btn-bordered[disabled]:active,
fieldset[disabled] #filters .btn-info.btn-bordered:active,
fieldset[disabled] .btn-info.btn-bordered:active,
#filters .btn-info.btn-bordered.disabled.active,
.btn-info.btn-bordered.disabled.active,
#filters .btn-info.btn-bordered[disabled].active,
.btn-info.btn-bordered[disabled].active,
fieldset[disabled] #filters .btn-info.btn-bordered.active,
fieldset[disabled] .btn-info.btn-bordered.active {
    background-color: transparent;
    border-color: #5bc0de;
    box-shadow: none;
}
#filters .btn-info.btn-bordered .badge,
.btn-info.btn-bordered .badge {
    color: transparent;
    background-color: #fff;
}
.content-custom-button.dark { background: #222 }
.progress .progress-bar { background: #CF1E75 }
.indicator .indicator-line {
    border-top: 1px solid #eee;
    background-color: #fff;
    background-image: linear-gradient(90deg,#eee 1px,transparent 1px);
}
.navbar li.open>a,
.navbar li.active>a,
.navbar li.open>a:hover,
.navbar li.active>a:hover,
.navbar li.open>a:focus,
.navbar li.active>a:focus {
    color: #CF1E75;
    border-color: #CF1E75;
}
.navbar .dropdown-submenu>a:after { border-left-color: #ccc }
.navbar .dropdown-submenu:hover>a:after { border-left-color: #CF1E75 }
.navbar .dropdown-menu>li>a {
    border-bottom: 1px solid #eee;
    color: #909090;
}
.navbar .dropdown-menu>li>a:hover,
.navbar .dropdown-menu>li>a:focus,
.navbar .dropdown-menu>.active>a,
.navbar .dropdown-menu>.active>a:hover,
.navbar .dropdown-menu>.active>a:focus { color: #CF1E75 }
/*.navbar-standard { border-bottom: 1px solid rgba(255,255,255,.25) }*/
.navbar-standard .navbar-nav>li>a { color: #fff }
.navbar-standard .navbar-nav>li>a:hover,
.navbar-standard .navbar-nav>li>a:focus,
.navbar-standard .navbar-nav>li.open>a,
.navbar-standard .navbar-nav>li.active>a,
.navbar-standard .navbar-nav>li.open>a:hover,
.navbar-standard .navbar-nav>li.active>a:hover,
.navbar-standard .navbar-nav>li.open>a:focus,
.navbar-standard .navbar-nav>li.active>a:focus {
    color: #fff;
    border-color: #fff;
}
.navbar-standard .navbar-nav .badge { background: #CF1E75 }
.navbar-standard .navbar-nav .dropdown-menu { border-color: #CF1E75 }
.navbar-standard .navbar-toggle { color: #fff }
.navbar-standard.opaque {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar-standard.opaque .navbar-nav>li>a { color: #909090 }
.navbar-standard.opaque .navbar-nav>li>a:hover,
.navbar-standard.opaque .navbar-nav>li>a:focus,
.navbar-standard.opaque .navbar-nav>li.open>a,
.navbar-standard.opaque .navbar-nav>li.active>a,
.navbar-standard.opaque .navbar-nav>li.open>a:hover,
.navbar-standard.opaque .navbar-nav>li.active>a:hover,
.navbar-standard.opaque .navbar-nav>li.open>a:focus,
.navbar-standard.opaque .navbar-nav>li.active>a:focus {
    color: #CF1E75;
    border-color: #CF1E75;
}
.theme-form-group-thin{
    padding: 0;
    border-radius: 0px;
    background: transparent!important;
    border-bottom: 1px solid #fff;
}
.theme-form-group-thin .fa-search{
    color: #fff;
}
.navbar-standard.opaque .theme-form-group
{ 
    border-radius: 10px;
    padding: 0;
}
.navbar-standard.opaque .theme-form-group .form-control::-webkit-input-placeholder { color: #333 }
.navbar-standard.opaque .theme-form-group .form-control::-moz-placeholder { color: #333}
.navbar-standard.opaque .theme-form-group .form-control:-ms-input-placeholder { color: #333}
.navbar-standard.opaque .theme-form-group .form-control:focus { color: #333 }
.navbar-standard.opaque .theme-form-group-thin .fa-search{color: #333}
.navbar-standard.opaque .theme-form-group-thin{border-bottom: 1px solid #333; border-radius: 0px}
.navbar-standard.opaque .navbar-toggle { color: #222 }
.navbar-standard .search_button { color: #fff }
.navbar-standard .search_button:after { background-color: #CF1E75 }
.navbar-light {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar-light .navbar-nav>li>a { color: #909090 }
.navbar-light .navbar-nav>li>a:hover,
.navbar-light .navbar-nav>li>a:focus,
.navbar-light .navbar-nav>li.active>a,
.navbar-light .navbar-nav>li.active>a:hover,
.navbar-light .navbar-nav>li.active>a:focus {
    color: #CF1E75;
    border-color: #CF1E75;
}
.navbar-light .navbar-nav .badge { background: #CF1E75 }
.navbar-light .dropdown-menu { border-color: #CF1E75 }
.navbar-light .search_button { color: #fff }
.navbar-light .search_button:after { background-color: #CF1E75 }
.navbar-light .navbar-toggle { color: #222 }
.navbar-dark { background: #222 }
.navbar-dark .navbar-nav>li>a { color: #fff }
.navbar-dark .navbar-nav>li>a:hover,
.navbar-dark .navbar-nav>li>a:focus,
.navbar-dark .navbar-nav>li.active>a,
.navbar-dark .navbar-nav>li.active>a:hover,
.navbar-dark .navbar-nav>li.active>a:focus {
    color: #CF1E75;
    border-color: #CF1E75;
}
.navbar-dark .navbar-nav .badge { background: #CF1E75 }
.navbar-dark .dropdown-menu { border-color: #CF1E75 }
.navbar-dark .search_button { color: #fff }
.navbar-dark .search_button:after { background-color: #CF1E75 }
.navbar-dark .navbar-toggle { color: #fff }
.navbar-semidark { background: rgba(0,0,0,.6) }
.navbar-semidark .navbar-nav>li>a { color: #fff }
.navbar-semidark .navbar-nav>li>a:hover,
.navbar-semidark .navbar-nav>li>a:focus,
.navbar-semidark .navbar-nav>li.active>a,
.navbar-semidark .navbar-nav>li.active>a:hover,
.navbar-semidark .navbar-nav>li.active>a:focus {
    color: #CF1E75;
    border-color: #CF1E75;
}
.navbar-semidark .navbar-nav .badge { background: #CF1E75 }
.navbar-semidark .dropdown-menu { border-color: #CF1E75 }
.navbar-semidark .search_button { color: #fff }
.navbar-semidark .search_button:after { background-color: #CF1E75 }
.navbar-semidark .navbar-toggle { color: #fff }
.navbar-primary { background: #CF1E75 }
.navbar-primary .navbar-nav>li>a { color: #fff }
.navbar-primary .navbar-nav>li>a:hover,
.navbar-primary .navbar-nav>li>a:focus,
.navbar-primary .navbar-nav>li.active>a,
.navbar-primary .navbar-nav>li.active>a:hover,
.navbar-primary .navbar-nav>li.active>a:focus {
    color: #222;
    border-color: #222;
}
.navbar-primary .navbar-nav .badge {
    background: #fff;
    color: #CF1E75;
}
.navbar-primary .dropdown-menu { border-color: #222 }
.navbar-primary .search_button { color: #CF1E75 }
.navbar-primary .search_button:after { background-color: #fff }
.navbar-primary .navbar-toggle { color: #fff }
.shopping_cart_dropdown .product_list_widget li { border-bottom: 1px solid #eee }
.shopping_cart_dropdown .total span { color: #CF1E75 }
.bordered-right { border-right: 5px solid #CF1E75 }
.bordered-left { border-left: 5px solid #CF1E75 }
.nav-arrows span { border: 1px solid rgba(255,255,255,.4) }
.nav-arrows span:hover { border-color: #fff }
.testimonials .user-thumb {
    border: 1px solid #CF1E75;
    background: #fff;
}
.testimonials blockquote:before,
.testimonials blockquote:after { color: #CF1E75 }
.testimonials .info-text small:before,
.testimonials .info-text .small:before { border-top: 1px solid #CF1E75 }
.post-content a { color: #222 }
.post-content a:hover { color: #CF1E75 }
.blog-preview .post-info:before { border-top: 1px solid #eee }
.blog-preview .post-info .user-thumb {
    border: 1px solid #eee;
    background: #fff;
}
.social-icon li.maxi a {
    background: #CF1E75;
    color: #fff;
}
.social-icon li.maxi a:hover { background: #0e6252 }
.social-icon a.pill {
    background-color: #909090;
    color: #fff;
}
.social-icon a.pill:hover { background-color: #CF1E75 }
.info-card .info-card-details .info-card-detail .social a { background-color: #d7d7d7 }
a.social-icon:hover { color: #fff!important }
.icon-box h1,
.icon-box h2,
.icon-box h3,
.icon-box h4,
.icon-box h5,
.icon-box h6 { color: #CF1E75 }
.icon-box .light { color: #fff }
.icon-box .icon-content {
    background-color: #CF1E75;
    color: #fff;
}
.icon-box .icon-content.inverter {
    background: #fff;
    color: #CF1E75;
}
.icon-gradient .icon-content { background-color: #CF1E75 }
blockquote { border-color: #CF1E75 }
blockquote.theme {
    background-color: #CF1E75;
    color: #fff;
}
blockquote.theme .bold-quote { color: #fff }
blockquote.theme small,
blockquote.theme .small,
blockquote.theme .cite { color: #0e6252 }
.device-content .device-mockup .device .screen .owl-carousel .owl-controls .owl-page span { border: 3px solid #fff }
.portfolio .item .article-body { border-bottom: 1px solid #eee }
.portfolio .item .mask { background-color: rgba(0,0,0,.75) }
.portfolio .item .mask h4,
.portfolio .item .mask .info { color: #fff }
.portfolio .item .mask.mask-light { background: #fff }
.portfolio .item .mask-light h4 { color: #000 }
.portfolio .item .mask-light .info { color: #999 }
.portfolio .item .mask-light a.info:hover { color: #000 }
.portfolio-full .item-full .item-content { background: rgba(0,0,0,.8) }
.portfolio-full .item-full .item-content:hover { background: rgba(0,0,0,.5) }
.closeProject a {
    color: #909090;
    border: 1px solid #909090;
}
.closeProject a:hover {
    background-color: #CF1E75;
    border-color: #CF1E75;
    color: #fff;
}
.ajax-section .ajax-content-outer .nav-arrows span { border-color: rgba(144,144,144,.4) }
.ajax-section .ajax-content-outer .nav-arrows span:hover { border-color: #909090 }
.team-photo .team-connection .team-connection-list { background: #CF1E75 }
.team-photo .team-connection .team-connection-list ul li a { color: #fff }
.team-name { border-bottom: 1px solid #eee }
.team-name h5 { color: #CF1E75 }
.pricing-box { background: rgba(255,255,255,.9) }
.pricing-box ul li.option { border-bottom: 1px solid #eee }
.pricing-box .price-row {
    background: #CF1E75;
    color: #fff;
}
.pricing-box .price-row .currency,
.pricing-box .price-row .plane { color: #0e6252 }
.pricing-featured { background: #fff }
.banner-shop a .banner-container .banner-text .banner-title { background: rgba(255,255,255,.95) }
.bubble:before { border: 0 solid rgba(255,255,255,.75) }
.outline-inward:before,
.outline-outward:before { border: 6px solid #CF1E75 }
.product-image .bullet {
    color: #fff;
    background: #CF1E75;
}
.product-image .bullet.out { background: #ddd }
.product-title p { color: #555 }
.product-detail a { color: #909090 }
.size-product li label span {
    border: 1px solid #eee;
    color: #909090;
}
.size-product li label span:hover { border-color: #909090 }
.size-product li label input:checked+span {
    border-color: #eee;
    background-color: #CF1E75;
    color: white;
}
.category-banner .category-content { background: #fff }
.widget-title-bordered,
.widget .media-bordered { border-bottom: 1px solid #eee }
.widget .media a:hover { color: #CF1E75 }
.widget .cat-item { border-bottom: 1px solid #eee }
.widget .cat-item a { color: #909090 }
.widget .cat-item a:hover { color: #CF1E75 }
.filter_price_content .slider .slider-track .slider-handle { background: #eee }
.filter_price_content .slider .slider-track .slider-selection { background: #CF1E75 }
.newsletter-form input::-moz-placeholder {
    color: #81eed8;
    opacity: 1;
}
.newsletter-form input:-ms-input-placeholder { color: #81eed8 }
.newsletter-form input::-webkit-input-placeholder { color: #81eed8 }
.accordion-group { border-top: 1px solid #ddd }
.accordion-group .accordion-item { border-bottom: 1px solid #ddd }
.accordion-group .accordion-item .accordion-icon {
    background-color: #aaa;
    color: #fff;
}
.accordion-group .accordion-item .accordion-icon.fa-minus,
.accordion-group .accordion-item .accordion-icon.primary { background-color: #CF1E75 }
.panel-primary .panel-heading {
    background-color: #CF1E75;
    border-color: #CF1E75;
}
.panel-primary .panel-heading a { color: #fff }
.panel-primary .panel-heading a small { color: #81eed8 }
.panel-primary .panel-heading a:hover small { color: #fff }
.h_search_form { background-color: #222 }
.h_search_form .btn,
.h_search_form .form-control { color: #fff }
.h_search_form .form-control:focus { color: #fff }
.theme-form-group { background-color: rgba(255, 255, 255, 0.5) }
.theme-form-group .form-control { color: #fff }
.theme-form-group .form-control::-webkit-input-placeholder { color: #fff }
.theme-form-group .form-control::-moz-placeholder { color: #fff }
.theme-form-group .form-control:-ms-input-placeholder { color: #fff }
.theme-form-group .form-control:focus { color: #fff }
.form-control .input-lg::-webkit-input-placeholder { color: #222}
.form-control .input-lg::-moz-placeholder { color: #222}
.form-control .input-lg:-ms-input-placeholder { color: #222}

.form-control {
    border: 1px solid #909090;
    background: #fff;
    color: #222;
}
.form-control:focus { border-color: #909090 }
.form-control.error {
    border-color: #d9534f;
    color: #d9534f;
}
.form-control.primary {
    border-color: #CF1E75;
    background: #CF1E75;
    color: #fff;
}
label.error { color: #d9534f }
.form-gray-fields .form-control {
    background-color: #f2f2f2;
    border-color: #e9e9e9;
    color: #333;
}
.form-gray-fields .form-control:focus { background-color: #eee }
.pager li>a,
.pager li>span { border: 2px solid #eee }
.pager li>span,
.pager li>a:hover {
    background: #CF1E75;
    border-color: #CF1E75;
    color: #fff;
}
.pager.custom li>span,
.pager.custom li>a:hover {
    color: #CF1E75;
    background: 0 0;
}
.pagination>li>a,
.pagination>li>span { color: #CF1E75 }
.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus { color: #0e6252 }
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background: #CF1E75;
    border-color: #CF1E75;
    color: #fff;
}
#footer { color: #fff }
#footer a { color: #909090 }
#footer a:hover { color: #fff }
#footer .inner { background: #222 }
#footer .copyright { background: #171717 }
#footer small { color: #909090 }
#footer .widget-title { color: #fff }
#footer .widget-post li .date-post { border: 3px solid #fff }
#footer .widget-post li .date-post small,
#footer .widget-post li .title-post { color: #fff }
#footer .widget_archive li { border-bottom: 1px solid #555 }
#footer .form-control { border: 1px solid #555 }
#footer .form-control:focus {
    border-color: #fff;
    color: #fff;
}
#back_to_top a {
    color: #fff;
    background: #555;
}
#back_to_top a:hover { background: #555 }
.col-content { background: #eee }
.error-404,
.error-500 { background-color: #eee }
.error-404:before,
.error-500:before { color: rgba(0,0,0,.04) }
p.browsehappy {
    background: #CF1E75;
    color: #81eed8;
}
p.browsehappy a { color: #fff }
@media (max-width:767px) { 
    .navbar .service-nav .dropdown-menu.widget-box { background: #fff }
    .navbar-nav>li>a,
    .navbar-nav .open .dropdown-menu>li>a,
    .yamm-content .widget .cat-item a { border-bottom: 1px solid #555!important }
    .navbar-standard .navbar-collapse.collapse,
    .navbar-light .navbar-collapse.collapse,
    .navbar-dark .navbar-collapse.collapse,
    .navbar-semidark .navbar-collapse.collapse,
    .navbar-primary .navbar-collapse.collapse { background: #151515 }
    .navbar-standard .navbar-collapse.collapse .navbar-nav>li>a,
    .navbar-light .navbar-collapse.collapse .navbar-nav>li>a,
    .navbar-dark .navbar-collapse.collapse .navbar-nav>li>a,
    .navbar-semidark .navbar-collapse.collapse .navbar-nav>li>a,
    .navbar-primary .navbar-collapse.collapse .navbar-nav>li>a { color: #fff }
    .navbar-standard .navbar-collapse.collapse .navbar-nav>li>a:hover,
    .navbar-light .navbar-collapse.collapse .navbar-nav>li>a:hover,
    .navbar-dark .navbar-collapse.collapse .navbar-nav>li>a:hover,
    .navbar-semidark .navbar-collapse.collapse .navbar-nav>li>a:hover,
    .navbar-primary .navbar-collapse.collapse .navbar-nav>li>a:hover,
    .navbar-standard .navbar-collapse.collapse .navbar-nav>li>a:focus,
    .navbar-light .navbar-collapse.collapse .navbar-nav>li>a:focus,
    .navbar-dark .navbar-collapse.collapse .navbar-nav>li>a:focus,
    .navbar-semidark .navbar-collapse.collapse .navbar-nav>li>a:focus,
    .navbar-primary .navbar-collapse.collapse .navbar-nav>li>a:focus,
    .navbar-standard .navbar-collapse.collapse .navbar-nav>li.active>a,
    .navbar-light .navbar-collapse.collapse .navbar-nav>li.active>a,
    .navbar-dark .navbar-collapse.collapse .navbar-nav>li.active>a,
    .navbar-semidark .navbar-collapse.collapse .navbar-nav>li.active>a,
    .navbar-primary .navbar-collapse.collapse .navbar-nav>li.active>a,
    .navbar-standard .navbar-collapse.collapse .navbar-nav>li.active>a:hover,
    .navbar-light .navbar-collapse.collapse .navbar-nav>li.active>a:hover,
    .navbar-dark .navbar-collapse.collapse .navbar-nav>li.active>a:hover,
    .navbar-semidark .navbar-collapse.collapse .navbar-nav>li.active>a:hover,
    .navbar-primary .navbar-collapse.collapse .navbar-nav>li.active>a:hover,
    .navbar-standard .navbar-collapse.collapse .navbar-nav>li.active>a:focus,
    .navbar-light .navbar-collapse.collapse .navbar-nav>li.active>a:focus,
    .navbar-dark .navbar-collapse.collapse .navbar-nav>li.active>a:focus,
    .navbar-semidark .navbar-collapse.collapse .navbar-nav>li.active>a:focus,
    .navbar-primary .navbar-collapse.collapse .navbar-nav>li.active>a:focus { color: #CF1E75 }
    .navbar-collapse.collapse .navbar-toggle,
    .navbar-collapse.collapse .opaque .navbar-toggle { color: #fff }
}

/*custom*/
.middle{
	margin: auto;
}
.placeholder{
	padding-top: 15px;
}
.btn-search{
	background: transparent;
	outline: none;
	border-color: transparent;
}
.fa-search{
	color: #444;
}
.fa-search:hover{
	color: #000;
}
.col-white{
    color: white;
}
.col-pink{
    color: #CF1E75;
}
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    float: left;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 200px;
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 12px;
    line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 120%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
.slide-small-width{
    height: 90%!important;
}
.boutique-logo{
    height: 150px;
    width: 150px;
    border: 0;
    border-radius: 0;
    margin: 0px;
    position: relative;
    left: auto;
    bottom: auto;
}
a.favourite{
    width: 100%;
}
.favourite a{
    color: #ddd;
}   
.favourite a:hover, .favourite a:active{
    color: #CF1E75;
}
.stores{
    background: #fff;
}
.boutique{
    height: 600px!important;
}
.nav-product{
    border-bottom: 1px solid #ddd;
}
.product-nav a#dropdownMenuLogin, .product-nav a#dropdownMenuCart{
    color: #909090;
}
.product-nav a#dropdownMenuLogin, .product-nav a#dropdownMenuCart{
    color: #FFF;
}
.btn-primary{
    outline: none!important;
}
.theme-pink{
    background: #CF1E75;
}
.theme-pink .btn:hover{
    background: transparent;
}
.theme-pink .fa-search{
    color: #ddd;
}
.theme-pink .fa-search:hover{
    color: #fff;
}
.boutique-description{
    font-family: 'Georgia';
    color: #fff;
    padding: 0 20px;
    line-height: 22px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.mobview{
    display: none;
}
.description{
    text-align: left;
}
.dark{
    background: #CF1E75;
    color: #fff;
    text-align: center;
}
.price{
    text-align: center;
}
.stitchable{
    text-align: center;
}
.stchnow{
    display: inline-block;
    margin: 10px 0 10px 50px;
}
.stchbtn{
    text-align: center;
}
.modal-title{
    text-align: center;
}
.col-md-6.sep-top-sm.sep-bottom-sm:hover{
    box-shadow: 3px 4px 10px 0px #808080;
}
.col-md-6.sep-top-sm.sep-bottom-sm{
    box-shadow: 1px 1px 1px 0px #808080;
}
.paginator{
    margin-top: 20px;
}

/*profile page*/
img.profile-image{
  display: block;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0px 1px 0px 10px #BA1D6A;
}
.profile-name{
  display: block;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  color: #fff;
}
.profile-user {
  background: #CF1E75;
  padding: 0px 0px;
  border-radius: 15px;
}
/*end profile page*/


/*media query starts*/

@media (max-width: 760px){

.accordian-mobile{display: block!important;}
.profile .main{display: none;}

}

@media (max-width: 480px){
    
.boutique-description{
    font-family: 'Georgia';
    color: #fff;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;}
.boutique-logo{
    height: 120px;
    width: 120px;}
.mobview{
    display: block!important;
    padding: 5px 20px}
.sl-slide .btn {
  margin: 0 -15px 0 5px;}
div#tab-content3, div#tab-content3, div#tab-content3{position: relative;}
.profile .main{display: none;}
.accordian-mobile{display: block!important;}
}

/*end media query*/
.accordian-mobile{display: none;}
.cart .navbar-standard .navbar-nav .badge { background: #fff; color: #CF1E75; }
.stitching .navbar-standard .navbar-nav .badge { background: #fff; color: #CF1E75; }
.cart .navbar-standard.opaque .navbar-nav .badge { background:#CF1E75; color: #fff; }
.stitching .navbar-standard.opaque .navbar-nav .badge { background:#CF1E75; color: #fff; }
.product .product-nav a#dropdownMenuLogin, .product-nav a#dropdownMenuCart { color: #909090;}
.cart-page .product-nav a#dropdownMenuLogin, .product-nav a#dropdownMenuCart { color: #909090;}
.cart-page .navbar-standard .navbar-nav>li>a{color: #909090}
.profile .navbar-standard .navbar-nav>li>a{color: #909090}
.product .navbar-standard .navbar-nav>li>a{color: #909090}
.home .nav-product{border: none;}
img.signed-user {
  width: 30px;
  border-radius: 50%;
  margin: 10px;
}
ul.nav i.fa{
    padding-right:7px!important; 
}
/*custom ends*/

/* Custom Stylesheet */

/* Tabs Demo 1 */
.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 75px auto;
}
.tabs li{
  float: left;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #CF1E75;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


[id^=tab]:checked + label {
  background: #CF1E75;
  color: white;
  top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.profile .tab-content{
/*  z-index: 2;
  display: none;
  text-align: left;
  border-top: 3px solid  #CF1E75;
  width: 100%;
  line-height: 140%;
  padding-top: 10px;
  padding: 15px;
  color: white;
  position: absolute;
  top: 53px;
  left: 0;
  box-sizing: border-box;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;*/
}

.tab-label{
    font-size: 16px;
}
.form-group label{
    font-size: 14px;
    color: #333;
}
.hiddenRow {
    padding: 0 !important;
}
.company-profile .col-md-6{
    padding: 10px;
    margin: 5px 0px; 
    font-size: 14px;
    color: #333;
}
.prof-title{
    background: #CF1E75;
    color: #fff!important;
}
.tailor-image{
    width: 150px;
    border-radius: 50%;
}
.stitching .form-button{
    margin-top: 10px;
}
.stitching .form-button a.btn.btn-primary.btn-xs.upper.col-md-12 {
  margin: 10px;
  padding: 10px 0;
  font-size: 9px;
}
.stitching .border-2x{border: 5px solid #CF1E75;}
.stitching .border{border: 2px solid #CF1E75;}
.stitching .nav-arrows span.nav-arrow-prev{left: 5%; border-right: none; border-top: none;}
.stitching .nav-arrows span.nav-arrow-next{right: 5%; border-left: none; border-bottom: none;}
.stitching .nav-arrows span {border: 1px solid #CF1E75;}
.stitch-about p{font-size: 12px}
.stitch-about {margin-top: 10px;}
.stitch-about span.upper{display: block; text-align: center;}
.stitch-form p{font-size: 12px; text-align: center;}
.stitch-form {margin-top: 10px;text-align: center;}
.stitch-form span.upper{display: block; text-align: center;}
h3.text-center.selection{padding-bottom: 15px; border-bottom: 3px solid #CF1E75}
.available-shop{
  border: 2px solid #CF1E75;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;}
button.btn.btn-primary.tailor-btn {
  background: none;
  color: #333;
  border-radius: 10px;
  text-align: center;
  padding: 7px 30px;
  border: 1px solid #CF1E75;
  margin-bottom: 5px;}
button.btn.btn-primary.tailor-btn:hover {background: #CF1E75; color: #fff}
.action-btn{padding: 10px 25px;}
.inline{display: inline;}
img.measure{
    width: 100%;
    height: 300px;
}
.stitching-tab{
    padding-top: 5px;
}
.feature-box{
    padding: 10px;
}
.feature-box img{border:3px solid #CF1E75;}
.card-title{
    border-bottom: 1px solid #909090;
  padding-bottom: 10px;
}
.icon-card .fa{
    background: #CF1E75;
  color: #fff;
  padding: 3px 10px;
}
.place-btn .well{margin-right: 5px;background-color:#CF1E75;border-color:#CF1E75;color: #fff; text-align: center; }
.tabs-menu {
}

.stitching .tabs-menu li {
    height: 60px;
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    float: left;
    margin-right: 10px;
    background-color: #CF1E75;
    border-top: 1px solid #CF1E75;
    border-right: 1px solid #CF1E75;
    border-left: 1px solid #CF1E75;
    text-align: center;
    position: relative!important;
    z-index: 5!important;
}


.stitching ul{list-style: none;}
.stitching .tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.stitching .tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none!important; 
    padding: 50px 75px;
}

.stitching .tabs-menu .current a {
    color: #333;
}

.stitching .tab {
    background-color: #fff;
    margin-bottom: 20px;
    width: auto;
}
.selected-tailor{
    width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}
.tab-content {
    padding: 20px;
    display: none;
    position: relative;
}

.stitching #tab-1 {
 display: block;   
}
.address{
    font-weight: 15px;
    color: #333;
}
.address-text{
    font-size: 20px;
    color: #333;
}
.stitching-tab a{
    padding: 0 10px!important;
    margin: 10px 5px!important;
    border: 1px solid;
    border-top: 1px solid !important;
}
.stitching-tab a:hover{
    background: #fff!important;
    color: #333!important;
    border: 1px solid #fff;
}
.tailors .place-btn .action-button a{
   font-size: 9px;
  margin: 10px;
  padding: 10px;
}
.action-control .action-button{
    float: right;
    display: inline-block;
    margin: 0 5px;
}
.product-image{text-align: center;}
.pattern-image{width: 100px;border-radius: 50%;}
.modal-body .row .bg-primary .btn{padding: 15px 0; border: none;}
.modal-body .row .bg-primary .btn .pattern-image:hover{border: 3px solid #fff;padding: 3px;}
#myModal2 .modal-content{width: 60%; margin: 0 auto; border: none;}
#myModal2 .modal-header,#myModal2 .modal-footer{text-align: center;border: none;}
.item-success{display: inline-block;padding: 20px 30px;}
#myModal2 .btn-default{margin-right: 40px;}
.prod-btn{display: inline-block;margin-left: 10px;}
.ad img{width: 100%; height: 500px;}
.block-title{
  text-align: center;
  border: 1px solid;
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  text-transform: uppercase;
}
.inline-block{
    display: inline-block;
    vertical-align: middle;
    padding-top: 25px;
}
.inline-block a{
    width: auto!important;
    display: inline-block;
    vertical-align: middle;
}
.nav-right{
    display: inline-block!important;
    float: right;
}
.fav{
    margin-left: 10px;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
}
.navbar-standard.opaque .fav{ color: #434343;}
.navbar-standard.opaque .inline-block{padding-top: 19px;}