.profile-user {
    background: none repeat scroll 0 0 #cf1e75;
    border-radius: 0;
    height: 100%;
    padding: 0;
}
.profile-box {
    height: 600px;
}
.profile-name.address-email {
    color: #ffffff;
    font-size: 17px;
    padding: 1px;
}
.profile-name.address-email {
    color: #ffffff;
    font-size: 17px;
    padding: 1px;
}
.profile-name.address-profile {
    font-size: 16px;
    margin-top: 0;
    padding: 0;
}
.measure-box {
    background-color: #222222;
    height: 600px;
    overflow: auto;
}
#tab-content3 {
    display: block;
border: none;
}
#contactForm {
    margin: 0 auto;
    width: 70%;
}
.profile .tab-content
{
top: 0px !important;
}
#btn_edit{
	padding-top:10px;
}
.edit_btn{
	background:#333;
}
.edit_btn:hover{
	background:#666;
}
.box{
	padding:20px;
}
.box-head {
    background-color: #eee;
    padding:10px 20px;
	margin-bottom:10px;
}
.box-head h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
	color: #222;
}
.box-content {
    padding: 15px 20px;
	background-color: #fbfbfb;
}